Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @thanashyam, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @prakash-chokalingam, @shankar-ganesh, @akshayasrikanth, @paschalraj, @hrishikesh-p

FD-44070: Destroy associated source data on account destroy (#8146)
  lib/freshdesk_core/model.rb
Owners: none

[Bug] [FD-47689] searching-kbase-article (#8039)
  api/app/controllers/api_search/solutions_controller.rb
  api/app/delegators/api_solutions/draft_delegator.rb
  test/api/functional/ember/solutions/drafts_controller_test.rb
Owners: none

[User Story] [FD-46346] Observer for service tasks (#8063)
  app/models/helpdesk/ticket.rb
  app/models/helpdesk/ticket/callbacks.rb
  app/models/va_rule.rb
  app/workers/tickets/observer_worker.rb
  app/workers/tickets/send_and_set_worker.rb
  app/workers/tickets/service_task_observer_worker.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  deploy/config/erb/sidekiq_classification.yml.erb
  deploy/config/sidekiq_config.rb
  lib/cache/memcache/account.rb
  lib/cache/memcache/va_rule.rb
  lib/helpdesk/bulk_action_methods.rb
  lib/memcache_keys.rb
  lib/va/observer/constants.rb
  lib/va/observer/util.rb
  test/api/sidekiq/admin/observer_worker_test.rb
  test/api/sidekiq/admin/service_task_observer_worker_test.rb
Owners: none

[Security Bug] FD-48710 : Authenticity Token Security Fix (#8138)
  app/models/portal.rb
  app/views/support/_search.html.erb
  public/javascripts/security.js
Owners: none

[Bug] FD-48282 - Allow Estate 2019 to Estate Omni 2019 and Garden 2019 to Garden Omni 2019 upgrades (#8182)
  app/controllers/subscriptions_controller.rb
  app/models/subscription_plan.rb
  app/views/subscriptions/_select_new_plans.html.erb
  app/views/subscriptions/state/_active.html.erb
Owners: none

[L4 Bug] FD-46673 supervisor multi-run fix (#8161)
  lib/cron_webhooks/scheduler_helper.rb
  lib/tasks/scheduler.rake
  spec/support/user_helper.rb
  test/api/functional/api_agents_controller_test.rb
  test/api/sidekiq/admin/dispatcher_worker_test.rb
  test/api/sidekiq/admin/observer_worker_test.rb
  test/core/helpers/automation_rules_test_helper.rb
Owners: none

[User Story] [FD-45650] Bulk action for segment visibilities (#8048)
  api/app/controllers/api_solutions/folders_controller.rb
  api/app/controllers/concerns/solution_bulk_action_concern.rb
  api/app/controllers/constants/solution_constants.rb
  api/app/controllers/decorators/solutions/folder_decorator.rb
  api/app/controllers/validations/api_solutions/folder_validation.rb
  api/app/controllers/validations/ember/folder_bulk_update_validation.rb
  api/app/delegators/api_solutions/folder_bulk_update_delegator.rb
  api/app/delegators/api_solutions/folder_delegator.rb
  app/models/solution/folder_meta.rb
  test/api/functional/api_solutions/folders_controller_test.rb
  test/api/functional/ember/solutions/folders_controller_test.rb
  test/api/helpers/solutions_test_helper.rb
Owners: none

FD-45500: Show all my tickets for myself filter (#8187)
  app/controllers/support/archive_tickets_controller.rb
  app/controllers/support/tickets_controller.rb
Owners: none

[Security Bug] FD-42763 Remove 'disable SSL' option from Admin page (#8002)
  app/helpers/application_helper.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/views/admin/security/index.html.erb
  config/locales/en.yml
  config/locales/mint_translations/en.yml
  public/src/app/app-common.scss
Owners: @prakash-chokalingam, @rajasegar-c

[User Story] FD-47289 : Handling ticket field limit increase for FSM (#8066)
  api/app/delegators/advanced_ticketing_delegator.rb
  api/lib/error_messages.yml
  api/lib/query_hash.rb
  app/controllers/subscriptions_controller.rb
  app/models/helpdesk/filters/custom_ticket_filter.rb
  lib/filter_factory/filter/es_cluster_helper_methods.rb
  lib/filter_factory/filter/mappings.rb
  lib/helpdesk/ticketfields/picklist_value_transformer/base.rb
  lib/helpdesk/ticketfields/picklist_value_transformer/string_to_id.rb
  lib/search/dashboard/query_helper.rb
  lib/search/filters/es_query_methods.rb
  lib/search/ticket_search.rb
  test/api/functional/ember/admin/advanced_ticketing_controller_test.rb
  test/api/functional/ember/tickets_controller_list_test.rb
  test/api/helpers/query_hash_helper.rb
  vendor/gems/has_flexiblefields/app/models/ticket_field_data.rb
Owners: @shankar-ganesh, @akshayasrikanth

[Technical Story] FD-49969 - added put for IAM authenticate route (#8232)
  config/api_routes.rb
  test/api/functional/channel/v2/iam/authentication_controller_test.rb
Owners: none

[Bug] FD-49845 clear child level cache on nested field save (#8195)
  app/models/helpdesk/ticket_field.rb
  lib/cache/memcache/helpdesk/ticket_field.rb
  lib/memcache_keys.rb
Owners: none

[Bug] FD-48750 Freshsales search api fix and Removing add accounts (#8233)
  lib/integration_services/services/freshsales/freshsales_common_resource.rb
  test/api/functional/ember/installed_applications_controller_test.rb
Owners: none

[Technical Story] FD-47085 : Source fixtures for new signups (#8185)
  db/fixtures/foreground/034_default_sources.rb
  db/migrate/20200416101712_update_index_for_choices.rb
  db/schema.rb
  lib/redis/keys/others.rb
Owners: @venkatesanmurali, @thanashyam

[Bug] FD-48750 Freshsales search api fix and Removing add accounts (#8233)
  lib/integration_services/services/freshsales/freshsales_common_resource.rb
  test/api/functional/ember/installed_applications_controller_test.rb
Owners: none

FD-46819: Brakeman file change (#8222)
  config/brakeman.ignore
Owners: none

[L4 Bug] FD-48369 Translation issue fix on social page twitter handle field placeholder (#8234)
  app/views/social/welcome/index.html.erb
  config/locales/mint_translations/en.yml
Owners: none

[Technical Story] [FD-47775] Swagger spec for enabling map view feature (#8197)
  swagger/definitions/request/field_service_management/save_settings.yaml
  swagger/definitions/response/bootstrap/account.yaml
  swagger/paths/field_service_management/save_settings.yaml
Owners: none

FD-31773-Add company with tam fields from requester widget (#8219)
  api/app/controllers/ember/tickets/requester_controller.rb
  test/api/functional/ember/tickets/requester_controller_test.rb
Owners: none

INFRA-3533: Domain Details for Multi Shell Routing (#8240)
  app/workers/cron_webhooks/traffic_switch_fetch_accounts.rb
Owners: none

[L4 Bug] [FD-45880] Todo remainder dkim config (#8223)
  app/mailers/todos_reminder_mailer.rb
Owners: none

FD-49750 : Not allowing alphanumeric ticket ids (#8203)
  config/api_routes.rb
  test/api/functional/ember/tickets_controller_test.rb
Owners: none

[Technical Story] [FD-48747] Invalidating cache and Etags for Marketplace Apps (#8155)
  app/controllers/integrations/marketplace_apps_controller.rb
  config/routes.rb
  test/app/controllers/integrations/marketplace_apps_controller_test.rb
Owners: none

[User Story] FD-41120 - Customer survey results in contact timeline (#8136)
  api/app/controllers/ember/contacts_controller.rb
  api/app/views/ember/contacts/timeline.json.api
  lib/hyper_trail/activity_object/custom_activity.rb
  lib/hyper_trail/activity_object/freshdesk_activity.rb
  lib/hyper_trail/activity_object/post_activity.rb
  lib/hyper_trail/activity_object/survey_activity.rb
  lib/hyper_trail/activity_object/ticket_activity.rb
  lib/hyper_trail/data_transformer/activity_data_transformer.rb
  lib/hyper_trail/data_transformer/post_data_transformer.rb
  lib/hyper_trail/data_transformer/survey_result_data_transformer.rb
  lib/hyper_trail/data_transformer/ticket_data_transformer.rb
  lib/hyper_trail/response.rb
  lib/hyper_trail/timeline.rb
  test/api/functional/ember/contacts_controller_test.rb
  test/api/helpers/timeline_test_helper.rb
  test/api/helpers/users_test_helper.rb
Owners: none

FD-50177 Fix Portal update issue for non-US customers (#8247)
  app/models/portal.rb
Owners: none

[Technical Story] FD-49856 Tags index - Reduce per page limit (#8206)
  app/controllers/helpdesk/tags_controller.rb
Owners: none

[Task] FD-49406: swagger for agent status (#8209)
  swagger/definitions/index.yaml
  swagger/definitions/request/agent_statuses.yaml
  swagger/definitions/resource/agent_statuses.yaml
  swagger/definitions/response/agent_statuses.yaml
  swagger/paths/agent-statuses/list_and_create.yaml
  swagger/paths/agent-statuses/read_update_delete.yaml
  swagger/paths/index.yaml
  swagger/swagger.json
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[User Story] FD-48980 Added preferred_source and csat_rating in public contact api (#8202)
  api/app/controllers/decorators/contact_decorator.rb
  api/app/views/api_contacts/create.json.api
  api/app/views/api_contacts/index.json.api
  api/app/views/api_contacts/show.json.api
  api/app/views/api_contacts/update.json.api
  test/api/functional/api_contacts_controller_test.rb
  test/api/helpers/users_test_helper.rb
Owners: none

[FD-48778] :bug: Use language key to get folder (#8107)
  api/app/controllers/decorators/solutions/article_decorator.rb
  api/app/controllers/decorators/solutions/category_decorator.rb
  api/app/controllers/decorators/solutions/folder_decorator.rb
  test/api/functional/channel/v2/api_solutions/articles_controller_test.rb
  test/api/helpers/solutions_test_helper.rb
Owners: none

[User Story] FD-44930 : v1 to v2 freshops fp (#8116)
  app/controllers/fdadmin/accounts_controller.rb
  app/workers/admin/fdadmin_freshid_migration_worker.rb
  config/freshid_v2.yml
  config/routes.rb
  deploy/config/erb/freshid_v2.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/freshid/fdadmin/freshdesk_to_freshid_migration.rb
  lib/freshid/fdadmin/freshid_v1_to_v2_migration.rb
  lib/freshid/fdadmin/freshid_validate_and_fix.rb
  lib/freshid/fdadmin/migration_helper.rb
  lib/freshid/fdadmin/validate_v1.rb
  lib/helpdesk/initializers/load_config.rb
Owners: none

[Bug] FD-49374 Bug fix for portal changes (#8141)
  app/models/account_additional_settings.rb
  test/models/presenters/account_test.rb
Owners: none

[User Story] FD-49672 - Move AI/ML features to Forest (#8176)
  app/models/account/callbacks.rb
  config/features/plans.yml
Owners: none

FD-50115 euc archive sidekiq host (#8245)
  deploy/config/settings-production-eu-central-1.ejson
Owners: none

FD-49540 index for api_product in admin_tasks (#8231)
  config/privileges.rb
Owners: none

FD-32768 count mismatch in csat survey due to timezone issue fix (#8189)
  api/app/controllers/ember/dashboard_controller.rb
Owners: none

[User Story, Exception] [FD-44503][FD-44559][FD-44567][FD-44568][FD-49618] SLA based routing in OCR (#8170)
  api/app/controllers/channel/omni_channel_routing/groups_controller.rb
  app/models/helpdesk/ticket.rb
  app/models/helpdesk/ticket/callbacks.rb
  test/api/functional/channel/omni_channel_routing/groups_controller_test.rb
Owners: none

[User Story] FD-45389 - Freshid sso sync (#8124)
  Gemfile
  Gemfile.lock
  app/controllers/admin/security_controller.rb
  app/controllers/freshid_controller.rb
  app/controllers/support/login_controller.rb
  app/helpers/support_helper.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/account/sso_methods.rb
  app/models/account/validations.rb
  app/views/admin/security/index.html.erb
  app/views/support/login/_form.html.erb
  lib/freshid/controller_methods.rb
  lib/freshid/v2/event_processor_extensions.rb
  lib/helpdesk/initializers/freshid.rb
  lib/sso_util.rb
  test/lib/sso_methods_test.rb
  test/lib/unit/event_processor_extension_test.rb
Owners: none

[Security Bug] [FD-49295]: Feedback widget security bug (#8169)
  api/app/controllers/account_admins_controller.rb
  api/app/controllers/constants/account_admin_constants.rb
  api/app/controllers/validations/account_admin_validation.rb
  app/controllers/widgets/feedback_widgets_controller.rb
  app/helpers/widgets/feedback_widgets_helper.rb
  app/models/account/associations.rb
  app/models/account_additional_settings.rb
  app/views/admin/widget_config/_embedded_widget.html.erb
  app/views/admin/widget_config/_popup_widget.html.erb
  app/views/admin/widget_config/index.html.erb
  app/views/widgets/feedback_widgets/new.html.erb
  test/api/functional/account_admins_controller_test.rb
  test/app/controllers/widgets/feedback_widgets_controller_test.rb
Owners: none

[User Story] FD-49456: Prevent duplicates from associations being published (#8154)
  Gemfile
  Gemfile.lock
  app/models/user.rb
  app/models/user/associations.rb
  app/models/user/esv2_methods.rb
  app/models/user_company.rb
  config/environments/staging.rb
  lib/central_constants.rb
Owners: none

[Technical Story] FD-48981 Create Webhook limit breach, Webhook failure alerts in prometheus (#8162)
  api/app/controllers/constants/admin/automation_constants.rb
  app/models/account/features.rb
  app/workers/central_publish/cre_central_util.rb
  app/workers/central_publish/cre_central_worker.rb
  app/workers/webhook_v1_worker.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  deploy/config/erb/sidekiq_classification.yml.erb
  deploy/config/sidekiq_config.rb
  lib/middleware/sidekiq/server/throttler.rb
  test/api/sidekiq/central_publish/cre_central_util_test.rb
  test/api/sidekiq/central_publish/cre_central_worker_test.rb
  test/api/sidekiq/webhook_v1_worker_test.rb
  test/lib/helpers/va_rules_test_helper.rb
  test/lib/throttler_test.rb
Owners: none

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @thanashyam
db/migrate/*.rb @venkatesanmurali @thanashyam

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @prakash-chokalingam @rajasegar-c
api/lib/error_messages.yml @shankar-ganesh @akshayasrikanth

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p
