Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

FD-12393 - Audit Log - Pushing readable names to Central (#2380)
  Gemfile
  Gemfile.lock
  api/app/controllers/constants/audit_log_constants.rb
  api/app/controllers/helpers/audit_log/agent_helper.rb
  api/app/controllers/helpers/audit_log/audit_log_helper.rb
  api/app/controllers/helpers/audit_log/automation_helper.rb
  api/app/controllers/helpers/audit_log/subscription_helper.rb
  app/models/agent/associations.rb
  app/models/agent/constants.rb
  app/models/agent/presenter.rb
  app/models/subscription/presenter.rb
  app/models/va_rule/presenter.rb
  app/views/agents/_agent_form.html.erb
  config/locales/en.yml
  lib/cache/memcache/account.rb
  lib/ticket_constants.rb
  lib/va/constants.rb
  lib/va/performer.rb
  test/api/functional/audit_logs_controller_test.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth

FD-4239: contact timeline v1 (#1989)
  api/app/controllers/concerns/customer_activity_concern.rb
  api/app/controllers/constants/feature_constants.rb
  api/app/controllers/ember/contacts_controller.rb
  api/app/views/ember/contacts/timeline.json.api
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/post.rb
  config/api_privileges.rb
  config/api_routes.rb
  config/hyper_trail.yml
  lib/hyper_trail/timeline.rb
  spec/support/forum_helper.rb
  swagger/definitions/index.yaml
  swagger/definitions/response/contacts/post.yaml
  swagger/definitions/response/contacts/ticket.yaml
  swagger/definitions/response/contacts/timeline.yaml
  swagger/paths/contacts/timeline.yaml
  swagger/paths/index.yaml
  swagger/swagger.json
  test/api/functional/ember/contacts_controller_test.rb
  test/api/helpers/timeline_test_helper.rb
  test/api/helpers/users_test_helper.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[FD-5813, FD-12266] Attachment name gets converted to unicode when cloning, 304 caching Bootstrap Agent-groups (#2363)
  api/app/controllers/ember/bootstrap/agents_groups_controller.rb
  api/app/views/ember/bootstrap/agents_groups/index.json.api
  app/models/account/features.rb
  app/models/agent.rb
  app/models/agent_group.rb
  app/models/group.rb
  app/models/helpdesk/attachment.rb
  app/observers/topic_observer.rb
  app/workers/merge_tickets_attachments.rb
  config/api_privileges.rb
  config/api_routes.rb
  lib/helpdesk/bulk_reply_tickets.rb
  lib/helpdesk_controller_methods.rb
  lib/ticket/child_ticket_worker.rb
  test/api/functional/ember/bootstrap/agents_groups_controller_test.rb
  test/api/functional/ember/bootstrap_controller_test.rb
  test/api/integration/flows/agents_groups_flow_test.rb
  test/api/integration/flows/private_api_flows_test.rb
Owners: none

[FD-5813, FD-12266] Attachment name gets converted to unicode when cloning, 304 caching Bootstrap Agent-groups (#2377)
  app/models/account/features.rb
  app/models/agent.rb
  app/models/agent_group.rb
  app/models/group.rb
  app/models/helpdesk/attachment.rb
  app/observers/topic_observer.rb
  app/workers/merge_tickets_attachments.rb
  lib/helpdesk/bulk_reply_tickets.rb
  lib/helpdesk_controller_methods.rb
  lib/ticket/child_ticket_worker.rb
Owners: none

FD-11363 Ticket to topic last 5 conversations bug (#2361)
  app/views/helpdesk/notes/public_conversation.html.erb
  public/javascripts/app/discussions/new_topic.js
Owners: none

FD-10440 Sample data onboarding non industry (#2128)
  app/models/account/constants.rb
  app/models/signup.rb
  app/views/admin/observer_rules/_rule_form.html.erb
  app/views/admin/shared/_rule_form.html.erb
  app/views/admin/supervisor_rules/clone_rule.html.erb
  app/views/admin/supervisor_rules/edit.html.erb
  app/views/admin/supervisor_rules/new.html.erb
  app/views/admin/va_rules/clone_rule.html.erb
  app/views/admin/va_rules/edit.html.erb
  app/views/admin/va_rules/new.html.erb
  app/workers/account_creation/populate_seed_data.rb
  config/default_data.yml
  config/helpdesk_initializers.yml
  config/locales/en.yml
  db/fixtures/background/015_dispatchr_rules.rb
  db/fixtures/background/017_supervisor_rules.rb
  db/fixtures/background/042a_default_canned_response_template.rb
  db/fixtures/background/092_default_ticket_templates.rb
  db/fixtures/background/093_default_forum_topics.rb
  db/fixtures/foreground/004_integrations.rb
  db/fixtures/foreground/014_groups.rb
  db/fixtures/foreground/015_dispatchr_rules.rb
  db/fixtures/foreground/016_scn_automations.rb
  db/fixtures/foreground/017_supervisor_rules.rb
  db/fixtures/foreground/017_va_observer_rules.rb
  db/fixtures/foreground/021_solutions.rb
  db/fixtures/foreground/031_forum.rb
  db/fixtures/foreground/032_forum_moderators.rb
  db/fixtures/foreground/040_email_notifications.rb
  db/fixtures/foreground/043_agent_invite_notification.rb
  db/fixtures/foreground/052_default_feedback_widget_ticket.rb
  db/fixtures/foreground/060_wf_filters.rb
  db/fixtures/foreground/070_scoreboard.rb
  db/fixtures/foreground/080_quests.rb
  db/fixtures/foreground/091_oauth_applications.rb
  lib/fixtures/default_forum_topics.rb
  lib/helpdesk/initializers/default_data_config.rb
  vendor/gems/seed-fu/lib/seed-fu.rb
Owners: @akshayasrikanth

FD-12642 Fixes UI breakage in survey email (#2412)
  app/views/layouts/shared/_survey.html.erb
Owners: none

FD-12642 Fixes UI breakage in survey email (#2411)
  app/views/layouts/shared/_survey.html.erb
Owners: none

FD-11423 Sensitive Data Exposure - Due to Fragment Cache Enabled
  app/views/support/tickets/_request_form.html.erb
  lib/store_helper.rb
Owners: none

[FD-12282]-Change error message for virus scan (#2408)
  config/locales/en.yml
Owners: @akshayasrikanth

[FD-12282] - Change error message for virus scan (#2409)
  api/lib/error_messages.yml
  config/locales/en.yml
Owners: @shankar-ganesh, @akshayasrikanth

[FD-12666] Fixes csat options alignment issue (#2414)
  app/views/layouts/shared/_survey.html.erb
Owners: none

[FD-12112] Silent logging for User search in FreshID (#2420)
  Gemfile
  Gemfile.lock
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

[FD-12112] Silent logging for User search in FreshID (#2339)
  Gemfile
  Gemfile.lock
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

[FD-23] Sandbox ticket field status and ticket template fix (#2394)
  api/app/controllers/admin/sandboxes_controller.rb
  app/views/admin/sandbox_mailer/_diff_content.html.erb
  db/fixtures/background/042a_default_canned_response_template.rb
  db/fixtures/background/092_default_ticket_templates.rb
  lib/sandbox_helper.rb
  lib/search_service/client.rb
  lib/sync/data_to_file/save_files.rb
  lib/sync/data_to_file/transformer.rb
  lib/sync/file_to_data/transformer.rb
  lib/sync/transformer/va_rule.rb
  script/MultijobJenkinsfile
Owners: none

[FD-23] Helpkit sandbox search issue fix (#2405)
  db/fixtures/background/042a_default_canned_response_template.rb
  db/fixtures/background/092_default_ticket_templates.rb
  lib/search_service/client.rb
Owners: none

FD-12825 Missing of a constant in social constants (#2427)
  lib/social/constants.rb
Owners: none

FD-12825 Missing of a constant in social constants (#2427)
  lib/social/constants.rb
Owners: none

FD-12825 Missing of a constant in social constants (#2427)
  lib/social/constants.rb
Owners: none

[FD-12346] Multiple BCC in email config breaks (#2416)
  app/views/admin/account_additional_settings/_bcc_email.html.erb
Owners: none

FD-66 Announcements widget for custom dashboards (#2317)
  api/app/controllers/concerns/custom_dashboard_concern.rb
  api/app/controllers/constants/error_constants.rb
  api/app/controllers/decorators/custom_dashboard_decorator.rb
  api/app/controllers/ember/custom_dashboard_controller.rb
  api/app/controllers/validations/custom_dashboard_validation.rb
  api/app/delegators/custom_dashboard_delegator.rb
  api/app/views/ember/custom_dashboard/create_announcement.json.api
  api/app/views/ember/custom_dashboard/end_announcement.json.api
  api/app/views/ember/custom_dashboard/get_announcements.json.api
  api/lib/error_messages.yml
  app/models/account/associations.rb
  app/models/account/features.rb
  app/models/dashboard.rb
  app/models/dashboard/presenter.rb
  app/models/dashboard_announcement.rb
  app/models/dashboard_announcement/presenter.rb
  app/models/group/presenter.rb
  app/models/user/associations.rb
  config/api_privileges.rb
  config/api_routes.rb
  db/migrate/20180704121112_create_dashboard_announcements.rb
  db/schema.rb
  lib/central_constants.rb
  lib/dashboard/custom/custom_dashboard_constants.rb
  swagger/definitions/index.yaml
  swagger/definitions/request/custom_dashboard/create_announcement.yaml
  swagger/definitions/request/custom_dashboard/end_announcement.yaml
  swagger/definitions/response/dashboard/custom/create_announcement.yaml
  swagger/definitions/response/dashboard/custom/end_announcement.yaml
  swagger/definitions/response/dashboard/custom/get_announcements.yaml
  swagger/package-lock.json
  swagger/paths/custom_dashboard/announcements_ops.yaml
  swagger/paths/index.yaml
  swagger/swagger.json
  test/api/functional/ember/custom_dashboard_controller_test.rb
  test/api/helpers/custom_dashboard_test_helper.rb
Owners: @shankar-ganesh, @venkatesanmurali, @arvindr, @thanashyam, @abinaya21, @ksashikumar

[FD-11418] Skip trusted ip check for channel endpoints (#2227)
  api/app/controllers/channel/bot/services_controller.rb
  api/app/controllers/ember/admin/bots_controller.rb
  app/helpers/bot_helper.rb
  config/api_routes.rb
  lib/middleware/trusted_ip.rb
  test/api/functional/channel/bot/services_controller_test.rb
Owners: none

[FD-12811] [RTL] Redactor rtl fix
  public/src/app/_rtl-styles.scss
Owners: none

[FD-12045] : Upgrade Semian to new error whitelist (#2371)
  Gemfile
  Gemfile.lock
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

FD-12944 Chat Summary Report - Chat summary report page throws 500-error (#2431)
  lib/store_helper.rb
Owners: none

FD-23 Not sending emails for sandbox agents (#2429)
  app/models/user.rb
Owners: none

[FD-11997] Separate log file for API info logs (#2312)
  api/app/controllers/api_application_controller.rb
  api/lib/auth_helper.rb
  app/models/user.rb
  lib/api_auth_logger.rb
  lib/authentication_system.rb
  lib/va/logger/automation.rb
Owners: none

[FD-11997] Separate log file for API info logs (#2306)
  api/app/controllers/api_application_controller.rb
  api/lib/auth_helper.rb
  app/models/user.rb
  lib/api_auth_logger.rb
  lib/authentication_system.rb
  lib/va/logger/automation.rb
Owners: none

FD-12219 Preventing xss in portal customization preview (#2399)
  app/helpers/support_helper.rb
Owners: none

[FD-12735] - close button fix
  public/src/falcon/falcon-common.scss
Owners: none

FD-10118 leaderboard exceptions fix (#2398)
  app/workers/agent_destroy_cleanup.rb
Owners: none

[FD-12869] [RTL]- Insert placeholder issue in firefox
  public/src/module/_placeholder.scss
Owners: none

FD-12136 Provide the link type for event name and change the format for performer (#2360)
  api/app/controllers/constants/error_constants.rb
  api/app/controllers/helpers/audit_log/audit_log_helper.rb
  test/api/functional/audit_logs_controller_test.rb
Owners: none

Fd 12403 Downcase user’s email before saving (#2383)
  app/models/user.rb
  app/models/user/callbacks.rb
  app/models/user/user_email_callbacks.rb
  lib/sso_util.rb
Owners: none

[FD-11366] Downcase user’s email before saving (#2251)
  app/models/user.rb
  app/models/user/callbacks.rb
  app/models/user/user_email_callbacks.rb
  lib/sso_util.rb
Owners: none

FD-12944 Chat Summary Report - Chat summary report page throws 500-error (#2431)
  lib/store_helper.rb
Owners: none

FD-12944 Chat Summary Report - Chat summary report page throws 500-error (#2431)
  lib/store_helper.rb
Owners: none

[FD-11948] Perform spam analysis for notification template using spam analysis service. Perform outgoing block during spam template for accounts having mrr less than 300.
  app/workers/admin/spam_checker_worker.rb
  config/sds.yml
  lib/email_helper.rb
  lib/helpdesk/initializers/fd_spam_filter.rb
  lib/redis/redis_keys.rb
  lib/spam/spam_action.rb
  lib/spam/spam_check.rb
  lib/spam/spam_result.rb
  vendor/gems/fd_spam_detection_service/lib/fd_spam_detection_service/config.rb
Owners: none

[FD-11948] Avoid duplicate notification for email outgoing block.
  lib/helpdesk/email/outgoing_category.rb
Owners: none

[FD-12851] [RTL]- UI errors in time sheet summary
  public/src/falcon/falcon-reports.scss
  public/src/page/reports.scss
Owners: none
