Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

[FD-12042] Fixing Random failures (#2593)
  test/api/helpers/tickets_test_helper.rb
  test/parallel_test.rb
Owners: none

[FRESHCALL-3087]: Pass region as part of freshcaller signup request (#2760)
  app/controllers/admin/freshcaller/signup_controller.rb
Owners: none

[FD-14031] Bug fix for email ID and role change for agents (#2674)
  app/controllers/agents_controller.rb
  app/controllers/user_sessions_controller.rb
  app/models/user.rb
  app/models/user_email.rb
  lib/freshid/callback_methods_extensions.rb
Owners: none

Fd 1729 optimize sla calc (#2766)
  spec/support/sla_test_helper.rb
  test/api/functional/sla_ticket_test.rb
  vendor/gems/business_time/lib/extensions/time.rb
Owners: none

FD-1729 : optimizing sla cal- helpkit (#2765)
  vendor/gems/business_time/lib/extensions/time.rb
Owners: none

[FD-11788] removing rake task (#2487)
  lib/helpdesk/initializers/aws/sqs.rb
  lib/tasks/gnip_stream.rake
  lib/tasks/scheduler.rake
Owners: none

[FD-12400] Test cases for Facebook direct message worker (#2422)
  app/workers/social/facebook_worker.rb
  app/workers/social/premium_facebook_worker.rb
  test/api/helpers/facebook_test_helper.rb
  test/api/shoryuken/facebook_message_realtime_test.rb
  test/api/sidekiq/premium_facebook_worker_test.rb
  vendor/gems/facebook/lib/sqs/facebook_message.rb
Owners: none

FD-13930, API to list plans and its billing costs. (#2678)
  api/app/controllers/admin/subscriptions_controller.rb
  api/app/controllers/constants/admin_subscription_constants.rb
  api/app/controllers/constants/api_constants.rb
  api/app/controllers/decorators/admin/subscription_decorator.rb
  api/app/controllers/validations/admin_subscription_validation.rb
  api/app/views/admin/subscriptions/plans.json.api
  app/helpers/subscriptions_helper.rb
  app/models/subscription/currency.rb
  config/api_privileges.rb
  config/api_routes.rb
  lib/billing/chargebee_wrapper.rb
  lib/billing/subscription.rb
  lib/cache/memcache/subscription_plan.rb
  lib/memcache_keys.rb
  swagger/definitions/index.yaml
  swagger/definitions/response/subscription/plans.yaml
  swagger/paths/index.yaml
  swagger/paths/subscription/plans.yaml
  swagger/swagger.json
  test/api/functional/admin/subscriptions_controller_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

FD-13298 Update Brakeman config (#2736)
  app/controllers/subscription_admin/freshfone_actions_controller.rb
  config/brakeman.yml
Owners: none

FD-13420 FD-14689 Security email translations (#2762)
  app/mailers/security_email_notification.rb
  app/mailers/user_notifier.rb
  app/models/user/callbacks.rb
  app/observers/security/admin/agent_observer.rb
  app/observers/security/admin/whitelisted_ip_observer.rb
  app/observers/security/agent_notification_observer.rb
  app/views/security_email_notification/_footer.html.erb
  app/views/security_email_notification/_footer_plain.html.erb
  app/views/security_email_notification/admin_alert_email_change.text.html.erb
  app/views/security_email_notification/admin_alert_email_change.text.plain.erb
  app/views/security_email_notification/agent_alert_mail.text.html.erb
  app/views/security_email_notification/agent_alert_mail.text.plain.erb
  app/views/security_email_notification/agent_create.text.html.erb
  app/views/security_email_notification/agent_create.text.plain.erb
  app/views/security_email_notification/agent_delete.text.html.erb
  app/views/security_email_notification/agent_delete.text.plain.erb
  app/views/security_email_notification/agent_email_change.text.html.erb
  app/views/security_email_notification/agent_email_change.text.plain.erb
  app/views/security_email_notification/trusted_ip_creation.text.html.erb
  app/views/security_email_notification/trusted_ip_creation.text.plain.erb
  app/views/security_email_notification/trusted_ip_update.text.html.erb
  app/views/security_email_notification/trusted_ip_update.text.plain.erb
  app/views/user_notifier/notify_customers_import.text.html.erb
  app/views/user_notifier/notify_customers_import.text.plain.erb
  config/locales/de.yml
  config/locales/en.yml
  lib/import/customers/base.rb
  lib/security_notification.rb
  vendor/gems/delayed_job/lib/delayed/performable_method.rb
Owners: @akshayasrikanth

FD-13420 FD-14710 Security email translations & German translations update (#2761)
  app/mailers/security_email_notification.rb
  app/mailers/user_notifier.rb
  app/models/user/callbacks.rb
  app/observers/security/admin/agent_observer.rb
  app/observers/security/admin/whitelisted_ip_observer.rb
  app/observers/security/agent_notification_observer.rb
  app/views/security_email_notification/_footer.html.erb
  app/views/security_email_notification/_footer_plain.html.erb
  app/views/security_email_notification/admin_alert_email_change.text.html.erb
  app/views/security_email_notification/admin_alert_email_change.text.plain.erb
  app/views/security_email_notification/agent_alert_mail.text.html.erb
  app/views/security_email_notification/agent_alert_mail.text.plain.erb
  app/views/security_email_notification/agent_create.text.html.erb
  app/views/security_email_notification/agent_create.text.plain.erb
  app/views/security_email_notification/agent_delete.text.html.erb
  app/views/security_email_notification/agent_delete.text.plain.erb
  app/views/security_email_notification/agent_email_change.text.html.erb
  app/views/security_email_notification/agent_email_change.text.plain.erb
  app/views/security_email_notification/trusted_ip_creation.text.html.erb
  app/views/security_email_notification/trusted_ip_creation.text.plain.erb
  app/views/security_email_notification/trusted_ip_update.text.html.erb
  app/views/security_email_notification/trusted_ip_update.text.plain.erb
  app/views/user_notifier/notify_customers_import.text.html.erb
  app/views/user_notifier/notify_customers_import.text.plain.erb
  config/locales/de.yml
  config/locales/en.yml
  lib/import/customers/base.rb
  lib/security_notification.rb
  vendor/gems/delayed_job/lib/delayed/performable_method.rb
Owners: @akshayasrikanth

FD-14402 Make Customer Cleanup (#2745)
  app/models/account/associations.rb
  app/models/user.rb
  app/workers/agent_destroy_cleanup.rb
Owners: none

Fd 4574 make customer cleanup worker (#2359)
  app/models/account/associations.rb
  app/models/user.rb
  app/workers/agent_destroy_cleanup.rb
Owners: none

FD-10955, Adding LP key for trial subscription feature (#2658)
  app/models/account/features.rb
Owners: none

FD-14751, FRESHCALL-2754 Updating ticket call notes based on note ID in calls (#2559)
  api/app/controllers/channel/freshcaller/calls_controller.rb
Owners: none

FD-10957 Try higher plan helpkit changes (#2739)
  app/models/account.rb
  app/models/account/associations.rb
  app/models/subscription.rb
  app/models/trial_subscription.rb
  app/models/trial_subscription/callbacks.rb
  app/models/trial_subscription/constants.rb
  app/models/trial_subscription/validations.rb
  config/run_rake_task.yml
  db/migrate/20180731104453_create_trial_subscriptions.rb
  db/schema.rb
  lib/cache/memcache/subscription_plan.rb
  lib/memcache_keys.rb
  lib/saas/account_data_cleanup.rb
  lib/saas/add_feature_data.rb
  lib/saas/drop_feature_data.rb
  lib/saas/subscription_event_actions.rb
  lib/tasks/trial_subscriptions.rake
  lib/trial_subscription/base.rb
  lib/trial_subscription/plan_downgrade.rb
  lib/trial_subscription/plan_upgrade.rb
Owners: @venkatesanmurali, @arvindr, @thanashyam

[FD-10957, FD-10963] Try higher plan changes (#2507)
  api/app/controllers/admin/trial_subscriptions_controller.rb
  api/app/controllers/constants/trial_subscriptions_constants.rb
  api/app/controllers/validations/trial_subscriptions_validation.rb
  api/app/delegators/trial_subscriptions_delegator.rb
  app/models/account.rb
  app/models/account/associations.rb
  app/models/subscription.rb
  app/models/trial_subscription.rb
  app/models/trial_subscription/callbacks.rb
  app/models/trial_subscription/constants.rb
  app/models/trial_subscription/validations.rb
  config/api_privileges.rb
  config/api_routes.rb
  config/run_rake_task.yml
  db/migrate/20180731104453_create_trial_subscriptions.rb
  db/schema.rb
  lib/saas/account_data_cleanup.rb
  lib/saas/add_feature_data.rb
  lib/saas/drop_feature_data.rb
  lib/saas/subscription_event_actions.rb
  lib/tasks/trial_subscriptions.rake
  lib/trial_subscription/base.rb
  lib/trial_subscription/plan_downgrade.rb
  lib/trial_subscription/plan_upgrade.rb
  swagger/definitions/index.yaml
  swagger/definitions/request/trial_subscription/create.yaml
  swagger/definitions/response/trial_subscription/create_response.yaml
  swagger/paths/index.yaml
  swagger/paths/trial_subscription/crud.yaml
  swagger/swagger.json
  test/api/functional/admin/trial_subscriptions_controller_test.rb
  test/api/unit/trial_subscription_validation_test.rb
Owners: @venkatesanmurali, @arvindr, @thanashyam, @abinaya21, @ksashikumar

FD-12999-Responsive mobile view breakage (#2763)
  app/drops/portal_drop.rb
  app/views/portal/_falcon_header.portal
  public/src/portal/responsive/_falcon_mobile.scss
Owners: none

FD-14055, Bootstrap API changes to include trial subscription details (#2690)
  api/app/controllers/decorators/account_decorator.rb
  api/app/delegators/trial_subscriptions_delegator.rb
  app/models/subscription_plan.rb
  app/models/trial_subscription.rb
  lib/cache/memcache/account.rb
  lib/memcache_keys.rb
  spec/factories/helpdesk.rb
  test/api/functional/ember/bootstrap_controller_test.rb
  test/api/helpers/bootstrap_test_helper.rb
  test/api/helpers/trial_subscription_helper.rb
Owners: none

FD-14139, FD-14140, FD-14141 Facebook page central publish, SQS poller, Shoryuken modified for new central payload (#2728)
  app/workers/ryuken/facebook_realtime.rb
  config/facebook.yml
  config/facebook_euc_accounts.yml
  config/facebook_fallback_accounts.yml
  config/helpdesk_initializers.yml
  config/locales/en.yml
  lib/central_constants.rb
  lib/helpdesk/initializers/facebook_config.rb
  lib/helpdesk/initializers/facebook_eu_accounts_config.rb
  lib/helpdesk/initializers/facebook_fallback_config.rb
  test/api/helpers/facebook_test_helper.rb
  test/api/helpers/social_test_helper.rb
  test/lib/unit/facebook_tokens_test.rb
  vendor/gems/facebook/app/controllers/admin/social/facebook_pages_controller.rb
  vendor/gems/facebook/app/models/social/facebook_page.rb
  vendor/gems/facebook/app/models/social/facebook_page/callbacks.rb
  vendor/gems/facebook/app/models/social/facebook_page/presenter.rb
  vendor/gems/facebook/lib/facebook/central_message_util.rb
  vendor/gems/facebook/lib/facebook/page_tab/configure.rb
  vendor/gems/facebook/lib/facebook/tokens.rb
  vendor/gems/facebook/lib/sqs/facebook_message.rb
  vendor/gems/facebook/lib/tasks/facebook.rake
Owners: @akshayasrikanth

FD-14139, FD-14140, FD-14141 Facebook page central publish, SQS poller, Shoryuken modified for new central payload (#2708)
  app/workers/ryuken/facebook_realtime.rb
  config/facebook.yml
  config/facebook_euc_accounts.yml
  config/facebook_fallback_accounts.yml
  config/helpdesk_initializers.yml
  config/locales/en.yml
  lib/central_constants.rb
  lib/helpdesk/initializers/facebook_config.rb
  lib/helpdesk/initializers/facebook_eu_accounts_config.rb
  lib/helpdesk/initializers/facebook_fallback_config.rb
  test/lib/unit/facebook_tokens_test.rb
  vendor/gems/facebook/app/controllers/admin/social/facebook_pages_controller.rb
  vendor/gems/facebook/app/models/social/facebook_page.rb
  vendor/gems/facebook/app/models/social/facebook_page/callbacks.rb
  vendor/gems/facebook/app/models/social/facebook_page/presenter.rb
  vendor/gems/facebook/lib/facebook/central_message_util.rb
  vendor/gems/facebook/lib/facebook/page_tab/configure.rb
  vendor/gems/facebook/lib/facebook/tokens.rb
  vendor/gems/facebook/lib/sqs/facebook_message.rb
  vendor/gems/facebook/lib/tasks/facebook.rake
Owners: @akshayasrikanth

[FD-14350] Remove subscription admin code - older freshopsadmin(#2743)
  .simplecov
  app/controllers/subscription_admin/account_tools_controller.rb
  app/controllers/subscription_admin/accounts_controller.rb
  app/controllers/subscription_admin/admin_sessions_controller.rb
  app/controllers/subscription_admin/analytics_controller.rb
  app/controllers/subscription_admin/conversion_metrics_controller.rb
  app/controllers/subscription_admin/currencies_controller.rb
  app/controllers/subscription_admin/custom_ssl_controller.rb
  app/controllers/subscription_admin/freshfone_actions_controller.rb
  app/controllers/subscription_admin/freshfone_stats_controller.rb
  app/controllers/subscription_admin/freshfone_subscriptions_controller.rb
  app/controllers/subscription_admin/manage_users_controller.rb
  app/controllers/subscription_admin/resque/failed_controller.rb
  app/controllers/subscription_admin/resque/home_controller.rb
  app/controllers/subscription_admin/spam_watch_controller.rb
  app/controllers/subscription_admin/subscription_affiliates_controller.rb
  app/controllers/subscription_admin/subscription_announcements_controller.rb
  app/controllers/subscription_admin/subscription_events_controller.rb
  app/controllers/subscription_admin/subscription_payments_controller.rb
  app/controllers/subscription_admin/subscription_plans_controller.rb
  app/controllers/subscription_admin/subscription_users_controller.rb
  app/controllers/subscription_admin/subscriptions_controller.rb
  app/helpers/subscription_admin/resque/failed_helper.rb
  app/helpers/subscription_admin/resque/home_helper.rb
  app/views/layouts/subscription_admin.html.erb
  config/routes.rb
  lib/admin_controller_methods.rb
  lib/integrations/constants.rb
  spec/controllers/subscription_admin/freshfone_actions_controller_spec.rb
  spec/spec_helper.rb
  test/api/helpers/boc_groups.rb
Owners: none

[FD-14350] Remove subscription admin code - older freshopsadmin(#2742)
  .simplecov
  app/controllers/subscription_admin/account_tools_controller.rb
  app/controllers/subscription_admin/accounts_controller.rb
  app/controllers/subscription_admin/admin_sessions_controller.rb
  app/controllers/subscription_admin/analytics_controller.rb
  app/controllers/subscription_admin/conversion_metrics_controller.rb
  app/controllers/subscription_admin/currencies_controller.rb
  app/controllers/subscription_admin/custom_ssl_controller.rb
  app/controllers/subscription_admin/freshfone_actions_controller.rb
  app/controllers/subscription_admin/freshfone_stats_controller.rb
  app/controllers/subscription_admin/freshfone_subscriptions_controller.rb
  app/controllers/subscription_admin/manage_users_controller.rb
  app/controllers/subscription_admin/resque/failed_controller.rb
  app/controllers/subscription_admin/resque/home_controller.rb
  app/controllers/subscription_admin/spam_watch_controller.rb
  app/controllers/subscription_admin/subscription_affiliates_controller.rb
  app/controllers/subscription_admin/subscription_announcements_controller.rb
  app/controllers/subscription_admin/subscription_events_controller.rb
  app/controllers/subscription_admin/subscription_payments_controller.rb
  app/controllers/subscription_admin/subscription_plans_controller.rb
  app/controllers/subscription_admin/subscription_users_controller.rb
  app/controllers/subscription_admin/subscriptions_controller.rb
  app/helpers/subscription_admin/resque/failed_helper.rb
  app/helpers/subscription_admin/resque/home_helper.rb
  app/views/layouts/subscription_admin.html.erb
  config/routes.rb
  lib/admin_controller_methods.rb
  lib/integrations/constants.rb
  spec/controllers/subscription_admin/freshfone_actions_controller_spec.rb
  spec/spec_helper.rb
Owners: none

FD-13923-reverting In Portal Show author names disable button not working. (#2785)
  app/drops/portal_drop.rb
  app/views/admin/portal/_form.html.erb
Owners: none

FD-13923-reverting In Portal Show author names disable button not working. (#2785)
  app/drops/portal_drop.rb
  app/views/admin/portal/_form.html.erb
Owners: none

Revert "FD-13420 FD-14689 Security email translations (#2762)"
  app/mailers/security_email_notification.rb
  app/mailers/user_notifier.rb
  app/models/user/callbacks.rb
  app/observers/security/admin/agent_observer.rb
  app/observers/security/admin/whitelisted_ip_observer.rb
  app/observers/security/agent_notification_observer.rb
  app/views/security_email_notification/_footer.html.erb
  app/views/security_email_notification/_footer_plain.html.erb
  app/views/security_email_notification/admin_alert_email_change.text.html.erb
  app/views/security_email_notification/admin_alert_email_change.text.plain.erb
  app/views/security_email_notification/agent_alert_mail.text.html.erb
  app/views/security_email_notification/agent_alert_mail.text.plain.erb
  app/views/security_email_notification/agent_create.text.html.erb
  app/views/security_email_notification/agent_create.text.plain.erb
  app/views/security_email_notification/agent_delete.text.html.erb
  app/views/security_email_notification/agent_delete.text.plain.erb
  app/views/security_email_notification/agent_email_change.text.html.erb
  app/views/security_email_notification/agent_email_change.text.plain.erb
  app/views/security_email_notification/trusted_ip_creation.text.html.erb
  app/views/security_email_notification/trusted_ip_creation.text.plain.erb
  app/views/security_email_notification/trusted_ip_update.text.html.erb
  app/views/security_email_notification/trusted_ip_update.text.plain.erb
  app/views/user_notifier/notify_customers_import.text.html.erb
  app/views/user_notifier/notify_customers_import.text.plain.erb
  config/locales/de.yml
  config/locales/en.yml
  lib/import/customers/base.rb
  lib/security_notification.rb
  vendor/gems/delayed_job/lib/delayed/performable_method.rb
Owners: @akshayasrikanth

Revert "FD-13420 FD-14710 Security email translations" (#2787)
  app/mailers/security_email_notification.rb
  app/mailers/user_notifier.rb
  app/models/user/callbacks.rb
  app/observers/security/admin/agent_observer.rb
  app/observers/security/admin/whitelisted_ip_observer.rb
  app/observers/security/agent_notification_observer.rb
  app/views/security_email_notification/_footer.html.erb
  app/views/security_email_notification/_footer_plain.html.erb
  app/views/security_email_notification/admin_alert_email_change.text.html.erb
  app/views/security_email_notification/admin_alert_email_change.text.plain.erb
  app/views/security_email_notification/agent_alert_mail.text.html.erb
  app/views/security_email_notification/agent_alert_mail.text.plain.erb
  app/views/security_email_notification/agent_create.text.html.erb
  app/views/security_email_notification/agent_create.text.plain.erb
  app/views/security_email_notification/agent_delete.text.html.erb
  app/views/security_email_notification/agent_delete.text.plain.erb
  app/views/security_email_notification/agent_email_change.text.html.erb
  app/views/security_email_notification/agent_email_change.text.plain.erb
  app/views/security_email_notification/trusted_ip_creation.text.html.erb
  app/views/security_email_notification/trusted_ip_creation.text.plain.erb
  app/views/security_email_notification/trusted_ip_update.text.html.erb
  app/views/security_email_notification/trusted_ip_update.text.plain.erb
  app/views/user_notifier/notify_customers_import.text.html.erb
  app/views/user_notifier/notify_customers_import.text.plain.erb
  config/locales/de.yml
  config/locales/en.yml
  lib/import/customers/base.rb
  lib/security_notification.rb
  vendor/gems/delayed_job/lib/delayed/performable_method.rb
Owners: @akshayasrikanth

FD-14828 Remove audit log as db feature (#2791)
  app/models/account/constants.rb
Owners: none

[FD-4357] Recaptcha failure on account domain change (#2542)
  app/models/account/callbacks.rb
Owners: none

FD-14828 Remove audit log as db feature (#2790)
  app/models/account/constants.rb
  test/api/functional/audit_logs_controller_test.rb
Owners: none

FD-13172 & FD-13169 - xss (security) fixes. (#2783)
  app/views/helpdesk/archive_tickets/show/_survey_note.html.erb
  app/views/helpdesk/tickets/show/_survey_note.html.erb
Owners: none

FD-13559 Disable pod redirect for one hop urls (#2528)
  app/controllers/helpdesk/inline_attachments_controller.rb
Owners: none

FD-14818-In Portal Show author names disable button not working. (#2786)
  app/controllers/admin/portal_controller.rb
  app/drops/portal_drop.rb
  app/models/portal.rb
  app/views/admin/portal/_form.html.erb
Owners: none

FD-12977 Deleted survey breaks mint ui (#2691)
  api/app/controllers/ember/surveys_controller.rb
  api/app/views/surveys/show.json.api
  config/api_privileges.rb
  config/api_routes.rb
  swagger/swagger.json
  test/api/functional/ember/surveys_controller_test.rb
  test/api/helpers/surveys_test_helper.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[FD-14438] Integrate with Codecov (#2758)
  .codecov.yml
  Gemfile
  Gemfile.lock
  script/Jenkinsfile
  test/api/helpers/simple_cov_setup.rb
  test/discard_changes.sh
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

FD-10955, Rake task to update DB records to automate the workflows in the integration tests. (#2734)
  api/app/controllers/admin/trial_subscriptions_controller.rb
  app/models/trial_subscription/constants.rb
  config/run_rake_task.yml
  lib/tasks/rspec.rake
  lib/trial_subscription_actions/base.rb
  lib/trial_subscription_actions/plan_downgrade.rb
  lib/trial_subscription_actions/plan_upgrade.rb
  test/api/functional/api_contacts_controller_test.rb
Owners: none

test case breakage (#2777)
  spec/support/sla_test_helper.rb
  test/api/functional/sla_ticket_test.rb
  test/core/helpers/business_calendars_helper.rb
Owners: none

Check amount paid is greater than 1 and less than 100 dollars
  lib/tasks/free_paid_accounts_sample.rake
Owners: none

FD-14908 :sla calce bug fix (#2803)
  app/models/business_calendar.rb
  test/api/functional/sla_ticket_test.rb
  vendor/gems/business_time/lib/extensions/time.rb
Owners: none

FD-14908: sla bug fix old helpkit
  app/models/business_calendar.rb
  vendor/gems/business_time/lib/extensions/time.rb
Owners: none

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p
