Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

[FD-12693] [RTL] - Radio button fix in RTL
  public/src/falcon/falcon-common.scss
Owners: none

[FD-11948] freshdesk CI review changes.
  app/workers/admin/spam_checker_worker.rb
  lib/email_helper.rb
  lib/helpdesk/email/outgoing_category.rb
  lib/redis/redis_keys.rb
  lib/spam/spam_action.rb
  lib/spam/spam_check.rb
  lib/spam/spam_result.rb
Owners: none

FD-1429 Segments phase 2 (#2246)
  Gemfile
  Gemfile.lock
  app/controllers/admin/va_rules_controller.rb
  app/helpers/contacts_companies_helper.rb
  app/models/account.rb
  app/models/company.rb
  app/models/company/constants.rb
  app/models/company_filter.rb
  app/models/contact_filter.rb
  app/models/user.rb
  app/models/user/constants.rb
  config/locales/en.yml
  config/rule_engine_handlers.yml
  config/va_rule_engine.yml
  config/virtual_agent.yml
  lib/cache/memcache/account.rb
  lib/memcache_keys.rb
  lib/segments/filter_data_constants.rb
  lib/segments/instance_methods.rb
  lib/segments/match/base.rb
  lib/segments/match/company.rb
  lib/segments/match/contact.rb
  lib/va/handlers/object_id_array.rb
  lib/va/rule_handler.rb
  test/lib/helpers/company_helper.rb
  test/lib/helpers/company_segments_test_helper.rb
  test/lib/helpers/contact_segments_test_helper.rb
  test/lib/helpers/segments_helper.rb
  test/lib/helpers/test_files.rb
  test/lib/helpers/test_suite_methods.rb
  test/lib/test_helper.rb
  test/lib/unit/company_segment_test.rb
  test/lib/unit/contact_segment_test.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth

FD-1429 Segments phase 2 (#2292)
  Gemfile
  Gemfile.lock
  app/controllers/admin/va_rules_controller.rb
  app/helpers/contacts_companies_helper.rb
  app/models/account.rb
  app/models/company.rb
  app/models/company/constants.rb
  app/models/company_filter.rb
  app/models/contact_filter.rb
  app/models/user.rb
  app/models/user/constants.rb
  config/locales/en.yml
  config/rule_engine_handlers.yml
  config/va_rule_engine.yml
  config/virtual_agent.yml
  lib/cache/memcache/account.rb
  lib/memcache_keys.rb
  lib/va/handlers/object_id_array.rb
  lib/va/rule_handler.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth

FD-13027: adding the feature to lp constants and features (#2443)
  app/models/account/constants.rb
  app/models/account/features.rb
Owners: none

FD-12845 Email - Deprecated css property changes in email html content (Capita Account)
  app/models/account/constants.rb
  lib/helpdesk/email_parser/processed_mail.rb
  lib/helpdesk/process_email.rb
  lib/redis/redis_keys.rb
Owners: none

FD-4605 - [Tags] [Mint] Admin->Tags links not working (#2436)
  app/helpers/helpdesk/tags_helper.rb
  app/views/helpdesk/tags/_tag_count.html.erb
Owners: none

Fd 11460 : publishing twitter handle and twitter stream events (#2332)
  app/controllers/admin/social/streams_controller.rb
  app/models/account/associations.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/social/stream.rb
  app/models/social/ticket_rule.rb
  app/models/social/ticket_rule/presenter.rb
  app/models/social/tweet.rb
  app/models/social/twitter_handle.rb
  app/models/social/twitter_handle/callbacks.rb
  app/models/social/twitter_handle/presenter.rb
  app/models/social/twitter_stream.rb
  app/models/social/twitter_stream/callbacks.rb
  app/models/social/twitter_stream/presenter.rb
  config/twitter.yml
  lib/central_constants.rb
  lib/conversations/twitter.rb
  lib/helpdesk/initializers/twitter_config.rb
  lib/social/util.rb
Owners: none

FD-11493 Prestaging(helpkit) (#2444)
  app/workers/ryuken/channel_message_poller.rb
  lib/channel_integrations/commands/processor.rb
  lib/channel_integrations/commands/services/microsoft_teams.rb
  lib/channel_integrations/commands/services/twitter.rb
  lib/channel_integrations/common_actions/note.rb
  lib/channel_integrations/common_actions/ticket.rb
  lib/channel_integrations/constants.rb
  lib/channel_integrations/replies/processor.rb
  lib/channel_integrations/utils/action_parser.rb
  lib/channel_integrations/utils/class_parser.rb
  lib/kafka_collector/collector_rest_client.rb
  test/api/shoryuken/channel_message_poller_test.rb
  test/core/helpers/twitter_test_helper.rb
  test/test_transactions_fixtures_helper.rb
Owners: none

[FD-12403] Fix test case failures (#2456)
  test/api/functional/api_contacts_controller_test.rb
Owners: none

[FD-13047] Extend attachment link expiry in account export to 7 days (#2454)
  app/models/helpdesk/attachment.rb
Owners: none

[FD-13047] Extend attachment link expiry in account export to 7 days (#2449)
  app/models/helpdesk/attachment.rb
Owners: none

Fd 11460 twitter handle stream publish (#2439)
  app/controllers/admin/social/streams_controller.rb
  app/models/account/associations.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/social/stream.rb
  app/models/social/ticket_rule.rb
  app/models/social/ticket_rule/presenter.rb
  app/models/social/tweet.rb
  app/models/social/twitter_handle.rb
  app/models/social/twitter_handle/callbacks.rb
  app/models/social/twitter_handle/presenter.rb
  app/models/social/twitter_stream.rb
  app/models/social/twitter_stream/callbacks.rb
  app/models/social/twitter_stream/presenter.rb
  config/twitter.yml
  lib/central_constants.rb
  lib/conversations/twitter.rb
  lib/helpdesk/initializers/twitter_config.rb
  lib/social/util.rb
  test/core/helpers/twitter_test_helper.rb
Owners: none

[FD-11493, FD-11494, FD-12621] Twitter DM's in Channel framework(Helpkit side changes) (#2423)
  api/app/controllers/api_contacts_controller.rb
  api/app/controllers/channel/api_contacts_controller.rb
  api/app/controllers/channel/attachments_controller.rb
  api/app/controllers/constants/contact_constants.rb
  api/app/controllers/validations/contact_filter_validation.rb
  app/models/user.rb
  app/workers/ryuken/channel_message_poller.rb
  config/api_routes.rb
  config/channel_api_keys.yml
  lib/channel_authentication.rb
  lib/channel_integrations/commands/processor.rb
  lib/channel_integrations/commands/services/microsoft_teams.rb
  lib/channel_integrations/commands/services/twitter.rb
  lib/channel_integrations/common_actions/note.rb
  lib/channel_integrations/common_actions/ticket.rb
  lib/channel_integrations/constants.rb
  lib/channel_integrations/replies/processor.rb
  lib/channel_integrations/utils/action_parser.rb
  lib/channel_integrations/utils/class_parser.rb
  lib/kafka_collector/collector_rest_client.rb
  test/api/functional/channel/api_contacts_controller_test.rb
  test/api/functional/channel/attachments_controller_test.rb
  test/api/helpers/jwt_test_helper.rb
  test/api/shoryuken/channel_message_poller_test.rb
  test/core/helpers/twitter_test_helper.rb
Owners: none

FD-12432 : Falcon ticket export limit (#2440)
  app/models/data_export.rb
  lib/export/ticket.rb
  lib/helpdesk/ticket_model_extension.rb
Owners: none

FD-12432 : Falcon ticket export limit (#2451)
  app/models/data_export.rb
Owners: none

[FD-5365] Email service controller Enhancements
  app/controllers/email_controller.rb
  app/models/helpdesk/note.rb
  app/models/helpdesk/schema_less_note.rb
  lib/email_helper.rb
  lib/helpdesk/email/incoming_email_handler.rb
  lib/helpdesk/initializers/action_mailer_log_subscriber.rb
  lib/helpdesk/initializers/email_controller_log_subscriber.rb
  lib/helpdesk/process_email.rb
Owners: none

Exposing canned response, scenario automations, ticket templates apis public (#1706)
  api/app/controllers/canned_response_folders_controller.rb
  api/app/controllers/canned_responses_controller.rb
  api/app/controllers/ember/canned_response_folders_controller.rb
  api/app/controllers/ember/canned_responses_controller.rb
  api/app/controllers/ember/scenario_automations_controller.rb
  api/app/controllers/scenario_automations_controller.rb
  api/app/views/canned_response_folders/index.json.api
  api/app/views/canned_response_folders/show.json.api
  api/app/views/canned_responses/index.json.api
  api/app/views/canned_responses/show.json.api
  api/app/views/ember/canned_responses/index.json.api
  api/app/views/scenario_automations/index.json.api
  config/api_privileges.rb
  config/api_routes.rb
  config/privileges.rb
  test/api/functional/canned_response_folders_controller_test.rb
  test/api/functional/canned_responses_controller_test.rb
  test/api/functional/ember/canned_response_folders_controller_test.rb
  test/api/functional/ember/canned_responses_controller_test.rb
  test/api/functional/ember/ticket_templates_controller_test.rb
  test/api/functional/scenario_automations_controller_test.rb
Owners: none

FD-13312 comment out block account (#2475)
  app/models/subscription.rb
Owners: none

FD-13312 comment out block account (#2476)
  app/models/subscription.rb
Owners: none

[FD-12746] [RTL] - Alignment fix
  app/views/reports/timesheet_reports/_time_sheet_list.html.erb
  public/src/falcon/falcon-reports.scss
Owners: none

FD-13306 Stopping twitter poller for TMS enabled accounts.
  lib/tasks/scheduler.rake
Owners: none

FD-13306 reset current account before and after.
  lib/tasks/scheduler.rake
Owners: none

FD-13306 reset current account before enqueuing.
  lib/tasks/scheduler.rake
Owners: none

[FD-13321] Remove credential infos from Email_controller/validate_domain and email_controller/account_details API logs
  app/controllers/email_controller.rb
  app/controllers/email_service_controller.rb
  lib/email_helper.rb
  lib/helpdesk/initializers/email_controller_log_subscriber.rb
Owners: none

[FD-13336] Enable TMS launch parties on new signup (#2486)
  app/models/account/constants.rb
Owners: none

[FD-13336] Enable TMS launch parties on new signup (#2485)
  app/models/account/constants.rb
Owners: none

[FRESHCALL-2205] Freshcaller mobile-app ticket creation with optional… (#2474)
  api/app/controllers/channel/freshcaller/calls_controller.rb
  api/app/controllers/concerns/freshcaller/call_concern.rb
  api/app/controllers/constants/freshcaller/call_constants.rb
  test/api/functional/channel/freshcaller/calls_controller_test.rb
Owners: none

FD-12672 Round Robin capping limit change hidden fix (#2421)
  app/views/groups/_form.html.erb
Owners: none

New enchancement
  script/Jenkinsfile
Owners: none

Node defintion
  script/Jenkinsfile
Owners: none

label
  script/Jenkinsfile
Owners: none

global variable
  script/Jenkinsfile
Owners: none

New feature
  script/Jenkinsfile
Owners: none

Added more fix
  script/Jenkinsfile
Owners: none

added RVM in each command
  script/Jenkinsfile
Owners: none

FD-8209 Article feedback ticket list-Mint parity (#2345)
  api/app/controllers/constants/ticket_filter_constants.rb
  swagger/paths/tickets/list_and_create.yaml
  swagger/swagger.json
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

FD-8209 Article feedback ticket list-helpkit changes (#2346)
  app/helpers/solution_helper.rb
  app/views/solution/articles/_sidebar.html.erb
  public/javascripts/app/solutions/solutions.js
Owners: none

Added multiple reports
  script/Jenkinsfile
Owners: none

Reduces pipeline description
  script/Jenkinsfile
Owners: none
