Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

FD-12973: Improve performance for companies show (#2432)
  app/controllers/companies_controller.rb
  app/models/company/constants.rb
  app/views/companies/_contacts_list.html.erb
  app/views/companies/_ticket_list.html.erb
  app/views/companies/_tickets_list.erb
  app/views/companies/newshow.html.erb
  config/privileges.rb
  config/routes.rb
  spec/support/controller_helper.rb
  test/api/functional/tickets_controller_test.rb
  test/api/unit/api_companies_dependency_test.rb
  test/core/helpers/controller_test_helper.rb
Owners: none

FD-12973: Improve performance for companies show (#2433)
  app/controllers/companies_controller.rb
  app/models/company/constants.rb
  app/views/companies/_contacts_list.html.erb
  app/views/companies/_ticket_list.html.erb
  app/views/companies/_tickets_list.erb
  app/views/companies/newshow.html.erb
  config/privileges.rb
  config/routes.rb
  test/api/unit/api_companies_dependency_test.rb
Owners: none

FD-8098 Sandbox push notification (#2480)
  app/helpers/application_helper.rb
  app/views/admin/company_fields/index.html.erb
  app/views/admin/contact_fields/index.html.erb
  app/views/admin/observer_rules/index.html.erb
  app/views/admin/supervisor_rules/index.html.erb
  app/views/admin/va_rules/index.html.erb
  app/views/agents/edit.html.erb
  app/views/agents/index.html.erb
  app/views/agents/new.html.erb
  app/views/helpdesk/scenario_automations/index.html.erb
  app/views/ticket_fields/index.html.erb
  config/locales/en.yml
  public/javascripts/app/admin/contact_fields/cf_customizer.js
  public/javascripts/custom-form/custom-form-builder.js
Owners: @akshayasrikanth

Twitter note failure ui falcon (#2538)
  api/app/controllers/decorators/conversation_decorator.rb
  app/views/helpdesk/tickets/show/_note.html.erb
  config/locales/en.yml
  public/src/page/tkt_details/_tkt_details.scss
  test/api/helpers/conversations_test_helper.rb
Owners: @akshayasrikanth

FD-13719 Fix method not found exception (#2599)
  lib/helpdesk/initializers/marginalia.rb
Owners: none

FD-13008 Handling user skills and agent groups (#2503)
  app/models/user.rb
  app/models/user/callbacks.rb
  app/observers/security/admin/agent_observer.rb
  app/workers/admin/sandbox/create_account_worker.rb
  lib/sync/data_to_file/delete.rb
  lib/sync/file_to_data/post_migration.rb
Owners: none

FD-13719 Remove Metal hooks for Helpkit (#2604)
  lib/helpdesk/initializers/marginalia.rb
Owners: none

FD-13017 modified and null check added
  api/app/controllers/ember/ticket_fields_controller.rb
  lib/memcache_cleaner.rb
Owners: none

[FD-12829] - insights in report page
  public/src/cdn/rtl/reports.scss
  public/src/falcon/falcon-common.scss
  public/src/falcon/falcon-rtl.scss
  public/src/page/reports_home.scss
Owners: none

Portal reskinning bug fix (#2611)
  app/helpers/support_helper.rb
  app/views/admin/portal/_portal.html.erb
  app/views/support/preview/index.html.erb
  lib/portal/template_actions.rb
  public/src/page/admin/_product_page.scss
Owners: none

[FD-13575] Test Case Fix (#2613)
  api/app/controllers/decorators/archive/conversation_decorator.rb
  api/app/controllers/decorators/conversation_decorator.rb
  test/api/helpers/conversations_test_helper.rb
Owners: none

FD-13017 removed unwanted put statement and code cleaned
  api/app/controllers/ember/ticket_fields_controller.rb
  lib/data_versioning/model.rb
Owners: none

FD-13017 minor fine tune changes
  api/app/controllers/ember/ticket_fields_controller.rb
  lib/memcache_keys.rb
Owners: none

FD-12083 - Link back url helper method changes and test cases (#2491)
  app/helpers/support_helper.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/portal.rb
  lib/uri_parser.rb
  public/javascripts/custom_validators.js
  test/api/functional/ember/portals_controller_test.rb
Owners: none

FD-12083- Link back url now accepts valid IRL. (#2426)
  app/helpers/support_helper.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/portal.rb
  lib/uri_parser.rb
  public/javascripts/custom_validators.js
Owners: none

[FD-12716]-dependent field alignment error in insert placeholders and in profile settings page in hebrew
  public/src/falcon/falcon-rtl.scss
Owners: none

[FD-12252]: Added launch party feature to enable and disable shopify actions (#2471)
  api/app/controllers/ember/installed_applications_controller.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  lib/integration_services/errors.rb
  lib/integration_services/services/shopify/shopify_generic_resource.rb
  lib/integration_services/services/shopify/shopify_order_resource.rb
  lib/integration_services/services/shopify/shopify_refund_resource.rb
  lib/integration_services/services/shopify_service.rb
Owners: none

[FD-12252]: Added launch party feature to enable and disable shopify (#2472)
  app/models/account/constants.rb
  app/models/account/features.rb
Owners: none

Fd 4521 solution visibility issue (#2536)
  app/helpers/support_helper.rb
  app/models/account/multilingual.rb
  app/views/layouts/support.html.erb
  config/locales/en.yml
  lib/portal/multilingual.rb
  public/src/portal/lib/_alerts.scss
  public/src/portal/lib/_falcon_alerts.scss
  public/src/portal/lib/_falcon_header-footer.scss
  public/src/portal/lib/_header-footer.scss
Owners: @akshayasrikanth

Revert "Fd 4521 solution visibility issue (#2536)" (#2627)
  app/helpers/support_helper.rb
  app/models/account/multilingual.rb
  app/views/layouts/support.html.erb
  config/locales/en.yml
  lib/portal/multilingual.rb
  public/src/portal/lib/_alerts.scss
  public/src/portal/lib/_falcon_alerts.scss
  public/src/portal/lib/_falcon_header-footer.scss
  public/src/portal/lib/_header-footer.scss
Owners: @akshayasrikanth

FD-77 Ability to list related tickets of a specific tracker in the li… (#2434)
  api/app/controllers/constants/api_ticket_constants.rb
  api/app/controllers/ember/tickets/bulk_actions_controller.rb
  api/app/delegators/ticket_associates_delegator.rb
  app/workers/tickets/unlink_tickets.rb
  config/api_privileges.rb
  config/api_routes.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  lib/helpdesk/initializers/sidekiq.rb
  swagger/paths/index.yaml
  swagger/paths/tickets/bulk_unlink.yaml
  swagger/swagger.json
  test/api/functional/ember/tickets/bulk_actions_controller_test.rb
Owners: @venkatesanmurali, @hrishikesh-p, @thanashyam, @abinaya21, @ksashikumar

[FD-13722] Changes recipient of bot alerts (#2581)
  api/app/controllers/ember/admin/bots_controller.rb
  app/mailers/admin/bot_mailer.rb
  app/views/admin/bot_mailer/bot_training_incomplete.html.erb
  app/workers/bot/check_training_status.rb
  config/api_routes.rb
  test/api/functional/ember/admin/bots_controller_test.rb
Owners: none

FD-11256 - Audit logs - show description for conditions/actions changes (#2441)
  api/app/controllers/audit_logs_controller.rb
  api/app/controllers/helpers/audit_log/agent_helper.rb
  api/app/controllers/helpers/audit_log/audit_log_helper.rb
  api/app/controllers/helpers/audit_log/automation_helper.rb
  api/app/controllers/helpers/audit_log/subscription_helper.rb
  api/app/controllers/helpers/audit_log/translators/agent.rb
  api/app/controllers/helpers/audit_log/translators/automation_rule.rb
  api/app/controllers/helpers/audit_log/translators/subscription.rb
  app/models/agent/presenter.rb
  app/models/subscription/presenter.rb
  app/models/va_rule/presenter.rb
  config/languages.yml
  config/locales/en.yml
  lib/va/constants.rb
  test/api/functional/audit_logs_controller_test.rb
Owners: @akshayasrikanth

FD-13747 Omni Bar Signup is creating new ORG ID instead of mapping t… (#2614)
  app/controllers/accounts_controller.rb
  app/models/signup.rb
Owners: none

FD-11256 fixing test case failure
  test/api/functional/audit_logs_controller_test.rb
Owners: none

[FD-10800, FD-10637] - Hnp proactive helpkit api (#2217)
  api/app/controllers/decorators/installed_application_decorator.rb
  api/app/controllers/proactive/outreaches_controller.rb
  api/app/controllers/proactive/rules_controller.rb
  api/app/views/proactive/rules/create.json.api
  api/app/views/proactive/rules/delete.json.api
  api/app/views/proactive/rules/index.json.api
  api/app/views/proactive/rules/show.json.api
  api/app/views/proactive/rules/update.json.api
  app/models/account/features.rb
  app/models/http_request_proxy.rb
  app/models/integrations/application.rb
  config/api_privileges.rb
  config/api_routes.rb
  config/features/features.yml
  config/proactive_service.yml
  lib/helpdesk/initializers/load_config.rb
  lib/helpdesk/roles.rb
  lib/proactive/constants.rb
  lib/proactive/proactive_jwt_auth.rb
  lib/proactive/proactive_util.rb
  swagger/definitions/index.yaml
  swagger/definitions/request/proactive/rule.yaml
  swagger/definitions/resource/rule.yaml
  swagger/definitions/response/proactive/rule.yaml
  swagger/paths/index.yaml
  swagger/paths/proactive/rules/crud.yaml
  swagger/paths/proactive/rules/list_and_create.yaml
  swagger/swagger.json
  test/api/functional/proactive/outreaches_controller_test.rb
  test/api/functional/proactive/rules_controller_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

FD-10637: helpkit old ui changes for proactive support (#2626)
  app/models/account/features.rb
  app/models/http_request_proxy.rb
  app/models/integrations/application.rb
  config/features/features.yml
  config/proactive_service.yml
  lib/helpdesk/initializers/load_config.rb
Owners: none

[FD-12984] Fix for user login for restoring deleted agent after FreshID migration (#2558)
  app/models/user/callbacks.rb
  app/models/user/user_email_callbacks.rb
  app/models/user_email.rb
Owners: none

[FD-12204] Fix for user login for restoring deleted agent after FreshID migration (#2350)
  app/models/user/callbacks.rb
  app/models/user/user_email_callbacks.rb
  app/models/user_email.rb
Owners: none

FD-13815 Status value added manully
  lib/helpdesk/ticketfields/ticket_status.rb
Owners: none

FD-13815 adding braces to a condition
  lib/helpdesk/ticketfields/ticket_status.rb
Owners: none

FD-10355: test case fix in jenkins (#2630)
  test/api/functional/proactive/outreaches_controller_test.rb
Owners: none

FD-10355: adding the before migrate for proactive recipe (#2644)
  deploy/before_migrate.rb
Owners: none

FD-10355: adding new yml to before migrate (#2643)
  deploy/before_migrate.rb
Owners: none

[FD-11068] Test cases for Bots Controller (#2633)
  api/app/controllers/ember/admin/bots_controller.rb
  config/channel_api_keys.yml
  test/api/functional/ember/admin/bots_controller_test.rb
Owners: none

[FD-14030] Disable Bootsnap in Dev mode (#2649)
  config/boot.rb
Owners: none

FD-12830 view all tickets nil (#2534)
  api/app/controllers/ember/contacts_controller.rb
  api/app/controllers/validations/contact_validation.rb
  test/api/functional/api_contacts_controller_test.rb
  test/api/functional/ember/contacts_controller_test.rb
Owners: none

FD-12974: Remove tam fields redis check (#2459)
  api/app/controllers/decorators/company_decorator.rb
  api/app/controllers/validations/api_company_validation.rb
  api/app/delegators/company_delegator.rb
  api/app/views/api_companies/create.json.api
  api/app/views/api_companies/index.json.api
  api/app/views/api_companies/show.json.api
  api/app/views/api_companies/update.json.api
  app/controllers/admin/va_rules_controller.rb
  app/helpers/application_helper.rb
  app/models/account/features.rb
  app/models/company.rb
  app/models/company_form.rb
  lib/redis/redis_keys.rb
  test/api/functional/api_companies_controller_test.rb
  test/api/functional/ember/companies_controller_test.rb
  test/api/functional/ember/company_fields_controller_test.rb
  test/api/helpers/companies_test_helper.rb
  test/api/unit/api_company_validation_test.rb
Owners: none

FD-12974: Remove tam fields redis check (#2458)
  api/app/controllers/decorators/company_decorator.rb
  api/app/controllers/validations/api_company_validation.rb
  api/app/delegators/company_delegator.rb
  api/app/views/api_companies/create.json.api
  api/app/views/api_companies/index.json.api
  api/app/views/api_companies/show.json.api
  api/app/views/api_companies/update.json.api
  app/controllers/admin/va_rules_controller.rb
  app/helpers/application_helper.rb
  app/models/account/features.rb
  app/models/company.rb
  app/models/company_form.rb
  lib/redis/redis_keys.rb
  test/api/functional/api_companies_controller_test.rb
  test/api/helpers/companies_test_helper.rb
  test/api/unit/api_company_validation_test.rb
Owners: none

FD-13758, Code changes to check plan features only from bitmap and ot… (#2594)
  app/models/account/constants.rb
  app/models/account/features.rb
  lib/cache/memcache/account.rb
  lib/redis/redis_keys.rb
Owners: none

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p
