Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

[FD-13009]- agent rebranding gets overridden on portal save (#2453)
  app/controllers/admin/portal_controller.rb
Owners: none

Fix 7
  script/Jenkinsfile
Owners: none

Fix
  script/Jenkinsfile
Owners: none

[FD-13609] Fixes portal update issue with favicon (#2550)
  api/app/controllers/constants/portal_constants.rb
Owners: none

Add fix
  script/Jenkinsfile
Owners: none

fix
  script/Jenkinsfile
Owners: none

fix error
  script/Jenkinsfile
Owners: none

fix10
  script/Jenkinsfile
Owners: none

FD-13402: Falcon ticket archive export fix (#2506)
  lib/export/ticket.rb
  test/api/functional/archive/tickets_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/helpers/archive_ticket_test_helper.rb
  test/api/helpers/ticket_fields_test_helper.rb
  test/api/helpers/tickets_test_helper.rb
Owners: none

Dynamic label based on instance
  script/Jenkinsfile
Owners: none

FD-12998 Creating an Org when creating an account with FreshID (#2447)
  Gemfile
  app/models/account.rb
  app/models/account/callbacks.rb
  app/models/signup.rb
  app/models/user.rb
  app/models/user/callbacks.rb
  app/workers/freshid/agents_migration.rb
  config/locales/en.yml
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth

FD-12998 Creating an Org when creating an account with FreshID (#2447)
  Gemfile
  app/models/account.rb
  app/models/account/callbacks.rb
  app/models/signup.rb
  app/models/user.rb
  app/models/user/callbacks.rb
  app/workers/freshid/agents_migration.rb
  config/locales/en.yml
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth

Freshid org falcon (#2541)
  Gemfile
  app/models/account.rb
  app/models/account/callbacks.rb
  app/models/signup.rb
  app/models/user.rb
  app/models/user/callbacks.rb
  app/workers/freshid/agents_migration.rb
  config/locales/en.yml
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth

Freshid org falcon (#2541)
  Gemfile
  app/models/account.rb
  app/models/account/callbacks.rb
  app/models/signup.rb
  app/models/user.rb
  app/models/user/callbacks.rb
  app/workers/freshid/agents_migration.rb
  config/locales/en.yml
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth

commit
  script/Jenkinsfile
Owners: none

Distributed test cases
  script/Jenkinsfile
Owners: none

Distributed fix
  script/Jenkinsfile
Owners: none

Added fix
  script/Jenkinsfile
Owners: none

changed from json to jsonparser
  script/Jenkinsfile
Owners: none

[FD-12890]-Reports -Helpdesk in Depth - Time period filter and csv export
  public/src/falcon/falcon-rtl.scss
  public/src/page/helpdesk_reports.scss
Owners: none

[FD-12701]-Bot - Close bracket gets misaligned in bot content selection dropdown
  public/src/falcon/falcon-community.scss
Owners: none

[FD-12042] Make tests to run in parallel (#2482)
  script/Jenkinsfile
  test/api/functional/canned_responses_controller_test.rb
  test/api/functional/channel/api_contacts_controller_test.rb
  test/api/functional/conversations_controller_test.rb
  test/api/functional/ember/canned_responses_controller_test.rb
  test/api/functional/ember/contacts_controller_test.rb
  test/api/functional/ember/conversations_controller_test.rb
  test/api/functional/ember/dashboard/activities_controller_test.rb
  test/api/functional/ember/tickets/bulk_actions_controller_test.rb
  test/api/functional/ember/tickets_controller_list_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/scenario_automations_controller_test.rb
  test/api/functional/tickets_controller_test.rb
  test/api/helpers/simple_cov_setup.rb
  test/api/helpers/tickets_test_helper.rb
  test/api/unit/pipe/conversation_validation_test.rb
  test/lib/all_tests/constants.rb
  test/lib/helpdesk/initializers/memcached.rb
  test/lib/helpdesk/initializers/redis.rb
  test/parallel_test.rb
Owners: none

FD-13649 Marginalia fix for Falcon (#2561)
  lib/helpdesk/initializers/marginalia.rb
  lib/middleware/application_logger.rb
Owners: none

FD-13649 Marginalia fix for Falcon (#2569)
  lib/helpdesk/initializers/marginalia.rb
  lib/middleware/application_logger.rb
Owners: none

[FD-13694] Pushing Freshconnect workers code to Legacy codebase as well (#2575)
  app/workers/freshconnect/register_freshconnect.rb
  app/workers/freshconnect/update_freshconnect.rb
Owners: none

FD-13058: Check if the attr changed in email config (#2478)
  api/app/delegators/ticket_delegator.rb
  test/api/functional/ember/tickets_controller_test.rb
Owners: none

FD-13687 missing widgets in mint ui custom role agent fix (#2573)
  api/app/controllers/constants/api_dashboard_constants.rb
Owners: none

FD-13719 Marginalia actioncontroller metal fix (#2580)
  lib/helpdesk/initializers/marginalia.rb
Owners: none

[FD-13694] Pushing Freshconnect workers code to Legacy codebase as well (#2575)
  app/workers/freshconnect/register_freshconnect.rb
  app/workers/freshconnect/update_freshconnect.rb
Owners: none

FD-13017 cache cleaned for products and code cleaned
  api/app/controllers/api_ticket_fields_controller.rb
  api/app/controllers/ember/ticket_fields_controller.rb
  app/models/helpdesk/nested_ticket_field.rb
  app/models/helpdesk/picklist_value.rb
  app/models/helpdesk/section.rb
  app/models/helpdesk/section_field.rb
  app/models/helpdesk/section_picklist_value_mapping.rb
  app/models/helpdesk/ticket_field.rb
  app/models/product.rb
  lib/cache/memcache/helpdesk/section.rb
  lib/cache/memcache/helpdesk/ticket_field.rb
  lib/data_versioning/model.rb
  lib/memcache_cleaner.rb
Owners: none

FD-13017 fixed testing code
  api/app/controllers/ember/ticket_fields_controller.rb
Owners: none

[FD-12887]-Report - Schedule an export - common icon help inverted
  public/src/app/lib/_sidepanel.scss
Owners: none

TH-1689 - Bugfix - Discuss CTA - freshconnect (#2545)
  app/views/helpdesk/tickets/show/_new_conversation.html.erb
Owners: none

[FD-13731] Freshcaller Fixes (#2589)
  api/app/controllers/channel/freshcaller/calls_controller.rb
  api/app/controllers/concerns/freshcaller/call_concern.rb
  api/app/controllers/constants/freshcaller/call_constants.rb
  config/locales/en.yml
  test/api/functional/channel/freshcaller/calls_controller_test.rb
Owners: @akshayasrikanth

[FD-2434]-reverting as its not correct fix (#2591)
  api/app/controllers/ember/search/spotlight_controller.rb
Owners: none

FD-13748 validation removed for 400 (#2590)
  lib/channel_integrations/commands/services/twitter.rb
  lib/channel_integrations/utils/schema.rb
Owners: none

FD-1690: Make the new customer portal skin available for existing customers
  app/controllers/admin/templates_controller.rb
  app/controllers/support/preview_controller.rb
  app/controllers/support_controller.rb
  app/controllers/theme/support_controller.rb
  app/controllers/theme_controller.rb
  app/helpers/application_helper.rb
  app/helpers/support_helper.rb
  app/models/account/features.rb
  app/models/portal.rb
  app/models/portal/template.rb
  app/views/admin/portal/_helpnote.html.erb
  app/views/admin/portal/_portal.html.erb
  app/views/admin/portal/index.html.erb
  app/views/admin/portal/settings.html.erb
  app/views/admin/shared/_customization_buttons.html.erb
  app/views/admin/shared/_portal_simple.html.erb
  app/views/admin/shared/_sample_portals.html.erb
  app/views/admin/templates/show.html.erb
  app/views/layouts/activations.html.erb
  app/views/layouts/support.html.erb
  app/views/support/preview/index.html.erb
  config/locales/en.yml
  lib/cache/memcache/portal.rb
  lib/portal/colour_constants.rb
  lib/portal/mint_applicable_check_actions.rb
  lib/portal/preview_key_template.rb
  lib/portal/template_actions.rb
  lib/redis/redis_keys.rb
  public/javascripts/cdn/preview.js
  public/javascripts/hackz.js
  public/javascripts/portal/preview.js
  public/src/app/lib/_layout.scss
  public/src/app/lib/_sidepanel.scss
  public/src/froala_editor/codemirror/for_admin_portal.scss
  public/src/page/admin/_product_page.scss
  public/src/pattern/lib/_patternhack.scss
  public/src/portal/preview.scss
Owners: @akshayasrikanth

FD-13389: Falcon ticket filter show fix (#2497)
  api/app/controllers/ember/ticket_filters_controller.rb
  app/models/helpdesk/filters/custom_ticket_filter.rb
  lib/collaboration/ticket.rb
  lib/tickets_filter.rb
  test/api/functional/ember/ticket_filters_controller_test.rb
  test/api/helpers/ticket_filters_helper.rb
Owners: none

FD-13492 Separate middleware for channel V2 APIs (#2588)
  app/models/social/tweet.rb
  config/api_routes.rb
  lib/helpdesk/initializers/api_initializer.rb
  lib/middleware/channel_api_throttler.rb
  lib/middleware/fd_api_throttler.rb
  lib/middleware/private_api_throttler.rb
  lib/redis/redis_keys.rb
  lib/social/constants.rb
Owners: none

Twitter note failure ui (#2556)
  app/views/helpdesk/tickets/show/_note.html.erb
  config/locales/en.yml
  public/src/page/tkt_details/_tkt_details.scss
Owners: @akshayasrikanth

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p
