Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

FD-10378 Agent is redirected to "page not found" error page while installing the survey monkey integration (#2193)
  lib/integrations/constants.rb
Owners: none

FD-11295 Change of copy in Admin > Email (#2210)
  config/locales/en.yml
Owners: @akshayasrikanth

FD-11383: Canned form feature flag (#2216)
  app/models/account/constants.rb
Owners: none

FD-6665: Integration Freshmarketer integration - Helpkit (#1725)
  .pronto.yml
  api/app/controllers/admin/freshmarketer_controller.rb
  api/app/controllers/constants/freshmarketer_constants.rb
  api/app/views/admin/freshmarketer/index.json.api
  api/app/views/admin/freshmarketer/session_info.json.api
  api/app/views/admin/freshmarketer/sessions.json.api
  app/helpers/support_helper.rb
  app/models/account/callbacks.rb
  app/models/account/features.rb
  app/models/account_additional_settings.rb
  app/views/layouts/support.html.erb
  app/views/support/tickets/_request_form.html.erb
  config/api_routes.rb
  config/features/features.yml
  config/features/plans.yml
  config/features/unsupported_features.yml
  config/freshmarketer.yml
  config/privileges.rb
  deploy/before_migrate.rb
  lib/freshmarketer/client.rb
  lib/freshmarketer/constants.rb
  lib/helpdesk/initializers/load_config.rb
  test/api/functional/admin/freshmarketer_controller_test.rb
Owners: none

Fd-10895,FD-11130 : remove redirect checks (#2188)
  app/controllers/admin/social/streams_controller.rb
  app/controllers/admin/social/twitter_handles_controller.rb
  app/helpers/admin/social/facebook_auth_helper.rb
  app/models/account/constants.rb
  app/models/account/features.rb
Owners: none

FD-11126 Fixes bulk reply for bot source tickets (#2182)
  app/models/helpdesk/note/constants.rb
  lib/helpdesk/bulk_reply_tickets.rb
  test/api/functional/ember/tickets/bulk_actions_controller_test.rb
Owners: none

Fd-8999, Log the exception and avoid sending it to new relic. (#2166)
  api/app/controllers/ember/installed_applications_controller.rb
Owners: none

FD-10398-Return 204 if ticket does not have summary (#1727)
  api/app/controllers/ticket_summary_controller.rb
  swagger/paths/tickets/summary.yaml
  swagger/swagger.json
  test/api/functional/ember/ticket_summary_controller_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

FD-8014: company disassociate warning in requester widget bug (#1906)
  api/app/controllers/decorators/ticket_decorator.rb
Owners: none

FD-4177-Expose few private apis to public (#1667)
  api/app/controllers/concerns/contacts_companies_concern.rb
  api/app/controllers/constants/contact_constants.rb
  api/app/controllers/contacts/merge_controller.rb
  api/app/controllers/contacts/misc_controller.rb
  api/app/controllers/ember/contacts/merge_controller.rb
  api/app/controllers/ember/contacts_controller.rb
  api/app/controllers/validations/contact_merge_validation.rb
  api/app/delegators/contact_delegator.rb
  api/app/delegators/contact_merge_delegator.rb
  api/lib/error_messages.yml
  config/api_privileges.rb
  config/api_routes.rb
  config/privileges.rb
  swagger/definitions/request/contacts/merge.yaml
  swagger/swagger.json
  test/api/functional/channel/api_contacts_controller_test.rb
  test/api/functional/contacts/merge_controller_test.rb
  test/api/functional/contacts/misc_controller_test.rb
  test/api/functional/ember/companies_controller_test.rb
  test/api/functional/ember/contacts/merge_controller_test.rb
  test/api/functional/ember/contacts_controller_test.rb
  test/api/unit/contact_merge_validation_test.rb
Owners: @shankar-ganesh, @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[FD-10168] Publish deleted/spammed tickets cleanup to search service (#2078)
  lib/rabbit_mq/constants.rb
Owners: @sram2020

[FD-10674] Due to rails deprecation on StringIO class we can't set content_type and original_file_name
  lib/helpdesk/process_email.rb
Owners: none

FD-10827, FD-10336 : Schedule export conflict with ticket export memory fix (#2145)
  app/mailers/data_export_mailer.rb
  app/views/data_export_mailer/default_template.html.erb
  app/views/support/tickets/export/data.xls.erb
  app/views/support/tickets/export/footer.xls.erb
  app/views/support/tickets/export/header.xls.erb
  config/locales/en.yml
  lib/export/ticket.rb
  lib/export/ticket_dump.rb
  lib/export/util.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/helpers/ticket_fields_test_helper.rb
Owners: @akshayasrikanth

Dkim issues falcon (#2191)
  lib/dkim/configure_dkim_record.rb
  lib/dkim/constants.rb
  lib/dkim/methods.rb
Owners: none

[FD-10032] Launch party cleanup for skip_one_hop and translate_solutions (#1975)
  api/app/controllers/ember/attachments_controller.rb
  app/controllers/accounts_controller.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/account/multilingual.rb
  app/models/helpdesk/attachment.rb
  app/views/accounts/edit.html.erb
  lib/uploaded_images_controller_methods.rb
  spec/support/account_helper.rb
  test/api/functional/api_solutions/articles_controller_test.rb
  test/api/functional/api_solutions/categories_controller_test.rb
  test/api/functional/api_solutions/folders_controller_test.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
  test/api/integration/flows/api_solution_articles_flows_test.rb
  test/api/integration/flows/api_solution_categories_flows_test.rb
  test/api/integration/flows/api_solution_folders_flows_test.rb
  test/unit/sitemap/sitemap_multilingual_test.rb
  vendor/gems/facebook/lib/facebook/util.rb
Owners: none

[FD-11354] Fix CSV Injection in Satisfaction Survey Report (#2224)
  lib/reports/custom_survey_report.rb
Owners: none

FD-2781 FD-2774 FD-2775 Launch party clean up
  app/controllers/accounts_controller.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/account/multilingual.rb
  app/models/helpdesk/attachment.rb
  app/views/accounts/edit.html.erb
  lib/uploaded_images_controller_methods.rb
  spec/support/account_helper.rb
  test/api/functional/api_solutions/articles_controller_test.rb
  test/api/functional/api_solutions/categories_controller_test.rb
  test/api/functional/api_solutions/folders_controller_test.rb
  test/api/integration/flows/api_solution_articles_flows_test.rb
  test/api/integration/flows/api_solution_categories_flows_test.rb
  test/api/integration/flows/api_solution_folders_flows_test.rb
  test/unit/sitemap/sitemap_multilingual_test.rb
  vendor/gems/facebook/lib/facebook/util.rb
Owners: none

[#FD-3723] - Investigate low minimum delight score for Search module in Private API (#2109)
  api/app/controllers/ember/search/spotlight_controller.rb
Owners: none

[FD-10168] Publish deleted/spammed tickets cleanup to search service (#2077)
  lib/rabbit_mq/constants.rb
Owners: @sram2020

FD-4010 Sample dashboard (#2195)
  api/app/controllers/ember/trial_widget_controller.rb
  api/app/controllers/validations/trial_widget_validation.rb
  app/models/account/constants.rb
  config/account_setup_keys.yml
  lib/account/setup.rb
  test/api/functional/ember/trial_widget_controller_test.rb
  test/api/helpers/trial_widget_test_helper.rb
Owners: none

FD-4010 sample dashboard. (#2194)
  app/models/account/constants.rb
  config/account_setup_keys.yml
  lib/account/setup.rb
Owners: none

FD-2379 ajaxify the contact details page in the old ui (#2189)
  app/controllers/contacts_controller.rb
  app/views/contacts/_view_conversations_all.html.erb
  app/views/contacts/_view_conversations_archived_tickets.html.erb
  app/views/contacts/_view_conversations_forums.html.erb
  app/views/contacts/_view_conversations_tickets.html.erb
  app/views/contacts/show.html.erb
  config/privileges.rb
  config/routes.rb
  public/javascripts/app/contact_view.js
Owners: none

[FD-11354] Fix CSV Injection in Satisfaction Survey Report (#2224)
  lib/reports/custom_survey_report.rb
Owners: none

[FD-11354] Fix CSV Injection in Satisfaction Survey Report (#2224)
  lib/reports/custom_survey_report.rb
Owners: none

FD-2379 ajaxify the contact details page in the old ui - fix (#2229)
  app/views/contacts/show.html.erb
  public/javascripts/app/contact_view.js
Owners: none

FD-2379 revert - contact details ajax (#2231)
  app/controllers/contacts_controller.rb
  app/views/contacts/_view_conversations_all.html.erb
  app/views/contacts/_view_conversations_archived_tickets.html.erb
  app/views/contacts/_view_conversations_forums.html.erb
  app/views/contacts/_view_conversations_tickets.html.erb
  app/views/contacts/show.html.erb
  config/privileges.rb
  config/routes.rb
  public/javascripts/app/contact_view.js
Owners: none

FD-11446, fixing skills import bug due to the change in method signature of store_file() (#2242)
  app/controllers/admin/skills_controller.rb
  lib/import_csv_util.rb
Owners: none

[FD-3005] ticket template attachment ids 400 fix (#2234)
  api/app/controllers/constants/attachment_constants.rb
  api/app/controllers/ember/tickets_controller.rb
  test/api/functional/ember/tickets_controller_test.rb
Owners: none

FD-11453 euattachment added as global host for EUC
  app/controllers/helpdesk/inline_attachments_controller.rb
Owners: none

FD-11439: Falcon test suite preload conflicts (#2241)
  test/api/suites/falcon_test_suite.rb
Owners: none

[FD-10517] Change spanish translation key (#2253)
  config/locales/es.yml
Owners: none

FD-5457 Block signup using temporary emails (#2200)
  Gemfile
  Gemfile.lock
  app/controllers/accounts_controller.rb
  app/models/signup.rb
  config/disposable_email_domains.yml
  config/helpdesk_initializers.yml
  config/locales/en.yml
  lib/domain_generator.rb
  lib/helpdesk/initializers/disposable_email_domains.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth

FD-11285 Configure brakeman ignore file (#2196)
  .gitignore
  config/brakeman.ignore
  config/brakeman.yml
Owners: none

[FD-5491] Non-English language support for quoted text parsing. Required languages can be added on demand in redis.
  lib/helpdesk/process_email.rb
  lib/redis/redis_keys.rb
Owners: none

[FD-11349] (Falcon) Launch Omnibar with FreshID (#2207)
  app/models/account/callbacks.rb
  app/workers/freshid/agents_migration.rb
Owners: none

[FD-11349] (Helpkit) Launch Omnibar with FreshID (#2206)
  app/models/account/callbacks.rb
  app/workers/freshid/agents_migration.rb
Owners: none

FD-4310 : zapier update v1-> v2 change (#2218)
  integrations/zapier/ZapierHooks.js
Owners: none

Pipeline test pr (#2268)
  script/MultijobJenkinsfile
Owners: none

Sidekiq dead jobs rake (#2272)
  app/mailers/freshdesk_errors_mailer.rb
  app/views/freshdesk_errors_mailer/sidekiq_dead_job.html.erb
  app/views/freshdesk_errors_mailer/sidekiq_dead_job_count.html.erb
  lib/tasks/dead_jobs_list.rake
Owners: none

[FD-11612]-[SEARCH-411] Cleaning up post signup process (#2274)
  app/workers/rabbitmq_worker.rb
  app/workers/ryuken/search_splitter.rb
  app/workers/search_v2/index_operations.rb
  app/workers/search_v2/manager.rb
  lib/rabbit_mq/subscribers/search/sqs_utils.rb
  lib/search_service/client.rb
  lib/search_service/constants.rb
Owners: none

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p
