Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @thanashyam, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @prakash-chokalingam, @shankar-ganesh, @akshayasrikanth, @paschalraj, @hrishikesh-p

[L4 Bug] FD-44651 : Avoid job retries in sending email for SMTPFatalError (#8235)
  lib/helpdesk/initializers/mail_message_patch.rb
Owners: none

FD-50205 adding agent_shifts out_of_office in freshops (#8249)
  lib/fdadmin/feature_methods.rb
Owners: none

[User Story] FD-47897 - Backend changes for Loyalty Upgrade (#7948)
  api/app/controllers/constants/agent_constants.rb
  api/app/controllers/decorators/admin/subscription_decorator.rb
  api/app/controllers/validations/ember/agent_preferences_validation.rb
  app/models/agent.rb
  app/models/subscription.rb
  app/views/subscriptions/_loyalty_upgrade_info.html.erb
  app/views/subscriptions/state/_active.html.erb
  config/locales/mint_translations/en.yml
  lib/agents/preferences.rb
  lib/users/preferences.rb
  public/images/giftbox.svg
  public/src/page/admin/_billing.scss
  swagger/definitions/resource/bootstrap_preferences.yaml
  swagger/definitions/resource/profile.yaml
  swagger/definitions/response/subscription/show.yaml
  swagger/swagger.json
  test/api/functional/admin/subscriptions_controller_test.rb
  test/api/functional/ember/bootstrap/preferences_controller_test.rb
  test/api/unit/agent_preference_validation_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[L4 Bug] FD-48026: Csat multiple survey bug fix (#8150)
  app/views/support/tickets/_ticket_custom_survey.html.erb
Owners: none

FD-47868 Removed launch party feature for contact-form-enhancement (#8144)
  app/models/account/constants.rb
  app/models/account/features.rb
Owners: none

[Technical Story] FD-50257 Enabling CloudFront for attachments (#8253)
  api/app/controllers/decorators/attachment_decorator.rb
  api/app/controllers/decorators/conversation_decorator.rb
  api/app/controllers/decorators/ticket_decorator.rb
  app/controllers/helpdesk/attachments_controller.rb
  app/models/account/features.rb
  app/models/helpdesk/attachment.rb
  config/cloud_front.yml
  config/helpdesk_initializers.yml
  deploy/before_migrate.rb
  deploy/config/erb/cloud_front.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/aws_wrapper/cloud_front.rb
  lib/helpdesk/initializers/aws_cloud_front.rb
Owners: none

[Technical Story] FD-49928 added bundle id and name in bootstrap (#8220)
  api/app/controllers/decorators/account_decorator.rb
  app/models/account.rb
  app/models/account/presenter.rb
  test/api/helpers/bootstrap_test_helper.rb
  test/core/helpers/account_test_helper.rb
Owners: none

[Technical Story] [FD-46095] Omni Bundle Info (#8258)
  app/models/account.rb
Owners: none

FD-50471 Defer redis retries for server timeouts (#8275)
  lib/redis/client_patch.rb
Owners: none

FD-50436: Adding additional settings column to agents table (#8271)
  db/migrate/20200423091413_add_additional_settings_to_agents.rb
  db/schema.rb
Owners: @venkatesanmurali, @thanashyam

removed duplicate def for bundle name (#8278)
  app/models/account.rb
Owners: none

[L4 Bug] FD-37609 Beautify ebay replies (#8251)
  lib/ecommerce/ebay/processor.rb
  test/app/controllers/admin/ebay_accounts_controller_test.rb
Owners: none

[User Story] [FD-46685] Create New Ticket API to accept freshcaller ID (#7995)
  api/app/controllers/constants/api_ticket_constants.rb
  api/app/controllers/ember/tickets_controller.rb
  api/app/controllers/validations/ticket_validation.rb
  api/app/delegators/ticket_delegator.rb
  test/api/functional/ember/tickets_controller_test.rb
Owners: none

[Technical Story] FD-49346 helpkit change for omni account cancellation (#8228)
  lib/cache/memcache/subscription_plan.rb
Owners: none

[L4 Bug] FD-48783 : Adding height to input property (#8083)
  public/src/portal/canned_form.scss
Owners: none

[Technical Story] [FD-48005]: Help widget central publish (#8020)
  api/app/controllers/help_widgets_controller.rb
  app/models/help_widget.rb
  app/models/help_widget/constants.rb
  app/models/help_widget/presenter.rb
  lib/central_constants.rb
  test/api/functional/help_widgets_controller_test.rb
  test/models/helpers/help_widget_test_helper.rb
  test/models/presenters/help_widget_test.rb
Owners: none

[Bug] FD-50566 - Freshid sso sync (#8281)
  app/controllers/freshid_controller.rb
  app/helpers/support_helper.rb
  app/models/account/sso_methods.rb
  app/models/account/validations.rb
  lib/freshid/controller_methods.rb
  lib/freshid/v2/event_processor_extensions.rb
  test/lib/sso_methods_test.rb
Owners: none

FD-48807 : Removing feature ticket_fields_central_publish (#8260)
  app/models/account/constants.rb
  app/models/account/features.rb
  lib/helpdesk/ticketfields/publisher.rb
  lib/helpdesk/ticketfields/publisher_methods.rb
  test/api/functional/ticket_fields_controller_test.rb
  test/models/presenters/helpdesk/picklist_values_test.rb
  test/models/presenters/helpdesk/ticket_status_test.rb
  test/models/presenters/ticket_field_test.rb
Owners: none

[Technical Story] FD-49593 Add Additional ticket filters for portal (#8246)
  config/locales/mint_translations/en.yml
  lib/tickets_filter.rb
Owners: none

[Technical Story] [FD-48445, FD-45194] : Omni Freshcaller Agent Management (#8040)
  app/models/account.rb
  app/models/agent.rb
  app/observers/agent_observer.rb
  app/workers/freshcaller/update_agents_worker.rb
  lib/freshcaller/agent_util.rb
  lib/freshcaller/endpoints.rb
  test/api/functional/admin/freshcaller_account_controller_test.rb
  test/api/functional/api_agents_controller_test.rb
  test/api/helpers/freshcaller_test_helper.rb
  test/api/unit/freshcaller/agent_util_test.rb
Owners: none

[Iteration Bug] [FD-50429]: Update agents worker caller changes (#8288)
  app/workers/freshcaller/update_agents_worker.rb
Owners: none

[Technical Story] [FD-49520] - Layer unification (#8207)
  config/sidekiq_classification.yml
  deploy/config/erb/sidekiq_classification.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/sidekiq_config.rb
  lib/helpdesk/initializers/sidekiq.rb
  lib/middleware/sidekiq/client/route_or_drop.rb
Owners: none

[Technical Story] [FD-50472] Change RTS web socket end point (#8276)
  api/app/controllers/ember/rts_controller.rb
  app/workers/account_creation/rts_account_create.rb
  config/rts.yml
  deploy/config/erb/rts.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
Owners: none

[Bug] FD-50566 - Freshid sso sync (#8281) (#8291)
  app/controllers/freshid_controller.rb
  app/helpers/support_helper.rb
  app/models/account/sso_methods.rb
  app/models/account/validations.rb
  lib/freshid/controller_methods.rb
  lib/freshid/v2/event_processor_extensions.rb
  test/lib/sso_methods_test.rb
Owners: none

Added Exception Handling (#8285)
  app/workers/cron_webhooks/traffic_switch_fetch_accounts.rb
Owners: none

[Technical Story] FD-49719 field service in channel api (#8217)
  api/app/controllers/channel/tickets_controller.rb
  config/api_routes.rb
  config/channel_api_keys.yml
  deploy/config/erb/channel_api_keys.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/channel_authentication.rb
  test/api/functional/channel/tickets_controller_test.rb
  test/api/helpers/jwt_test_helper.rb
Owners: none

FD-50408 : Bug fix for freshid migration (#8279)
  lib/freshid/fdadmin/freshid_v1_to_v2_migration.rb
Owners: none

[Technical Story] [FD-48186] - Launching Deeper Freshcaller Integration to all customers (#8058)
  api/app/controllers/admin/freshcaller_account_controller.rb
  api/app/controllers/constants/feature_constants.rb
  app/models/account.rb
  app/models/account/features.rb
  config/features/features.yml
  config/features/plans.yml
  test/api/functional/admin/freshcaller_account_controller_test.rb
Owners: none

FD-48586 - Remove Thai translation wrong value (#8200)
  config/locales/th.yml
Owners: none

[Technical Story] [FD-48748] Marketplace paid app params (#8121)
  app/controllers/integrations/marketplace_apps_controller.rb
  lib/marketplace/gallery_constants.rb
  lib/marketplace/helper_methods.rb
  lib/redis/keys/others.rb
  test/lib/marketplace/helper_methods_test.rb
Owners: none

FD-50646 Cloudfront US Ejson fix (#8300)
  deploy/config/settings-production-us-east-1.ejson
Owners: none

FD-50569-Remove duplicate key from mint translation (#8286)
  config/locales/mint_translations/en.yml
Owners: none

[User Story] FD-45360 add account admin via freshops admin (#8196)
  app/controllers/fdadmin/accounts_controller.rb
  config/routes.rb
  spec/controllers/fdadmin/accounts_controller_spec.rb
  test/app/controllers/fdadmin/accounts_controller_test.rb
Owners: none

[Technical Story] [FD-50767]: Mobile scheme changes for Freshid V2 (#8256)
  Gemfile
  Gemfile.lock
  app/controllers/freshid_controller.rb
  app/controllers/mobile/settings_controller.rb
  app/controllers/user_sessions_controller.rb
  lib/freshid/controller_methods.rb
Owners: none

[Technical Story] FD-47124 Freshcaller subscription update changes (#8244)
  app/controllers/billing/billing_controller.rb
  app/controllers/fdadmin/billing_controller.rb
  app/workers/billing/freshcaller_subscription_update.rb
  config/freshcaller_subscription_config.yml
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  deploy/config/erb/freshcaller_subscription_config.yml.erb
  deploy/config/erb/sidekiq_classification.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  deploy/config/sidekiq_config.rb
  lib/billing/omni_subscription_update_methods.rb
  lib/freshcaller/jwt_authentication.rb
  lib/helpdesk/initializers/load_config.rb
  test/api/sidekiq/freshcaller_subscription_update_test.rb
Owners: none

[L4 Bug] [FD-17470] freshsales nested email fix (#8269)
  lib/integration_services/services/freshsales/freshsales_common_resource.rb
  test/api/functional/ember/installed_applications_controller_test.rb
  test/api/helpers/installed_applications_test_helper.rb
Owners: none

[Technical Story] [FD-50487] add launch party handle_custom_fields_conflicts (#8308)
  app/models/account/constants.rb
  app/models/account/features.rb
Owners: none

[User Story] [FD-47074] propagate fd doamin url to freshcaller (#8171)
  api/app/controllers/ember/admin/onboarding_controller.rb
  app/controllers/fdadmin/accounts_controller.rb
  lib/freshcaller/endpoints.rb
  lib/freshcaller/util.rb
Owners: none

[Sub-task] FD-50035 Phone credits private API (#8238)
  api/app/controllers/admin/freshcaller_account_controller.rb
  api/app/views/admin/freshcaller_account/credit_info.json.api
  app/controllers/subscriptions_controller.rb
  app/views/subscriptions/_freshcaller_credits.html.erb
  config/api_privileges.rb
  config/api_routes.rb
  config/locales/mint_translations/en.yml
  lib/freshcaller/credits_helper.rb
  test/api/functional/admin/freshcaller_account_controller_test.rb
Owners: none

[Bug] [FD-46812] Freshchat signup(v2) via Aloha (#8021)
  app/controllers/admin/freshchat_controller.rb
  app/models/freshchat/account/presenter.rb
  app/views/admin/freshchat/index.html.erb
  app/views/layouts/_agent_freshchat.html.erb
  config/aloha_config.yml
  deploy/before_migrate.rb
  deploy/config/erb/aloha_config.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/freshchat/util.rb
  lib/helpdesk/initializers/load_config.rb
  lib/integration_product/signup.rb
  test/models/helpers/freshchat_account_test_helper.rb
  test/models/presenters/freshchat_account_test.rb
Owners: none

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @thanashyam
db/migrate/*.rb @venkatesanmurali @thanashyam

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @prakash-chokalingam @rajasegar-c
api/lib/error_messages.yml @shankar-ganesh @akshayasrikanth

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p
