Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @thanashyam, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @prakash-chokalingam, @shankar-ganesh, @akshayasrikanth, @paschalraj, @hrishikesh-p

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @thanashyam
db/migrate/*.rb @venkatesanmurali @thanashyam

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @prakash-chokalingam @rajasegar-c
api/lib/error_messages.yml @shankar-ganesh @akshayasrikanth

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

[Bug] FD-45891, Fixing duplicate payload changes to central when Chargebee … (#7698)
  app/controllers/billing/billing_controller.rb
  app/controllers/fdadmin/billing_controller.rb
  app/workers/billing/chargebee_event_listener.rb
  lib/billing/billing_helper.rb
  lib/billing/chargebee_event_listener_methods.rb
  lib/billing/constants.rb
  test/api/sidekiq/chargebee_event_listener_test.rb
  test/app/controllers/billing/billing_controller_test.rb
Owners: none

[Technical Story] [FD-42864] Publish language code to central. (#7680)
  app/models/solution/article/presenter.rb
  lib/central_constants.rb
  test/models/helpers/solutions_test_helper.rb
Owners: none

[Technical Story] [FD-38129] Improve quick-view queries (#7694)
  api/app/controllers/ember/solutions/home_controller.rb
  api/app/views/ember/solutions/home/quick_views.json.api
  app/models/account/features.rb
  lib/solution/portal_language_filter.rb
  test/api/functional/ember/solutions/home_controller_test.rb
Owners: none

FD-46216: Gem changes (#7731)
  Gemfile
  Gemfile.lock
Owners: none

[Technical Story] [FD-46506] Marketplace gallery url for non freshid accounts (#7712)
  app/controllers/admin/marketplace/apps_controller.rb
  config/marketplace.yml
  db/fixtures/foreground/091_oauth_applications.rb
  db/migrate/20190115115017_add_marketplace_gallery_to_oauth_applications.rb
  deploy/config/erb/marketplace.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/helpdesk/initializers/marketplace_config.rb
  test/app/controllers/admin/marketplace/apps_controller_test.rb
Owners: @venkatesanmurali, @thanashyam

[L4 Bug] [FD-13572]Fixed issue of inline images with same cid not displaying. (#7401)
  app/models/helpdesk/note/callbacks.rb
  app/models/helpdesk/ticket/callbacks.rb
  test/models/helpdesk/note_model_test.rb
  test/models/helpdesk/ticket_model_test.rb
Owners: none

Revert "[INFRA-3014] - Proxysql shell enable (#7571)" (#7747)
  deploy/config/dynamic_config_util.rb
Owners: none

[Technical Story] FD-45135 Supress central realtime queue's sql logs (#7705)
  deploy/config/sidekiq_config.rb
  lib/helpdesk/initializers/sidekiq.rb
  lib/middleware/sidekiq/server/supress_sql_logs.rb
Owners: none

FD-46360 remove ooo validations (#7710)
  api/app/controllers/constants/out_of_office_constants.rb
  api/app/controllers/out_of_offices_controller.rb
  api/app/controllers/validations/out_of_office_validation.rb
  test/api/unit/out_of_office_validation_test.rb
Owners: none

[Bug] FD-46491 : Profile Code Clean Up (#7733)
  app/models/account/features.rb
  app/views/profiles/edit.html.erb
Owners: none

[User Story] [FD-39220] Adding fsm section values in setup_keys (#7641)
  config/account_setup_keys.yml
Owners: none

[Technical Story] FD-46463 : Adding german translations (#7746)
  app/views/admin/custom_surveys/_languages.html.erb
  config/locales/de.yml
Owners: none

[User Story] FD-45351 : Facebook Public API Commit (#7669)
  api/app/controllers/constants/conversation_constants.rb
  api/app/controllers/conversations_controller.rb
  api/app/controllers/validations/conversation_validation.rb
  api/app/delegators/conversation_delegator.rb
  app/models/account/constants.rb
  test/api/functional/conversations_controller_test.rb
  test/api/unit/conversation_validation_test.rb
  test/api/unit/ticket_bulk_update_validation_test.rb
  test/api/unit/ticket_summary_validation_test.rb
Owners: none

[Bug] FD-46101: change custom date format from helpkit side (#7736)
  lib/export/ticket_dump.rb
Owners: none

[User Story] [FD-45580] : Hiding secure field in unnecessary places (#7682)
  app/models/helpdesk/ticket_field.rb
  app/models/portal.rb
  app/views/support/shared/_ticket_show_sidebar.html.erb
  app/views/support/tickets/_ticket_details.html.erb
  lib/export_csv_util.rb
  lib/rabbit_mq/subscribers/tickets/activities.rb
  test/api/functional/admin/ticket_fields_controller_test.rb
Owners: none

FD-45497 multilingual changes (#7624)
  app/models/account_additional_settings.rb
  app/views/layouts/shared/freshchat/_body.html.erb
Owners: none

[User Story] [FD-43928] Modify admin/ticket_fields#update, index, show, create APIs to handle archiving Ticket Field (#7374)
  api/app/controllers/admin/ticket_fields_controller.rb
  api/app/controllers/builders/ticket_field_builder.rb
  api/app/controllers/constants/admin/ticket_field_constants.rb
  api/app/controllers/decorators/ticket_field_decorator.rb
  api/app/controllers/helpers/admin/ticket_field_helper.rb
  api/app/controllers/helpers/admin/ticket_fields_error_helper.rb
  api/app/controllers/validations/admin/ticket_fields_validation.rb
  api/app/delegators/admin/sections_delegator.rb
  api/app/views/widget/ticket_fields/index.json.api
  api/lib/error_messages.yml
  app/models/account/associations.rb
  app/models/helpdesk/picklist_value.rb
  app/models/helpdesk/ticket_field.rb
  lib/admin/advanced_ticketing/field_service_management/util.rb
  lib/cache/memcache/account.rb
  lib/cache/memcache/admin/ticket_field.rb
  lib/memcache_keys.rb
  test/api/functional/admin/ticket_fields_controller_test.rb
  test/api/functional/channel/tickets_controller_test.rb
  test/api/functional/ember/tickets/activities_controller_test.rb
  test/api/functional/tickets_controller_test.rb
  test/api/helpers/admin/ticket_field_helper.rb
  test/api/helpers/ticket_fields_test_helper.rb
Owners: @shankar-ganesh, @akshayasrikanth

[User Story] FD-43487 plan based changes for suggested article rules customization (#7681)
  app/models/account/features.rb
  config/features/features.yml
  config/features/plans.yml
  test/api/functional/help_widgets/suggested_article_rules_controller_test.rb
Owners: none

[Technical Story] FD-45494 Adding readonly property to agent_decorator (#7699)
  api/app/controllers/decorators/agent_decorator.rb
  swagger/definitions/resource/agent.yaml
  swagger/swagger.json
  test/api/functional/ember/agents_controller_test.rb
  test/api/helpers/agents_test_helper.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[Technical Story] [FD-46550] Remove OCR features from unsupported_features in EUC, IND and AU (#7748)
  config/features/unsupported_features.yml
  deploy/config/erb/unsupported_features.yml.erb
Owners: none

[Bug] [FD-46606] Bug fix for facebook public api (#7757)
  api/app/controllers/conversations_controller.rb
  api/app/controllers/validations/conversation_validation.rb
  api/app/delegators/conversation_delegator.rb
  app/models/account/constants.rb
  test/api/functional/conversations_controller_test.rb
Owners: none

[Technical Story] FD-46585 : Agents List Sort API (#7714)
  api/app/controllers/api_agents_controller.rb
  api/app/controllers/constants/agent_constants.rb
  test/api/functional/api_agents_controller_test.rb
Owners: none

[Technical Story] FD-46011 - Removing public key from constants file (#7685)
  api/app/controllers/constants/pci_constants.rb
  config/cert/jwe_decryption_key.pem
  config/cert/jwe_encryption_key.pem
  config/jwe/secure_field.yml
  deploy/before_migrate.rb
  deploy/config/erb/secure_field.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/helpdesk/initializers/load_config.rb
  lib/jwt/secure_service_jwe_factory.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/tickets_controller_test.rb
  test/api/helpers/tickets_test_helper.rb
Owners: none

FD-38524 - remove launch party global_navbar (#7763)
  app/models/account/features.rb
Owners: none

FD-45064 Allow email to be added from requester widget if email is not available (#7679)
  app/helpers/helpdesk/requester_widget_helper.rb
  test/api/functional/ember/tickets/requester_controller_test.rb
Owners: none

[L4 Bug] [FD-45349] Set current user for custom stream tweets (#7738)
  lib/social/twitter/feed.rb
Owners: none

[Bug] FD-45228 Skip validation error for Type field while adding choices in sprout plan (#7754)
  api/app/controllers/validations/admin/ticket_fields_validation.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
Owners: none

[Technical Story, Task] [FD-46060, FD-44500] Changing all usages of agent_id to user_id (#7504)
  app/controllers/agents_controller.rb
  app/controllers/users_controller.rb
  app/models/account/features.rb
  app/views/agents/_agent_form.html.erb
  app/views/agents/_agents.html.erb
  app/views/agents/_reset_password.html.erb
  app/views/agents/edit.html.erb
  app/views/agents/index.html.erb
  app/views/agents/show.html.erb
  app/views/layouts/shared/_header.html.erb
  public/javascripts/app/admin/agents/agents.js
  public/javascripts/utils.js
  test/app/controllers/agents_controller_test.rb
Owners: none

[User Story] FD-45705 : Public api for twitter ticket reply (#7766)
  api/app/controllers/constants/conversation_constants.rb
  api/app/controllers/conversations_controller.rb
  api/app/controllers/validations/conversation_validation.rb
  api/app/delegators/conversation_delegator.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  test/api/functional/conversations_controller_test.rb
Owners: none

Revert "[Technical Story, Task] [FD-46060, FD-44500] Changing all usages of agent_id to user_id (#7504)" (#7783)
  app/controllers/agents_controller.rb
  app/controllers/users_controller.rb
  app/models/account/features.rb
  app/views/agents/_agent_form.html.erb
  app/views/agents/_agents.html.erb
  app/views/agents/_reset_password.html.erb
  app/views/agents/edit.html.erb
  app/views/agents/index.html.erb
  app/views/agents/show.html.erb
  app/views/layouts/shared/_header.html.erb
  public/javascripts/app/admin/agents/agents.js
  public/javascripts/utils.js
  test/app/controllers/agents_controller_test.rb
Owners: none

Revert "[Technical Story, Task] [FD-46060, FD-44500] Changing all usages of agent_id to user_id (#7504)"
  app/controllers/agents_controller.rb
  app/controllers/users_controller.rb
  app/models/account/features.rb
  app/views/agents/_agent_form.html.erb
  app/views/agents/_agents.html.erb
  app/views/agents/_reset_password.html.erb
  app/views/agents/edit.html.erb
  app/views/agents/index.html.erb
  app/views/agents/show.html.erb
  app/views/layouts/shared/_header.html.erb
  public/javascripts/app/admin/agents/agents.js
  public/javascripts/utils.js
  test/app/controllers/agents_controller_test.rb
Owners: none

[Technical Story] [FD-45028] : Sources Model (#7715)
  app/models/account/associations.rb
  app/models/helpdesk/archive_note.rb
  app/models/helpdesk/archive_ticket.rb
  app/models/helpdesk/choice.rb
  app/models/helpdesk/note/associations.rb
  app/models/helpdesk/source.rb
  app/models/helpdesk/source/associations.rb
  app/models/helpdesk/source/callbacks.rb
  app/models/helpdesk/source/constants.rb
  app/models/helpdesk/source/validations.rb
  app/models/helpdesk/ticket/associations.rb
  db/migrate/20200221094505_changes_to_choices_type.rb
  db/schema.rb
  test/app/models/source_test.rb
Owners: @venkatesanmurali, @thanashyam

Twitter Changes
  api/app/controllers/constants/conversation_constants.rb
  api/app/controllers/conversations_controller.rb
  api/app/controllers/validations/conversation_validation.rb
  api/app/delegators/conversation_delegator.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  test/api/functional/conversations_controller_test.rb
Owners: none

FD-46580 Enable next_response_sla only for Estate & Forest customers (#7753)
  app/models/account/callbacks.rb
  config/features/plans.yml
Owners: none

[User Story] FD-44718 - Enable FSM in Garden (#7469)
  api/app/delegators/advanced_ticketing_delegator.rb
  app/controllers/subscriptions_controller.rb
  app/helpers/subscriptions_helper.rb
  app/models/helpdesk/ticket_field.rb
  config/features/plan_features.yml
  config/features/plans.yml
  lib/admin/advanced_ticketing/field_service_management/util.rb
  lib/saas/drop_feature_data.rb
  lib/saas/subscription_event_actions.rb
  test/app/controllers/subscriptions_controller_test.rb
Owners: none

[User Story] FD-46437 : adding account id to query (#7726)
  app/models/helpdesk/ticket_status.rb
Owners: none

[User Story] FD-45354 : Backend changes for THP and downgrade feature loss (#7635)
  api/app/controllers/admin/subscriptions_controller.rb
  api/app/controllers/constants/admin_subscription_constants.rb
  api/app/controllers/validations/admin_subscription_validation.rb
  api/app/views/admin/subscriptions/estimate_feature_loss.json.api
  app/models/subscription.rb
  config/api_privileges.rb
  config/api_routes.rb
  swagger/definitions/index.yaml
  swagger/definitions/response/subscription/estimate_feature_loss.yaml
  swagger/paths/subscription/estimate_feature_loss.yaml
  swagger/swagger.json
  test/api/functional/admin/subscriptions_controller_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[Bug] [FD-45035] - Increased polling for marketplace app installations (#7592)
  app/views/admin/marketplace/_freshplugs.html.erb
  app/views/integrations/applications/index.html.erb
  config/marketplace.yml
  deploy/config/erb/marketplace.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/helpdesk/initializers/marketplace_config.rb
  public/javascripts/marketplace/marketplace_browser.js
  public/javascripts/marketplace/template_dock_manager.js
Owners: none

[User Story] FD-45185 Recent Activities for Solutions (#7606)
  api/app/controllers/decorators/dashboard/activity_decorator.rb
  api/app/controllers/decorators/solutions/article_decorator.rb
  api/app/controllers/ember/dashboard/activities_controller.rb
  app/models/helpdesk/activity.rb
  app/models/solution/article.rb
  app/models/solution/draft.rb
  lib/activity_constants.rb
  lib/solution/activities.rb
  test/api/functional/api_solutions/categories_controller_test.rb
  test/api/functional/api_solutions/folders_controller_test.rb
  test/api/functional/ember/dashboard/activities_controller_test.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
Owners: none

[Technical Story] [FD-46227] - Implement new privileges - Read, Write secure data (#7725)
  api/app/controllers/constants/pci_constants.rb
  api/app/controllers/constants/role_constants.rb
  api/app/controllers/decorators/ticket_decorator.rb
  api/app/controllers/ember/tickets_controller.rb
  api/app/controllers/tickets_controller.rb
  api/app/delegators/ticket_delegator.rb
  app/helpers/admin/roles_helper.rb
  app/models/flexifield_def.rb
  app/models/user.rb
  config/api_privileges.rb
  config/locales/mint_translations/en.yml
  config/privileges.yml
  lib/jwt/secure_service_jwe_factory.rb
  swagger/paths/tickets/vault_token.yaml
  swagger/swagger.json
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/tickets_controller_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar
