Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

FD-5250 Add attachment download path (#2118)
  app/controllers/helpdesk/attachments_controller.rb
  test/core/functional/helpdesk/attachments_controller_test.rb
Owners: none

[FD-729] Survey monkey falcon parity (#2072)
  api/app/controllers/constants/conversation_constants.rb
  api/app/controllers/validations/conversation_validation.rb
  api/app/delegators/conversation_delegator.rb
  lib/integrations/constants.rb
Owners: none

FD-10815 Email failure outbound initiator fix (#2130)
  lib/helpdesk/email/failed_email_msg.rb
Owners: none

[FD-10873]: Global API to return app url, HK changes to consume global API for app URL. (#2138)
  lib/integrations/fd_text_filter.rb
  lib/marketplace/api_endpoint.rb
  lib/marketplace/api_helper.rb
  lib/marketplace/api_methods.rb
  lib/marketplace/api_util.rb
  lib/marketplace/constants.rb
  lib/marketplace/inst_ext_controller_methods.rb
  lib/memcache_keys.rb
Owners: none

FD-10277 Publish timesheet events to central (#2034)
  .rubocop_todo.yml
  app/models/account/associations.rb
  app/models/account/features.rb
  app/models/helpdesk/time_sheet.rb
  app/models/helpdesk/time_sheet/presenter.rb
  app/workers/account_cleanup/delete_spam_tickets_cleanup.rb
  app/workers/archive/core/base.rb
  lib/central_constants.rb
  lib/publisher.rb
  test/models/helpers/time_sheets_test_helper.rb
  test/models/presenters/helpdesk/time_sheet_test.rb
Owners: none

FD-10277 Publish timesheet events to central (#2140)
  .rubocop_todo.yml
  app/models/account/associations.rb
  app/models/account/features.rb
  app/models/helpdesk/time_sheet.rb
  app/models/helpdesk/time_sheet/presenter.rb
  app/workers/account_cleanup/delete_spam_tickets_cleanup.rb
  app/workers/archive/core/base.rb
  lib/central_constants.rb
  lib/publisher.rb
  test/models/helpers/time_sheets_test_helper.rb
  test/models/presenters/helpdesk/time_sheet_test.rb
Owners: none

[FD-9592] Portal show and bot prerequisite Apis (#2028)
  api/app/controllers/constants/portal_constants.rb
  api/app/controllers/ember/admin/bots_controller.rb
  api/app/controllers/ember/portals_controller.rb
  api/app/controllers/validations/portal_validation.rb
  api/app/delegators/portal_delegator.rb
  api/app/views/ember/portals/bot_prerequisites.json.api
  api/app/views/ember/portals/show.json.api
  api/lib/error_messages.yml
  app/models/portal/solution_associations.rb
  app/models/solution/category_meta.rb
  config/api_privileges.rb
  config/api_routes.rb
  db/migrate/20180607124540_add_index_to_portal_solution_categories.rb
  db/schema.rb
  swagger/definitions/index.yaml
  swagger/definitions/response/bot_new.yaml
  swagger/definitions/response/bot_prerequisites.yaml
  swagger/definitions/response/bot_show.yaml
  swagger/paths/index.yaml
  swagger/paths/portals/bot_prerequisites.yaml
  swagger/paths/portals/show.yaml
  swagger/swagger.json
  test/api/functional/ember/portals_controller_test.rb
  test/api/helpers/bot_test_helper.rb
  test/api/helpers/portals_test_helper.rb
Owners: @shankar-ganesh, @venkatesanmurali, @arvindr, @thanashyam, @abinaya21, @ksashikumar

Fd 10490 helpkit (#2129)
  app/controllers/sso_controller.rb
  config/routes.rb
  lib/auth/twitter_authenticator.rb
  lib/integrations/constants.rb
  lib/integrations/oauth_helper.rb
  lib/integrations/twitter_login_helper.rb
  lib/portal/portal_filters.rb
Owners: none

[FD-9654] Handles plan change for bot (#2050)
  app/models/account/callbacks.rb
  app/models/account/features.rb
  app/models/bot.rb
  config/features/features.yml
  config/features/plans.yml
  config/locales/en.yml
  lib/redis/redis_keys.rb
  lib/saas/account_data_cleanup.rb
  lib/saas/subscription_event_actions.rb
Owners: @akshayasrikanth

[FD-9592] Adds index to portal solution category (#2076)
  db/migrate/20180607124540_add_index_to_portal_solution_categories.rb
  db/schema.rb
Owners: @venkatesanmurali, @arvindr, @thanashyam

FD-1733 FD-4497 FD-7202 Paragraph field increase (#2058)
  app/controllers/custom_fields_controller.rb
  app/models/flexifield_def.rb
  app/models/helpdesk/ticket/presenter.rb
  config/locales/en.yml
  db/migrate/20180111054829_add_mlt_columns_to_denormalized_flexifields.rb
  db/migrate/20180423062820_add_index_to_flexfield_def_entries.rb
  db/schema.rb
  lib/helpdesk/initializers/virtual_agent.rb
  lib/helpdesk/ticketfields/constants.rb
  lib/helpdesk/ticketfields/controller_methods.rb
  lib/helpdesk/ticketfields/validations.rb
  lib/redis/redis_keys.rb
  vendor/gems/has_flexiblefields/app/models/denormalized_flexifield.rb
  vendor/gems/has_flexiblefields/app/models/flexifield.rb
  vendor/gems/has_flexiblefields/lib/flexifield_constants.rb
Owners: @akshayasrikanth, @venkatesanmurali, @arvindr, @thanashyam

FD-1733 FD-4497 FD-7202 Paragraph field increase (#2141)
  app/controllers/custom_fields_controller.rb
  app/models/flexifield_def.rb
  app/models/helpdesk/ticket/presenter.rb
  config/locales/en.yml
  db/migrate/20180111054829_add_mlt_columns_to_denormalized_flexifields.rb
  db/migrate/20180423062820_add_index_to_flexfield_def_entries.rb
  db/schema.rb
  lib/helpdesk/initializers/virtual_agent.rb
  lib/helpdesk/ticketfields/constants.rb
  lib/helpdesk/ticketfields/controller_methods.rb
  lib/helpdesk/ticketfields/validations.rb
  lib/redis/redis_keys.rb
  vendor/gems/has_flexiblefields/app/models/denormalized_flexifield.rb
  vendor/gems/has_flexiblefields/app/models/flexifield.rb
  vendor/gems/has_flexiblefields/lib/flexifield_constants.rb
Owners: @akshayasrikanth, @venkatesanmurali, @arvindr, @thanashyam

[FD-10799] Fix for enable freshid only on sso_enabled changed (#2124)
  app/models/account/callbacks.rb
  app/views/admin/security/index.html.erb
  config/locales/en.yml
Owners: @akshayasrikanth

[FD-10747] Handles support bot feature downgrade (#2117)
  lib/saas/account_data_cleanup.rb
Owners: none

[FD-9759] Twitter poll rake to shoryuken (#1979)
  app/workers/ryuken/twitter_tweet_to_ticket.rb
  app/workers/social/gnip/smart_filter_tweet_to_ticket_worker.rb
  config/shoryuken.yml
  lib/helpdesk/initializers/aws/sqs.rb
  lib/helpdesk/initializers/shoryuken.rb
  lib/social/gnip/twitter_feed.rb
  lib/tasks/gnip_stream.rake
  spec/support/twitter_helper.rb
Owners: none

FD-10855 Modify the agents group if there is group list in api body (#2135)
  app/models/agent.rb
Owners: none

FD-10855 Modify the agents group if there is group list in api body (#2139)
  app/models/agent.rb
Owners: none

[FD-6851] CTI Placeholder - Iframe to load apps (#1974)
  app/views/layouts/shared/_footer.html.erb
Owners: none

FD-10898 Sidekiq dead jobs rake (#2146)
  app/mailers/freshdesk_errors_mailer.rb
  app/views/freshdesk_errors_mailer/sidekiq_dead_job_count.html.erb
  lib/tasks/dead_jobs_list.rake
Owners: none

Disabling CTI in falcon UI (#2151)
  app/views/layouts/shared/_footer.html.erb
Owners: none

FD-10812 adding allow option in the iframe for CTI Integration (#2126)
  app/views/shared/integrations/cti/_screen_pop.html.erb
Owners: none

[FreshConnect] [FD-10529] JWT Authentication and New Table Migration (#2142)
  api/app/controllers/api_application_controller.rb
  api/app/controllers/concerns/ticket_concern.rb
  api/app/controllers/decorators/api_decorator.rb
  api/app/controllers/decorators/contact_decorator.rb
  app/controllers/concerns/application_concern.rb
  app/models/account/associations.rb
  app/models/freshconnect/account.rb
  config/app_integration.yml
  config/helpdesk_initializers.yml
  db/migrate/20180616064951_create_freshconnect_accounts.rb
  db/schema.rb
  deploy/before_migrate.rb
  lib/app_jwt_auth.rb
  lib/helpdesk/initializers/app_integration.rb
Owners: @venkatesanmurali, @arvindr, @thanashyam

FD-9646 FD-10720 API changes for analytics mock data (#2106)
  api/app/controllers/ember/admin/bots_controller.rb
  api/app/delegators/bot_delegator.rb
  api/lib/error_messages.yml
  app/models/bot.rb
  config/api_privileges.rb
  config/api_routes.rb
  swagger/definitions/response/bot_show.yaml
  swagger/paths/bots/remove_analytics_mock_data.yaml
  swagger/paths/index.yaml
  swagger/swagger.json
  test/api/functional/ember/admin/bots_controller_test.rb
  test/api/helpers/bot_test_helper.rb
  test/api/helpers/bot_ticket_helper.rb
Owners: @shankar-ganesh, @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

FD-7941, FD-10584 Multilingual Insert solutions (#2081)
  api/app/controllers/constants/solution_constants.rb
  api/app/controllers/decorators/account_decorator.rb
  api/app/controllers/decorators/solutions/article_decorator.rb
  api/app/controllers/decorators/ticket_decorator.rb
  api/app/controllers/ember/search/solutions_controller.rb
  api/app/controllers/ember/solutions/articles_controller.rb
  api/app/controllers/validations/solution_article_filter_validation.rb
  swagger/definitions/resource/solution_article.yaml
  swagger/definitions/response/article_content.yaml
  swagger/definitions/response/bootstrap/account.yaml
  swagger/paths/solutions/article_content.yaml
  swagger/paths/solutions/articles.yaml
  swagger/swagger.json
  test/api/functional/ember/solutions/articles_controller_test.rb
  test/api/helpers/bootstrap_test_helper.rb
  test/api/helpers/solutions_test_helper.rb
  test/api/unit/solution_article_filter_validation_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[FD-10980] - FQL conversion change (#2164)
  lib/freshquery/parser/term_visitor.rb
Owners: none

FD-10981 Twitter login - change id to screen_name
  lib/integrations/twitter_login_helper.rb
Owners: none

Rake tasks (#2147)
  api/app/controllers/constants/api_constants.rb
  api/app/controllers/constants/rake_task_constants.rb
  api/app/controllers/rake_task_controller.rb
  api/app/views/rake_task/run_rake_task.json.api
  app/workers/run_rake_task.rb
  config/api_routes.rb
  config/privileges.rb
  config/run_rake_task.yml
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
Owners: @venkatesanmurali, @hrishikesh-p

FD-10529: Freshconnect Table migration (#2162)
  app/models/account/associations.rb
  app/models/freshconnect/account.rb
  db/migrate/20180616064951_create_freshconnect_accounts.rb
  db/schema.rb
Owners: @venkatesanmurali, @arvindr, @thanashyam

[FD-2750] : Removing StatsD metrics publish (#2132)
  Gemfile
  Gemfile.lock
  config/helpdesk_initializers.yml
  config/statsd.yml
  lib/helpdesk/initializers/big_brother.rb
  lib/helpdesk/initializers/controller_log_subscriber.rb
  lib/helpdesk/initializers/statsd_config.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

Update test coverage by Squad (#1875)
  Gemfile
  Gemfile.lock
  test/api/helpers/boc_groups.rb
  test/api/helpers/simple_cov_setup.rb
  test/api/suites/all_tests.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

FD-10813 Hebrew calendar not working in the business calendar (#2127)
  public/javascripts/admin/business_calendars/calendar_source_list.js
Owners: none

Helpdesk reports new agent/group performance metric (#2175)
  app/controllers/reports/v2/tickets/reports_controller.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/views/reports/v2/tickets/reports/agent_summary/_charts.html.erb
  app/views/reports/v2/tickets/reports/group_summary/_charts.html.erb
  config/locales/en.yml
  lib/helpdesk_reports/constants/ticket.rb
  lib/helpdesk_reports/formatter/ticket/agent_summary.rb
  lib/helpdesk_reports/formatter/ticket/group_summary.rb
  lib/helpdesk_reports/helper/ticket.rb
  lib/helpdesk_reports/param_constructor/agent_summary.rb
  lib/helpdesk_reports/param_constructor/group_summary.rb
  public/javascripts/helpdesk_reports/reports_constants.js
  public/javascripts/helpdesk_reports/templates/agent_summary_tmpl.jst.ejs
  public/javascripts/helpdesk_reports/templates/group_summary_tmpl.jst.ejs
Owners: @akshayasrikanth

Jenkins Pipeline (#2157)
  script/Jenkinsfile
  script/MultijobJenkinsfile
Owners: none

Fd 8472 shared attachment issue (templates and CR) in new email (#2100)
  api/app/controllers/constants/attachment_constants.rb
  config/api_routes.rb
  test/api/functional/ember/tickets_controller_test.rb
Owners: none

[FD-11012] Marketplace bug fix for old UI (#2178)
  lib/marketplace/api_helper.rb
Owners: none

FD-6974 : sanitize gem upgrade (#2114)
  Gemfile
  Gemfile.lock
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

FD-10741 ERR wrong number of arguments for 'hmset' command (#2161)
  api/app/controllers/concerns/custom_dashboard_concern.rb
  test/api/functional/ember/dashboard_controller_test.rb
  test/api/helpers/dashboard_redshift_test_helper.rb
Owners: none

fd-6974 sanitize gem upgrade (#2172)
  Gemfile
  Gemfile.lock
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

FD-7510 Cleanup launch party features: escape_liquid_for_portal (#1736)
  app/drops/base_drop.rb
  app/models/account/constants.rb
Owners: none

Fd 4701 create lead contact freshsales app (#2155)
  api/app/controllers/constants/installed_application_constants.rb
  api/app/controllers/ember/installed_applications_controller.rb
  api/app/controllers/validations/installed_application_validation.rb
  lib/integration_services/services/freshsales/freshsales_common_resource.rb
  lib/integration_services/services/freshsales/freshsales_contact_resource.rb
  lib/integration_services/services/freshsales/freshsales_lead_resource.rb
  lib/integration_services/services/freshsales_service.rb
  test/api/functional/ember/installed_applications_controller_test.rb
  test/api/helpers/installed_applications_test_helper.rb
  test/api/unit/installed_application_validation_test.rb
Owners: none

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p
