Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @thanashyam, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @prakash-chokalingam, @shankar-ganesh, @akshayasrikanth, @paschalraj, @hrishikesh-p

[User Story] [FD-47233] Dispatcher for service tasks (#7985)
  app/models/helpdesk/ticket/callbacks.rb
  app/workers/admin/service_task_dispatcher/worker.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  deploy/config/sidekiq_config.rb
  lib/helpdesk/dispatcher.rb
  lib/helpdesk/initializers/virtual_agent.rb
  lib/helpdesk/service_task_dispatcher.rb
  lib/helpdesk/ticket_notifications.rb
  spec/support/ticket_helper.rb
  test/api/sidekiq/admin/service_task_dispatcher_worker_test.rb
Owners: none

[Technical Story] FD-46079 Expose latest CSAT rating to the contact API (#8024)
  api/app/controllers/decorators/contact_decorator.rb
  app/models/account/features.rb
  app/models/custom_survey/survey_result/callbacks.rb
  app/models/user.rb
  swagger/definitions/resource/extension/contact.yaml
  swagger/swagger.json
  test/api/functional/ember/contacts_controller_test.rb
  test/api/helpers/users_test_helper.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[Technical Story] FD-46080 - Added preferred_source in contact api (#8033)
  api/app/controllers/decorators/contact_decorator.rb
  app/models/helpdesk/ticket/callbacks.rb
  app/models/user.rb
  swagger/definitions/resource/extension/contact.yaml
  swagger/swagger.json
  test/api/functional/ember/contacts_controller_test.rb
  test/api/helpers/users_test_helper.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[Technical Story] [FD-49085] Enable rake metrics and add message queueing time for background tasks (#8108)
  Gemfile
  Gemfile.lock
Owners: none

[L4 Bug] FD-47550 - Role update fix (#7976)
  app/models/role.rb
  app/workers/roles/update_user_privileges.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  deploy/config/erb/sidekiq_classification.yml.erb
  deploy/config/sidekiq_config.rb
  test/api/sidekiq/update_user_privileges_test.rb
Owners: none

[Bug] [FD-49154] Envoy egress ssrf fix (#8118)
  app/models/http_request_proxy.rb
  deploy/config/erb/fd_email_service.yml.erb
  deploy/config/erb/proactive_service.yml.erb
  lib/dkim/email_service_http.rb
  lib/proactive/proactive_util.rb
Owners: none

enable customer journey cleanup (#8109)
  app/models/account/features.rb
  test/api/unit/pricing_plan_change_2019_test.rb
Owners: none

[Technical Story] FD-48833, expose contact search api as channel endpoint. (#8076)
  api/app/controllers/channel/api_contacts_controller.rb
  api/app/controllers/channel/search/customers_controller.rb
  config/api_routes.rb
  config/channel_api_keys.yml
  deploy/config/erb/channel_api_keys.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/channel_authentication.rb
  test/api/functional/api_agents_controller_test.rb
  test/api/functional/channel/search/customers_controller_test.rb
  test/api/helpers/jwt_test_helper.rb
Owners: none

[Technical Story] [FD-49058] : Changing dkim host for other pods (#8110)
  config/fd_email_service.yml
  deploy/config/erb/fd_email_service.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/dkim/constants.rb
Owners: none

FD-31367 - Password change error message issue fix (#8038)
  app/controllers/profiles_controller.rb
Owners: none

[Task] [FD-43984] - Unit Test | DB Transaction with Rollback (#7961)
  lib/tasks/bootstrap.rake
  script/ContainerizedJenkinsfile
  script/Jenkinsfile
  script/JenkinsfileOld
  test/clean_db.sh
  test/sample_new_test.rb
Owners: none

[Technical Story] [FD-48325] Rule path for service task automations (#8013)
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/va_rule.rb
  test/api/functional/admin/automations_controller_test.rb
Owners: none

[Technical Story] FD-47768: Pre-Rails change phase - batch - 1 (#8077)
  api/app/views/channel/freshbots/groups/index.json.api
  app/controllers/admin/portal_controller.rb
  app/controllers/agents_controller.rb
  app/controllers/contacts_controller.rb
  app/controllers/discussions/forums_controller.rb
  app/controllers/discussions/merge_topic_controller.rb
  app/controllers/discussions/topics_controller.rb
  app/controllers/forums_controller.rb
  app/controllers/helpdesk/attachments_controller.rb
  app/controllers/helpdesk/autocomplete_controller.rb
  app/controllers/helpdesk/sla_policies_controller.rb
  app/controllers/helpdesk/subscriptions_controller.rb
  app/controllers/helpdesk/tags_controller.rb
  app/controllers/helpdesk/tickets_controller.rb
  app/controllers/partner_admin/affiliates_controller.rb
  app/controllers/reports/freshchat/summary_reports_controller.rb
  app/controllers/reports/v2/tickets/reports_controller.rb
  app/controllers/search/autocomplete_controller.rb
  app/controllers/social/twitter_handles_controller.rb
  app/controllers/subscriptions_controller.rb
  app/controllers/support/archive_tickets_controller.rb
  app/controllers/support/discussions/monitorship_controller.rb
  app/controllers/support/discussions/topics_controller.rb
  app/controllers/support/discussions_controller.rb
  app/controllers/support/tickets_controller.rb
  app/controllers/topics_controller.rb
  app/models/topic/merge.rb
  app/observers/topic_observer.rb
  app/views/discussions/topics/widgets/_user_list.html.erb
  app/views/posts/monitored.html.erb
  test/api/functional/api_sla_policies_controller_test.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
  test/api/helpers/solutions_articles_common_tests.rb
  test/api/sidekiq/admin/dispatcher_worker_test.rb
  test/api/sidekiq/admin/observer_worker_test.rb
  test/api/sidekiq/admin/service_task_dispatcher_worker_test.rb
  test/core/helpers/automation_rules_test_helper.rb
  test/lib/integration_services/services/salesforce_service_test.rb
Owners: none

[Technical Story] FD-49260 ApiSlaPoliciesControllerTest -- test case fix (#8122)
  test/api/functional/api_sla_policies_controller_test.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
  test/api/sidekiq/admin/observer_worker_test.rb
Owners: none

[L4 Bug] [FD-47847]: Search ticket (#8080)
  api/app/controllers/ember/search/tickets_controller.rb
  app/controllers/search/v2/spotlight_controller.rb
  lib/search/utils.rb
  test/api/functional/ember/search/tickets_controller_test.rb
Owners: none

[L4 Bug] FD-43635 - Private/Public notes having quoted text while editing note (#7393)
  app/models/helpdesk/note/callbacks.rb
  test/api/functional/conversations_controller_test.rb
Owners: none

[Bug] FD-48674 - Echo message note type fix (#8113)
  vendor/gems/facebook/lib/facebook/ticket_actions/real_time_message.rb
Owners: none

[Bug] [FD-47822] skip validation in dropdown fields (#7988)
  api/app/controllers/api_companies_controller.rb
  api/app/controllers/api_contacts_controller.rb
  api/app/controllers/ember/companies_controller.rb
  api/app/controllers/ember/contacts_controller.rb
  api/app/controllers/ember/tickets_controller.rb
  api/app/controllers/tickets_controller.rb
  api/app/delegators/base_delegator.rb
  api/app/validators/custom_field_validator.rb
  api/lib/ticket_update_helper.rb
  app/models/company.rb
  app/models/user.rb
  test/api/functional/api_companies_controller_test.rb
  test/api/functional/api_contacts_controller_test.rb
  test/api/functional/ember/companies_controller_test.rb
  test/api/functional/ember/contacts_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/tickets_controller_test.rb
Owners: none

FD-49023: Change vault service staging URL (#8105)
  deploy/config/settings-staging-us-east-1.ejson
Owners: none

[User Story] FD-43999 API to Bulk create canned responses (#8043)
  api/app/controllers/api_agents_controller.rb
  api/app/controllers/api_application_controller.rb
  api/app/controllers/canned_responses_controller.rb
  api/app/controllers/channel/v2/canned_responses_controller.rb
  api/app/controllers/constants/agent_constants.rb
  api/app/controllers/constants/canned_response_constants.rb
  api/app/controllers/helpers/bulk_api_jobs_helper.rb
  api/app/views/canned_responses/create_multiple.json.api
  api/lib/error_messages.yml
  app/models/admin/canned_responses/response.rb
  app/workers/bulk_api_jobs/canned_response.rb
  config/api_routes.rb
  config/channel_v2_privileges.rb
  config/privileges.rb
  swagger/definitions/index.yaml
  swagger/definitions/request/canned_response/bulk_canned_response.yaml
  swagger/definitions/request/canned_response/create.yaml
  swagger/paths/canned_responses/create_multiple.yaml
  swagger/paths/index.yaml
  swagger/swagger.json
  test/api/functional/canned_responses_controller_test.rb
Owners: @shankar-ganesh, @akshayasrikanth, @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[Technical Story] [FD-46631] Handling service task automations for FSM disable and plan downgrade (#8084)
  app/helpers/subscriptions_helper.rb
  app/models/va_rule.rb
  lib/admin/advanced_ticketing/field_service_management/util.rb
  spec/support/automations_helper.rb
  test/api/functional/ember/admin/advanced_ticketing_controller_test.rb
  test/app/controllers/subscriptions_controller_test.rb
Owners: none

[Bug] FD-46714 Folder creation in secondary language issue fix (#7997)
  api/app/controllers/api_solutions/folders_controller.rb
  api/app/delegators/api_solutions/folder_delegator.rb
  api/lib/error_messages.yml
  test/api/functional/api_solutions/folders_controller_test.rb
  test/api/functional/ember/solutions/folders_controller_test.rb
  test/api/helpers/solution_folders_test_helper.rb
Owners: @shankar-ganesh, @akshayasrikanth

[Technical Story] FD-46247 Redis client patch for updating password OTG (#7944)
  Gemfile
  deploy/config/erb/automation_rule_redis.yml.erb
  deploy/config/erb/rate_limit.yml.erb
  deploy/config/erb/redis.yml.erb
  deploy/config/erb/redis_display_id.yml.erb
  deploy/config/erb/redis_mobile.yml.erb
  deploy/config/erb/redis_round_robin.yml.erb
  deploy/config/erb/redis_routes.yml.erb
  deploy/config/erb/redis_session.yml.erb
  deploy/config/settings-staging-us-east-1.ejson
  lib/helpdesk/initializers/redis.rb
  lib/redis/client_patch.rb
Owners: none

[L4 Bug] [FD-48399] canned response Increase limit (#8061)
  api/app/controllers/canned_response_folders_controller.rb
  test/api/functional/canned_response_folders_controller_test.rb
Owners: none

Removing unused DBs in staging (#8135)
  deploy/config/settings-staging-us-east-1.ejson
Owners: none

Separating protocol from account domain (#8131)
  app/controllers/admin/marketplace/apps_controller.rb
Owners: none

[User Story] [FD-38640] Handle Archive Ticket fields in sandbox (#7717)
  api/app/views/admin/sandboxes/diff.json.api
  lib/sync/constants.rb
  lib/sync/data_to_file/save_files.rb
  test/api/sidekiq/sandbox/provision_sandbox_test.rb
  test/api/sidekiq/sandbox/provision_sandbox_test_helper.rb
Owners: none

FD-49314 archive shoryuken queues india pod (#8130)
  deploy/config/settings-production-ap-south-1.ejson
Owners: none

[Technical Story] FD-48564 Enable HTTParty library to honour proxy ENVs (#8057)
  lib/helpdesk/initializers/net_http_monkey_patch.rb
Owners: none

[Technical Story] FD-49378 Roboassist helpkit changes (#8140)
  app/models/account/features.rb
  config/features/features.yml
Owners: none

[L4 Bug] fixing FD-43207. added a condition to not call integrations_private_n… (#8127)
  app/models/helpdesk/note/callbacks.rb
  test/models/helpdesk/note_model_test.rb
Owners: none

FD-48354 Fix search issue in Freshops (#8050)
  app/controllers/fdadmin/freshops_pod_controller.rb
  app/models/portal.rb
Owners: none

test case fixes (#8117)
  spec/support/user_helper.rb
  test/api/functional/api_agents_controller_test.rb
  test/api/sidekiq/admin/dispatcher_worker_test.rb
  test/api/sidekiq/admin/observer_worker_test.rb
  test/core/helpers/automation_rules_test_helper.rb
Owners: none

[User Story] [FD-44503][FD-44559][FD-44567][FD-44568] SLA based routing in OCR (#7847)
  api/app/controllers/channel/omni_channel_routing/groups_controller.rb
  app/models/helpdesk/ticket.rb
  app/models/helpdesk/ticket/callbacks.rb
  test/api/functional/channel/omni_channel_routing/groups_controller_test.rb
Owners: none

[Technical Story] FD-49027 Envoy egress with circuit breaker for Freno (#8106)
  deploy/config/erb/freno.yml.erb
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
Owners: none

FD-49437 Change US sidekiq EP with password (#8151)
  deploy/config/settings-production-us-east-1.ejson
Owners: none

[Security Bug] FD-46486: SSRF Security Fix OpenID (#8068)
  app/controllers/authorizations_controller.rb
  vendor/gems/rack-openid/lib/rack/openid.rb
Owners: none

[User Story] FD-49455 -Update trf fields during ticket creation (#8153)
  lib/channel_integrations/commands/services/twitter.rb
  test/api/shoryuken/channel_message_poller_test.rb
  test/core/helpers/twitter_test_helper.rb
Owners: none

[FD-49451] Fix for for proactive service simple outreach envoy egress (#8156)
  app/workers/http_request_worker.rb
  lib/proactive/proactive_service_call.rb
Owners: none

[Technical Story] FD-49388 limiting uuid in sidekiq logs (#8142)
  lib/logger_constants.rb
  lib/middleware/sidekiq/server/belongs_to_account.rb
Owners: none

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @thanashyam
db/migrate/*.rb @venkatesanmurali @thanashyam

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @prakash-chokalingam @rajasegar-c
api/lib/error_messages.yml @shankar-ganesh @akshayasrikanth

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p
