Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

FD-13758, DB to bitmap migration falcon changes (#2596)
  app/models/account/constants.rb
  app/models/account/features.rb
  lib/cache/memcache/account.rb
  lib/redis/redis_keys.rb
Owners: none

FD-12781 set default contact’s language as account’s language (#2615)
  api/app/controllers/api_contacts_controller.rb
  test/api/functional/api_contacts_controller_test.rb
  test/api/functional/ember/contacts_controller_test.rb
Owners: none

FD-12945 handling xss in agent skills
  app/views/admin/user_skills/index.html.erb
  public/javascripts/app/admin/skills/agentskills_index.js
  public/javascripts/app/admin/skills/templates/add_skill.jst.ejs
  public/javascripts/cdn/app/admin.js
Owners: none

Fd 12619 contacts api perf (#2437)
  api/app/controllers/ember/contacts_controller.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  test/api/functional/ember/contacts_controller_test.rb
Owners: none

[FRESHCALL-2247] fixed update fail request (#2403)
  api/app/controllers/channel/freshcaller/calls_controller.rb
  api/app/controllers/constants/freshcaller/call_constants.rb
  test/api/functional/channel/freshcaller/calls_controller_test.rb
Owners: none

FD-13383 Fix kvm update
  lib/apigee/kvm.rb
Owners: none

[FD-13488] Moving automation related logs to production logs (#2618)
  app/workers/tickets/observer_worker.rb
  lib/business_rules_observer.rb
  lib/helpdesk/dispatcher.rb
  lib/helpdesk/initializers/virtual_agent.rb
  lib/va/logger/automation.rb
  lib/va/observer/util.rb
  lib/va/performer.rb
  lib/va/rule_handler.rb
Owners: none

[FD-13488] Moving automation related logs to production logs (#2617)
  app/workers/tickets/observer_worker.rb
  lib/business_rules_observer.rb
  lib/helpdesk/dispatcher.rb
  lib/helpdesk/initializers/virtual_agent.rb
  lib/va/logger/automation.rb
  lib/va/observer/util.rb
  lib/va/performer.rb
  lib/va/rule_handler.rb
Owners: none

[FD-13745] Allow FreshID migration even if FreshID new account signup is not allowed (#2601)
  app/models/account.rb
  app/models/signup.rb
  app/workers/freshid/agents_migration.rb
Owners: none

[FD-13745] Allow FreshID migration even if FreshID new account signup is not allowed (#2600)
  app/models/account.rb
  app/models/signup.rb
  app/workers/freshid/agents_migration.rb
Owners: none

[FD-11082] Test cases for ember topics search (#2646)
  test/api/functional/ember/search/topics_controller_test.rb
  test/api/helpers/search_test_helper.rb
Owners: none

[FD-12554] email validation fix for apis to include names along with emails (#2477)
  api/app/controllers/constants/api_constants.rb
  api/app/controllers/validations/conversation_validation.rb
  api/app/controllers/validations/ticket_validation.rb
  lib/account_constants.rb
  test/api/functional/conversations_controller_test.rb
  test/api/functional/ember/conversations_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/tickets_controller_test.rb
Owners: none

Archive ghost fix old ui (#2666)
  app/models/account/callbacks.rb
  app/models/account/features.rb
Owners: none

FD-12550 removing archive ghost launch party feature (#2554)
  app/models/account/callbacks.rb
  app/models/account/features.rb
Owners: none

[FD-11079] Test cases for ember solutions search (#2645)
  test/api/functional/ember/search/solutions_controller_test.rb
  test/api/helpers/search_test_helper.rb
Owners: none

[FD-14024] handling redirection advanced ticketing (#2648)
  config/routes.rb
Owners: none

FD-13354 Advanced ticketing - Helpkit changes (#2555)
  app/models/account/callbacks.rb
  app/views/admin/marketplace/templates/installed_freshplugs/_index.html.erb
  app/views/integrations/applications/_native_integrations.html.erb
  lib/fdadmin/feature_methods.rb
  lib/integrations/constants.rb
  lib/integrations/integration_helper.rb
Owners: none

FD-13354 Move Advanced ticketing into Admin (#2553)
  api/app/controllers/constants/advanced_ticketing_constants.rb
  api/app/controllers/constants/api_constants.rb
  api/app/controllers/ember/admin/advanced_ticketing_controller.rb
  api/app/controllers/validations/advanced_ticketing_validation.rb
  api/app/delegators/advanced_ticketing_delegator.rb
  api/app/views/ember/admin/advanced_ticketing/insights.json.api
  api/lib/error_messages.yml
  app/models/account/callbacks.rb
  app/views/admin/marketplace/templates/installed_freshplugs/_index.html.erb
  app/views/integrations/applications/_native_integrations.html.erb
  config/api_privileges.rb
  config/api_routes.rb
  config/s3.yml
  lib/fdadmin/feature_methods.rb
  lib/integrations/advanced_ticketing/link_ticket.rb
  lib/integrations/advanced_ticketing/parent_child.rb
  lib/integrations/advanced_ticketing/shared_ownership.rb
  lib/integrations/constants.rb
  lib/integrations/integration_helper.rb
  lib/redis/hash_methods.rb
  lib/redis/redis_keys.rb
  lib/saas/account_data_cleanup.rb
  swagger/definitions/index.yaml
  swagger/definitions/request/advanced_ticketing/create.yaml
  swagger/definitions/response/advanced_ticketing/insights.yaml
  swagger/paths/advanced_ticketing/create.yaml
  swagger/paths/advanced_ticketing/destroy.yaml
  swagger/paths/advanced_ticketing/insights.yaml
  swagger/paths/index.yaml
  swagger/swagger.json
  test/api/functional/ember/admin/advanced_ticketing_controller_test.rb
  test/api/helpers/advanced_ticketing_test_helper.rb
Owners: @shankar-ganesh, @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

Team Dashboards - Announcements GA (#2650)
  api/app/controllers/decorators/custom_dashboard_decorator.rb
  api/app/controllers/ember/custom_dashboard_controller.rb
  app/models/account/features.rb
  test/api/functional/ember/custom_dashboard_controller_test.rb
Owners: none

FD-12270 timespent reports time format change (#2660)
  config/locales/en.yml
  public/javascripts/cdn/i18n/ar.js
  public/javascripts/cdn/i18n/ca.js
  public/javascripts/cdn/i18n/cs.js
  public/javascripts/cdn/i18n/da.js
  public/javascripts/cdn/i18n/de.js
  public/javascripts/cdn/i18n/en.js
  public/javascripts/cdn/i18n/es-LA.js
  public/javascripts/cdn/i18n/es.js
  public/javascripts/cdn/i18n/et.js
  public/javascripts/cdn/i18n/fi.js
  public/javascripts/cdn/i18n/fr.js
  public/javascripts/cdn/i18n/he.js
  public/javascripts/cdn/i18n/hu.js
  public/javascripts/cdn/i18n/id.js
  public/javascripts/cdn/i18n/it.js
  public/javascripts/cdn/i18n/ja-JP.js
  public/javascripts/cdn/i18n/ja.js
  public/javascripts/cdn/i18n/ko.js
  public/javascripts/cdn/i18n/lv-LV.js
  public/javascripts/cdn/i18n/nb-NO.js
  public/javascripts/cdn/i18n/nl.js
  public/javascripts/cdn/i18n/pl.js
  public/javascripts/cdn/i18n/pt-BR.js
  public/javascripts/cdn/i18n/pt-PT.js
  public/javascripts/cdn/i18n/ro.js
  public/javascripts/cdn/i18n/ru-RU.js
  public/javascripts/cdn/i18n/sk.js
  public/javascripts/cdn/i18n/sl.js
  public/javascripts/cdn/i18n/sv-SE.js
  public/javascripts/cdn/i18n/test-ui.js
  public/javascripts/cdn/i18n/th.js
  public/javascripts/cdn/i18n/tr.js
  public/javascripts/cdn/i18n/uk.js
  public/javascripts/cdn/i18n/vi.js
  public/javascripts/cdn/i18n/zh-CN.js
  public/javascripts/cdn/i18n/zh-HK.js
  public/javascripts/cdn/i18n/zh-TW.js
  public/javascripts/helpdesk_reports/utils/core_util.js
Owners: @akshayasrikanth

FD-14097 Fixing timezone in Ticket metrics (#2668)
  api/app/controllers/ember/dashboard_controller.rb
Owners: none

[FD-14172]-Syntax Error in reports/_survery.scss
  public/src/reports/_survey.scss
Owners: none

* [FRESHCALL-3046] Dev migration fixes 2894 (#2681)
  lib/freshcaller/migration.rb
Owners: none

[FD-14172]-Syntax Error in cdn/rtl/reports.scss due to new line space
  public/src/cdn/rtl/reports.scss
Owners: none

FD-13718 : subscription api for trial subscritpions (#2609)
  api/app/controllers/admin/subscriptions_controller.rb
  api/app/controllers/decorators/admin/subscription_decorator.rb
  api/app/views/admin/subscriptions/show.json.api
  config/api_privileges.rb
  config/api_routes.rb
  swagger/definitions/index.yaml
  swagger/definitions/response/subscription/show.yaml
  swagger/paths/index.yaml
  swagger/paths/subscription/show.yaml
  swagger/swagger.json
  test/api/functional/admin/subscriptions_controller_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

FD-14057 When a null redis key is present with value -1
  app/helpers/application_helper.rb
  app/helpers/support_helper.rb
  app/models/portal/template.rb
  app/views/layouts/activations.html.erb
  app/views/layouts/support.html.erb
  app/views/support/preview/index.html.erb
  lib/portal/preview_key_template.rb
Owners: none

FD-9501- Incorrect solution article link in the contact import error email (#2625)
  app/views/user_notifier/notify_customers_import.text.html.erb
  app/views/user_notifier/notify_customers_import.text.plain.erb
Owners: none

FD-13968: Include user association (#2641)
  app/models/post/presenter.rb
  test/models/helpers/discussions_test_helper.rb
  test/models/presenters/post_test.rb
Owners: none

FD-13968: Include user association (#2642)
  app/models/post/presenter.rb
  test/models/helpers/discussions_test_helper.rb
  test/models/presenters/post_test.rb
Owners: none

Fd 14105 (#2689) Adding sandbox launchparty check for showing message
  app/models/account/features.rb
Owners: none

FD-25 commenting out unused line
  app/models/user.rb
Owners: none

Migration APIs Phase 1 - FD-12777, FD-12687, FD-13113 (#2560)
  api/app/controllers/api_application_controller.rb
  api/app/controllers/channel/v2/conversations_controller.rb
  api/app/controllers/channel/v2/tickets_controller.rb
  api/app/controllers/constants/api_ticket_constants.rb
  api/app/controllers/constants/channel/v2/conversation_constants.rb
  api/app/controllers/constants/channel/v2/ticket_constants.rb
  api/app/controllers/conversations_controller.rb
  api/app/controllers/tickets_controller.rb
  api/app/controllers/validations/channel/v2/conversation_validation.rb
  api/app/controllers/validations/channel/v2/ticket_validation.rb
  api/app/delegators/conversation_delegator.rb
  api/lib/decorator_concern.rb
  api/lib/error_messages.yml
  app/models/helpdesk/note.rb
  app/models/helpdesk/schema_less_note.rb
  app/models/helpdesk/ticket.rb
  app/models/helpdesk/ticket/callbacks.rb
  app/models/helpdesk/ticket/presenter.rb
  app/models/helpdesk/ticket/sla_calculation_methods.rb
  config/api_routes.rb
  config/channel_v2_privileges.rb
  config/infra_layer.yml
  config/privileges.rb
  lib/helpdesk/initializers/api_initializer.rb
  lib/spam_watcher/spam_watcher_callbacks.rb
  test/api/functional/channel/v2/conversations_controller_test.rb
  test/api/functional/channel/v2/tickets_controller_test.rb
  test/api/suites/public_api_test_suite.rb
  test/api/unit/channel/v2/conversation_validation_test.rb
  test/api/unit/channel/v2/ticket_validation_test.rb
Owners: @shankar-ganesh

[FD-14172]-Syntax Error in cdn/rtl/reports.scss due to new line space
  public/src/app/lib/_sidepanel.scss
  public/src/cdn/rtl/reports.scss
  public/src/falcon/falcon-common.scss
  public/src/page/reports_home.scss
  public/src/plugins/fixedColumnCustom.dataTables.scss
  public/src/portal/lib/_rtl-styles.scss
Owners: none

[FD-14172]-Syntax Error in cdn/rtl/reports.scss due to new line space
  public/src/cdn/rtl/reports.scss
Owners: none

[TH-1808] Follow/ Unfollow success message broken in Teamhuddle old UI (#2665)
  config/locales/en.yml
  public/javascripts/cdn/i18n/ar.js
  public/javascripts/cdn/i18n/ca.js
  public/javascripts/cdn/i18n/cs.js
  public/javascripts/cdn/i18n/da.js
  public/javascripts/cdn/i18n/de.js
  public/javascripts/cdn/i18n/en.js
  public/javascripts/cdn/i18n/es-LA.js
  public/javascripts/cdn/i18n/es.js
  public/javascripts/cdn/i18n/et.js
  public/javascripts/cdn/i18n/fi.js
  public/javascripts/cdn/i18n/fr.js
  public/javascripts/cdn/i18n/he.js
  public/javascripts/cdn/i18n/hu.js
  public/javascripts/cdn/i18n/id.js
  public/javascripts/cdn/i18n/it.js
  public/javascripts/cdn/i18n/ja-JP.js
  public/javascripts/cdn/i18n/ja.js
  public/javascripts/cdn/i18n/ko.js
  public/javascripts/cdn/i18n/lv-LV.js
  public/javascripts/cdn/i18n/nb-NO.js
  public/javascripts/cdn/i18n/nl.js
  public/javascripts/cdn/i18n/pl.js
  public/javascripts/cdn/i18n/pt-BR.js
  public/javascripts/cdn/i18n/pt-PT.js
  public/javascripts/cdn/i18n/ro.js
  public/javascripts/cdn/i18n/ru-RU.js
  public/javascripts/cdn/i18n/sk.js
  public/javascripts/cdn/i18n/sl.js
  public/javascripts/cdn/i18n/sv-SE.js
  public/javascripts/cdn/i18n/test-ui.js
  public/javascripts/cdn/i18n/th.js
  public/javascripts/cdn/i18n/tr.js
  public/javascripts/cdn/i18n/uk.js
  public/javascripts/cdn/i18n/vi.js
  public/javascripts/cdn/i18n/zh-CN.js
  public/javascripts/cdn/i18n/zh-HK.js
  public/javascripts/cdn/i18n/zh-TW.js
Owners: @akshayasrikanth

[FD-14172]-Syntax Error in cdn/rtl/reports.scss due to new line space
  public/src/cdn/rtl/reports.scss
  public/src/portal/lib/_rtl-styles.scss
Owners: none

Revert "FD-12945 handling xss in agent skills"
  app/views/admin/user_skills/index.html.erb
  public/javascripts/app/admin/skills/agentskills_index.js
  public/javascripts/app/admin/skills/templates/add_skill.jst.ejs
  public/javascripts/cdn/app/admin.js
Owners: none

Revert "Revert "FD-12945 handling xss in agent skills""
  app/views/admin/user_skills/index.html.erb
  public/javascripts/app/admin/skills/agentskills_index.js
  public/javascripts/app/admin/skills/templates/add_skill.jst.ejs
  public/javascripts/cdn/app/admin.js
Owners: none

[FD-14172]-Syntax Error in cdn/rtl/reports.scss due to new line space
  public/src/pattern/lib/_rtl-mixins.scss
Owners: none

FD-13654 Default note source as reply changed. (#2638)
  lib/channel_integrations/common_actions/note.rb
  lib/integration_services/services/microsoft_teams_service.rb
Owners: none
