Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @thanashyam, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @prakash-chokalingam, @shankar-ganesh, @akshayasrikanth, @paschalraj, @hrishikesh-p

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @thanashyam
db/migrate/*.rb @venkatesanmurali @thanashyam

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @prakash-chokalingam @rajasegar-c
api/lib/error_messages.yml @shankar-ganesh @akshayasrikanth

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

[Technical Story] FD-46843 account onboarding API changes for vault service (#7799)
  api/app/controllers/constants/pci_constants.rb
  api/app/controllers/ember/tickets_controller.rb
  api/app/controllers/tickets_controller.rb
  app/controllers/support/tickets_controller.rb
  app/models/whitelisted_ip.rb
  app/models/whitelisted_ip/presenter.rb
  app/workers/vault/account_worker.rb
  config/jwe/secure_field.yml
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  deploy/config/erb/sidekiq_classification.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  deploy/config/sidekiq_config.rb
  lib/jwt/secure_service_jwe_factory.rb
  lib/vault/client.rb
  test/api/sidekiq/vault/account_worker_test.rb
Owners: none

FD-47748 Emails not getting sent due to Schemaless ticket locking - Netflix (#7926)
  lib/lock_version/utility.rb
Owners: none

[Bug] FD-47831 : FreshId API Agents Update (#7946)
  api/app/controllers/api_agents_controller.rb
  test/api/functional/api_agents_controller_test.rb
Owners: none

[FD-47704] Add freshconnect and quickview as LP (#7913)
  app/models/account/constants.rb
  app/models/account/features.rb
Owners: none

[Bug] FD-46823 - Untranslated articles issue fix with article a… (#7900)
  api/app/controllers/decorators/solutions/article_decorator.rb
  api/app/controllers/ember/solutions/articles_controller.rb
  test/api/helpers/solutions_test_helper.rb
Owners: none

FD-41445 Removing create option when multiple email feature not available (#7967)
  app/views/admin/dkim_configurations/index.html.erb
Owners: none

[Technical Story] [FD-47872] Launch Party Cleanup (#7945)
  api/app/controllers/concerns/widget_object_concern.rb
  api/app/controllers/decorators/account_decorator.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/helpdesk/filters/custom_ticket_filter.rb
  app/models/helpdesk/ticket/validations.rb
  lib/admin/advanced_ticketing/field_service_management/util.rb
  lib/tickets_filter.rb
  test/api/functional/ember/admin/advanced_ticketing_controller_test.rb
  test/api/functional/ember/bootstrap_controller_test.rb
  test/api/functional/ember/ticket_filters_controller_test.rb
  test/api/functional/ember/tickets_controller_list_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/tickets_controller_test.rb
  test/api/helpers/bootstrap_test_helper.rb
Owners: none

[Task] FD-43984 : Fix | flock during parallel write & read | test env (#7978)
  vendor/gems/freshdesk_authority-0.1/lib/authority/bookkeeper.rb
Owners: none

[Technical Story] FD-47928: adding query params (#7901)
  api/app/controllers/constants/out_of_office_constants.rb
  api/app/controllers/out_of_offices_controller.rb
  app/models/agent.rb
  config/locales/en.yml
  lib/admin/shift_helper.rb
  test/lib/unit/unicode_sanitizer_test.rb
Owners: @prakash-chokalingam, @rajasegar-c

[User Story] [FD-44855] multi product with downgrade policy enabled (#7564)
  api/app/controllers/decorators/admin/subscription_decorator.rb
  app/controllers/billing/billing_controller.rb
  app/controllers/fdadmin/billing_controller.rb
  app/controllers/subscriptions_controller.rb
  app/helpers/subscriptions_helper.rb
  app/mailers/downgrade_policy_reminder_mailer.rb
  app/models/subscription.rb
  app/models/subscription_request.rb
  app/views/subscription_admin/subscriptions/downgrade_policy_reminder.text.html.erb
  app/views/subscription_admin/subscriptions/downgrade_policy_reminder.text.plain.erb
  config/locales/mint_translations/en.yml
  lib/billing/billing_helper.rb
  lib/usage_metrics/features.rb
  lib/usage_metrics/forest_features.rb
  test/api/functional/admin/subscriptions_controller_test.rb
  test/app/controllers/billing/billing_controller_test.rb
  test/app/controllers/subscriptions_controller_test.rb
  test/models/helpers/subscription_test_helper.rb
Owners: none

[Task] FD-46563 Revert to workaround made random Test exeception (#7989)
  script/Jenkinsfile
Owners: none

[User Story] FD-43178 : Capturing Account URL in Chargebee: (#7931)
  app/models/account/callbacks.rb
  app/workers/billing/update_account_domain.rb
  test/api/sidekiq/update_account_domain_test.rb
Owners: none

[FD-47374] Added lp for fsm scheduler month view (#7981)
  app/models/account/constants.rb
  app/models/account/features.rb
Owners: none

Onboarding key changes added (#7934)
  config/account_setup_keys.yml
Owners: none

FD-48182 : Removing Logs for Automation fetch_field_type (#7987)
  app/models/va_rule.rb
Owners: none

Adding user language to Gallery url (#7990)
  app/controllers/admin/marketplace/apps_controller.rb
Owners: none

[User Story] [FD-46743]: Solution article link generation (#7848)
  api/app/controllers/decorators/widget/solutions/article_decorator.rb
  api/app/controllers/widget/solutions/articles_controller.rb
  swagger/help_widget/paths/solution_article_show.yaml
  swagger/help_widget/swagger.json
  test/api/functional/widget/solutions/articles_controller_test.rb
  test/api/helpers/help_widgets_test_helper.rb
  test/api/helpers/solutions_test_helper.rb
Owners: none

[FD-48207] - Remove log - skills (#7994)
  app/models/admin/skill.rb
Owners: none

FD-47681 Fix for logo and preferences change issue (#7980)
  api/app/controllers/ember/portals_controller.rb
  test/api/functional/ember/portals_controller_test.rb
Owners: none

[Technical Story] [FD-48200], [FD-48193] test case fix (#7991)
  test/api/sidekiq/tickets/update_ticket_states_test.rb
  test/app/controllers/support/search_v2/spotlight_controller_test.rb
Owners: none

[User Story] FD-47229 helpwidget customer journey (#7905)
  api/app/controllers/constants/widget/ticket_constants.rb
  api/app/controllers/widget/tickets_controller.rb
  test/api/functional/widget/tickets_controller_test.rb
Owners: none

[L4 Bug] [FD-36442] Accessibility issue for 'Print' Button (#7970)
  app/views/support/_search.html.erb
  app/views/support/solutions/articles/show.portal
  public/src/portal/lib/_content.scss
  public/src/portal/lib/_falcon_icons.scss
  public/src/print/support.scss
Owners: none

[Bug] FD-45060 - Translate article permission issue fix (#7927)
  api/app/delegators/api_solutions/article_delegator.rb
  api/lib/error_messages.yml
  test/api/functional/ember/solutions/articles_controller_test.rb
  test/api/helpers/solutions_articles_common_tests.rb
Owners: @shankar-ganesh, @akshayasrikanth

[Bug] FD-40583 Validate Language_id during search (#7952)
  api/app/controllers/api_search/solutions_controller.rb
  test/api/functional/api_search/solutions_controller_test.rb
Owners: none

Pull request raised by Supreme for shard_38_3 (#7775)
  config/auto_increment_ids.yml
  deploy/config/settings-production-us-east-1.ejson
Owners: none

Adding new shard shard_38_2 (#7774)
  deploy/config/settings-production-us-east-1.ejson
Owners: none

Adding new shard shard_38_1 (#7772)
  deploy/config/settings-production-us-east-1.ejson
Owners: none

[Bug] FD-41559 mcsat in support ticket details page (#6919)
  app/models/custom_survey/survey_result.rb
  app/views/support/tickets/_ticket_custom_survey.html.erb
Owners: none

[Bug] FD-48180 - FD-FS : Show the banner for 21 instead of 7 days after the activation. (#7984)
  app/models/account/subscription_methods.rb
  db/migrate/20200225060959_add_addons_for_plan_change2020.rb
  db/migrate/20200227103617_remove_garden_omni_from2020_plans.rb
  test/models/unit/subscription_test.rb
Owners: @venkatesanmurali, @thanashyam

FD-43143 : Spam data fix (#7983)
  lib/helpdesk/email/mail_message_processor.rb
Owners: none

[L4 Bug] FD-47048 - Sending a reply containing attachment through Send and Set As. (#7855)
  api/app/controllers/ember/conversations_controller.rb
  api/lib/ticket_update_helper.rb
  test/api/functional/ember/conversations_controller_test.rb
Owners: none

[Task] FD-48366: fsm migration for ticket_field_revamp (#7460)
  lib/migration/fsm_migration.rb
Owners: none

[Bug] FD-47998 freshcaller user_hash null bug fix (#7963)
  api/app/controllers/admin/freshcaller_account_controller.rb
  api/app/views/admin/freshcaller_account/show.json.api
  lib/freshcaller/util.rb
  test/api/functional/admin/freshcaller_account_controller_test.rb
  test/api/helpers/freshcaller_test_helper.rb
Owners: none

[User Story] FD-46237 enforce mandatory in ticket api (#7919)
  api/app/controllers/concerns/ticket_concern.rb
  api/app/controllers/validations/fsm_ticket_validation.rb
  api/app/controllers/validations/ticket_validation.rb
  api/app/validators/hash_validator.rb
  swagger/paths/tickets/crud.yaml
  swagger/paths/tickets/list_and_create.yaml
  swagger/swagger.json
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/tickets_controller_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[Bug] FD-47341 Attachment size issue in version restore fix (#7951)
  api/app/controllers/ember/solutions/article_versions_controller.rb
  api/lib/error_messages.yml
  test/api/functional/ember/solutions/article_versions_controller_test.rb
  test/api/helpers/solutions_article_versions_test_helper.rb
Owners: @shankar-ganesh, @akshayasrikanth

FD-43177-change in freemium url (#7878)
  app/views/shared/_free_plan_message.html.erb
Owners: none

[User Story] FD-45114 twitter requester fields private api and old ui changes (#7898)
  api/app/controllers/decorators/account_decorator.rb
  api/app/controllers/decorators/contact_decorator.rb
  app/helpers/contacts_helper.rb
  app/helpers/helpdesk/requester_widget_helper.rb
  app/models/contact_form.rb
  app/models/user/constants.rb
  app/views/admin/contact_fields/index.html.erb
  config/locales/en.yml
  db/fixtures/background/012b_contact_fields.rb
  lib/export_csv_util.rb
  lib/import_csv_util.rb
  test/api/functional/channel/api_contacts_controller_test.rb
  test/core/helpers/twitter_test_helper.rb
Owners: @prakash-chokalingam, @rajasegar-c

[FD-48321] Integrate coverband and bg worker rails upgrade changes (#8012)
  Gemfile
  Gemfile.lock
  app/workers/agent_destroy_cleanup.rb
  app/workers/community/merge_topics_worker.rb
  app/workers/merge_tickets.rb
  app/workers/sbrr/config/agent_group.rb
  app/workers/social/fb_split_tickets.rb
  config/helpdesk_initializers.yml
  lib/helpdesk/initializers/coverband.rb
Owners: none

[L4 Bug] FD-38190 sandbox failure org v2 (#7644)
  app/models/account/freshid_methods.rb
Owners: none

[Bug] FD-48254: Signup-Login failure fix due to omnibar freshid (#8003)
  api/app/controllers/decorators/config_decorator.rb
  swagger/definitions/response/bootstrap/account.yaml
  swagger/swagger.json
  test/api/functional/ember/bootstrap_controller_test.rb
  test/api/helpers/config_test_helper.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar
