Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

FD 9835 - facebook eu to euc migration (#2168)
  config/facebook.yml
  config/facebook_eu_accounts.yml
  config/helpdesk_initializers.yml
  lib/helpdesk/initializers/facebook_config.rb
  lib/helpdesk/initializers/facebook_eu_accounts_config.rb
  vendor/gems/facebook/lib/facebook/oauth/fb_client.rb
  vendor/gems/facebook/lib/facebook/page_tab/configure.rb
  vendor/gems/facebook/lib/facebook/tokens.rb
Owners: none

[FD-11024] Add logs for suspended ticket worker (#2181)
  app/workers/central_publish_worker.rb
Owners: none

FD-766, FD-765: Falcon canned form helpkit (#2170)
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/support/canned_forms_controller.rb
  app/helpers/support_helper.rb
  app/models/account/associations.rb
  app/models/account/features.rb
  app/models/admin/canned_form.rb
  app/models/admin/canned_form_handle.rb
  app/models/helpdesk/note.rb
  app/models/helpdesk/note/constants.rb
  app/views/support/canned_forms/_canned_form.html.erb
  app/views/support/canned_forms/_footer.html.erb
  app/views/support/canned_forms/_header.html.erb
  app/views/support/canned_forms/_layout.html.erb
  app/views/support/canned_forms/_preview.html.erb
  app/views/support/canned_forms/_show.html.erb
  app/views/support/canned_forms/_thankyou.html.erb
  config/assets.yml
  config/formserv.yml
  config/helpdesk_initializers.yml
  config/locales/en.yml
  config/privileges.rb
  config/routes.rb
  db/migrate/20180620195011_create_canned_form_and_form_handles.rb
  db/schema.rb
  deploy/before_migrate.rb
  lib/admin/canned_form/constructor.rb
  lib/admin/canned_form/field.rb
  lib/admin/canned_form/field_choice.rb
  lib/freshdesk_core/model.rb
  lib/helpdesk/initializers/formserv_config.rb
  public/403.html
  public/javascripts/cdn/canned_form.js
  public/src/cdn/canned_form.scss
  public/src/cdn/rtl/canned_form.scss
  public/src/portal/canned_form.scss
  public/src/rtl/portal/canned_form.scss
  test/api/unit/canned_forms_constructor_test.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth, @rajasegar-c, @parsurv, @vishnubalajikm

FD-8902-Stored xss in solutions article froala editor
  lib/sanitize/config/article_whitelist.rb
  public/javascripts/froala_editor/editor_initializer.js
Owners: @thanashyam, @hrishikesh-p

[FD-8829] - Access check missing in Customer satisfaction survey API (#2102)
  api/app/controllers/ember/dashboard_controller.rb
  test/api/functional/ember/dashboard_controller_test.rb
Owners: none

[FD-10814] Bot training incomplete mailer (#2125)
  api/app/controllers/ember/admin/bots_controller.rb
  app/mailers/admin/bot_mailer.rb
  app/views/admin/bot_mailer/bot_training_incomplete.html.erb
  app/workers/bot/check_training_status.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
Owners: @venkatesanmurali, @hrishikesh-p

[FD-10737] Adds logs for ml solution training worker (#2107)
  app/workers/bot/ml_solutions_training.rb
Owners: none

FD-9835 Facebook EU to EUC migration (#2131)
  config/facebook.yml
  config/facebook_eu_accounts.yml
  config/helpdesk_initializers.yml
  lib/helpdesk/initializers/facebook_config.rb
  lib/helpdesk/initializers/facebook_eu_accounts_config.rb
  vendor/gems/facebook/lib/facebook/oauth/fb_client.rb
  vendor/gems/facebook/lib/facebook/page_tab/configure.rb
  vendor/gems/facebook/lib/facebook/tokens.rb
Owners: none

FD-9833 Twitter EU to EUC migration (#2069)
  app/controllers/social/welcome_controller.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/social/twitter_handle/callbacks.rb
  config/twitter.yml
  lib/helpdesk/initializers/twitter_config.rb
  lib/social/constants.rb
  lib/social/util.rb
  lib/twitter_wrapper.rb
Owners: none

FD-9833 falcon changes for twitter eu to euc. (#2167)
  app/controllers/social/welcome_controller.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/social/twitter_handle/callbacks.rb
  config/twitter.yml
  lib/helpdesk/initializers/twitter_config.rb
  lib/social/constants.rb
  lib/social/util.rb
  lib/twitter_wrapper.rb
Owners: none

[FD-6783] New Metric Implementation for Group/Agent Performance report (#2176)
  app/controllers/reports/v2/tickets/reports_controller.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/views/reports/v2/tickets/reports/agent_summary/_charts.html.erb
  app/views/reports/v2/tickets/reports/group_summary/_charts.html.erb
  config/locales/en.yml
  lib/helpdesk_reports/constants/ticket.rb
  lib/helpdesk_reports/formatter/ticket/agent_summary.rb
  lib/helpdesk_reports/formatter/ticket/group_summary.rb
  lib/helpdesk_reports/helper/ticket.rb
  lib/helpdesk_reports/param_constructor/agent_summary.rb
  lib/helpdesk_reports/param_constructor/group_summary.rb
  public/javascripts/helpdesk_reports/reports_constants.js
  public/javascripts/helpdesk_reports/templates/agent_summary_tmpl.jst.ejs
  public/javascripts/helpdesk_reports/templates/group_summary_tmpl.jst.ejs
Owners: @akshayasrikanth

FD-4010 in progress of dashboard. (#1914)
  api/app/controllers/ember/trial_widget_controller.rb
  api/app/controllers/validations/trial_widget_validation.rb
  app/models/account/constants.rb
  config/account_setup_keys.yml
  lib/account/setup.rb
  test/api/functional/ember/trial_widget_controller_test.rb
  test/api/helpers/trial_widget_test_helper.rb
Owners: none

Freshid pi information (#1837)
  app/controllers/agents_controller.rb
  app/models/user.rb
  app/views/agents/_agent_form.html.erb
  config/locales/en.yml
  config/privileges.rb
  config/routes.rb
  public/javascripts/app/admin/agents/agents_form.js
  public/javascripts/custom_validators.js
  public/src/page/_agent_profile.scss
  public/src/page/_customer.scss
  public/src/settings/_freshdesk-variable.scss
Owners: @akshayasrikanth

Rake task falcon prestaging (#1882)
  api/app/controllers/constants/api_constants.rb
  api/app/controllers/constants/rake_task_constants.rb
  api/app/controllers/rake_task_controller.rb
  api/app/views/rake_task/run_rake_task.json.api
  app/workers/run_rake_task.rb
  config/api_routes.rb
  config/privileges.rb
  config/run_rake_task.yml
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
Owners: @venkatesanmurali, @hrishikesh-p

[FD-10687] Removes instance variable for count (#2185)
  app/models/solution/category_meta.rb
Owners: none

Revert "FD-4010 in progress of dashboard. (#1914)" (#2186)
  api/app/controllers/ember/trial_widget_controller.rb
  api/app/controllers/validations/trial_widget_validation.rb
  app/models/account/constants.rb
  config/account_setup_keys.yml
  lib/account/setup.rb
  test/api/functional/ember/trial_widget_controller_test.rb
  test/api/helpers/trial_widget_test_helper.rb
Owners: none

FD-11207 - Issue in DKIM records removal
  lib/dkim/configure_dkim_record.rb
  lib/dkim/methods.rb
Owners: none

FD-11209 - DKIM configuration with fd selector
  lib/dkim/constants.rb
  lib/dkim/methods.rb
Owners: none

[FD-10517] Change spanish translation key
  config/locales/es.yml
Owners: none

[FD-8472] revert for clonable attachment type (#2192)
  api/app/controllers/constants/attachment_constants.rb
  test/api/functional/ember/tickets_controller_test.rb
Owners: none

FD-3747 - Show import progress (#1516)
  lib/import/customers/base.rb
  lib/import/customers/company.rb
  lib/import_csv_util.rb
  lib/redis/others_redis.rb
  lib/redis/redis_keys.rb
Owners: none

FD-11319 add *default in yml (#2202)
  config/run_rake_task.yml
Owners: none

FD-11319 add *default in yml (#2201)
  config/run_rake_task.yml
Owners: none

FD-11319 add *default in yml (#2201)
  config/run_rake_task.yml
Owners: none

FD-11319 add *default in yml (#2201)
  config/run_rake_task.yml
Owners: none

FD-11319 add *default in yml (#2202)
  config/run_rake_task.yml
Owners: none

FD-11319 add *default in yml (#2202)
  config/run_rake_task.yml
Owners: none

Adding missing file: redis/redis_keys.rb
  lib/redis/redis_keys.rb
Owners: none

FD-3747 - Show import progress (#1515)
  api/app/controllers/constants/api_constants.rb
  api/app/controllers/constants/customer_import_constants.rb
  api/app/controllers/ember/customer_imports_controller.rb
  api/app/controllers/validations/customer_import_filter_validation.rb
  api/app/controllers/validations/customer_import_validation.rb
  api/app/views/ember/customer_imports/destroy.json.api
  api/app/views/ember/customer_imports/status.json.api
  app/mailers/user_notifier.rb
  app/views/user_notifier/notify_customers_import.text.html.erb
  app/views/user_notifier/notify_customers_import.text.plain.erb
  config/api_privileges.rb
  config/api_routes.rb
  config/locales/en.yml
  lib/import/customers/base.rb
  lib/import/customers/company.rb
  lib/import_csv_util.rb
  lib/redis/others_redis.rb
  lib/redis/redis_keys.rb
  test/api/functional/ember/customer_imports_controller_test.rb
  test/api/unit/customer_import_filter_validation_test.rb
  test/api/unit/customer_import_validation_test.rb
Owners: @akshayasrikanth

Agent branding prestaging (#1798)
  api/app/controllers/constants/api_constants.rb
  api/app/controllers/constants/attachment_constants.rb
  api/app/controllers/constants/portal_constants.rb
  api/app/controllers/decorators/attachment_decorator.rb
  api/app/controllers/decorators/portal_decorator.rb
  api/app/controllers/ember/portals_controller.rb
  api/app/controllers/validations/portal_validation.rb
  api/app/delegators/portal_delegator.rb
  app/models/helpdesk/attachment.rb
  app/models/portal.rb
  app/views/accounts/edit.html.erb
  config/api_privileges.rb
  config/api_routes.rb
  config/locales/en.yml
  swagger/definitions/resource/helpdesk.yaml
  swagger/definitions/resource/portal.yaml
  swagger/definitions/resource/preferences.yaml
  swagger/paths/index.yaml
  swagger/paths/portals/get_and_update.yaml
  swagger/swagger.json
  test/api/functional/ember/portals_controller_test.rb
  test/api/helpers/bootstrap_test_helper.rb
  test/api/helpers/portals_customisation_test_helper.rb
Owners: @akshayasrikanth, @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

FD-3588 Agent branding legacy changes (#1926)
  api/app/controllers/constants/attachment_constants.rb
  app/models/helpdesk/attachment.rb
  app/models/portal.rb
  app/views/accounts/edit.html.erb
  config/locales/en.yml
Owners: @akshayasrikanth

Removing duplicate entry
  db/schema.rb
Owners: @venkatesanmurali, @arvindr, @thanashyam

FD-9269 Stored XSS in Agent Skills (#2113)
  app/models/admin/skill.rb
  public/javascripts/app/admin/agents/templates/add_skill.jst.ejs
  public/javascripts/app/admin/skills/agentskills_index.js
  public/javascripts/app/admin/skills/templates/add_skill.jst.ejs
Owners: none

[FD-10674] Due to rails deprecation on StringIO class we can't set content_type and original_file_name
  lib/helpdesk/email/incoming_email_handler.rb
  lib/helpdesk/process_email.rb
Owners: none

FD-9577 changes in iframe for rtl in agents profile
  app/controllers/agents_controller.rb
  app/views/agents/edit.html.erb
Owners: none

[FD-9180] RTL - solution search fix
  public/src/falcon/falcon-community.scss
  public/src/page/community/_sticky.scss
Owners: none

FD-10048 change manage dashboard privilege for custom dashboards (#2173)
  api/app/controllers/concerns/custom_dashboard_concern.rb
  api/app/controllers/ember/ticket_filters_controller.rb
  app/views/helpdesk/tickets/customview/_new.html.erb
  config/api_privileges.rb
  config/locales/en.yml
  config/privileges.yml
  lib/dashboard/custom/custom_dashboard_constants.rb
  lib/helpdesk/roles.rb
  lib/helpdesk/ticket_filter_methods.rb
  test/api/functional/ember/custom_dashboard_controller_test.rb
Owners: @akshayasrikanth

FD-10048 change manage dashboard privilege for custom dashboards (#2174)
  app/controllers/wf/filter_controller.rb
  app/helpers/admin/roles_helper.rb
  app/views/helpdesk/tickets/customview/_new.html.erb
  config/locales/en.yml
  config/privileges.yml
  lib/helpdesk/roles.rb
  lib/helpdesk/ticket_filter_methods.rb
Owners: @akshayasrikanth

Fd 10340 falcon (#2075)
  lib/middleware/trusted_ip.rb
Owners: none

[FD-11359] - sandbox phase translation key for phase 1 & 2 (#2212)
  config/locales/en.yml
  lib/auto_link_mail_interceptor.rb
Owners: @akshayasrikanth
