Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

[FD-13418] Log the transaction errors that are being swallowed (#2801)
  lib/helpdesk/initializers/rails3_patches.rb
Owners: none

[FD-13418] Log the transaction errors that are being swallowed (#2655)
  lib/helpdesk/initializers/rails3_patches.rb
Owners: none

FD-13553 delete survey results when contact is hard deleted (#2710)
  app/models/user/associations.rb
  app/workers/users/contact_delete_forever_worker.rb
Owners: none

FD-13141 Improper error message while validation fails in custom fields in company Import (#2652)
  app/models/company.rb
Owners: none

[FD-15031] Fixes user credentials test case (#2824)
  test/api/functional/ember/integrated_users_controller_test.rb
  test/api/helpers/installed_applications_test_helper.rb
Owners: none

FD-13017 Generalize the ticketfield cache to response cache
  api/app/controllers/api_application_controller.rb
  api/app/controllers/ember/ticket_fields_controller.rb
  api/app/views/ember/ticket_fields/index.json.api
Owners: none

FD-13017 logs removed unwanted removed empty line
  api/app/controllers/api_application_controller.rb
  api/app/controllers/ember/ticket_fields_controller.rb
Owners: none

Update .codecov.yml
  .codecov.yml
Owners: none

Autoscaling
  script/Jenkinsfile
Owners: none

Adding SSH keygen
  script/Jenkinsfile
Owners: none

FD-13815 changed and ->
  lib/helpdesk/ticketfields/ticket_status.rb
Owners: none

[FD-15054] Adding missing file in helpkit due to FD-14315 (#2832)
  lib/helpdesk/language_detection.rb
Owners: none

FD-13017 test case added and removed unwanted code
  api/app/controllers/api_application_controller.rb
  test/api/functional/ember/ticket_fields_controller_test.rb
Owners: none

Common Checkout
  script/Jenkinsfile
Owners: none

FD-13017 Test case failure fixed
  test/api/functional/ember/ticket_fields_controller_test.rb
Owners: none

FD-14733 freshops admin option to enable old UI mint (#2833)
  app/controllers/fdadmin/accounts_controller.rb
  app/workers/internal_service/freshops_operations.rb
  app/workers/internal_service/freshops_utils.rb
  config/features/features.yml
  config/routes.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  lib/fdadmin/accounts_controller_methods.rb
  lib/fdadmin/feature_methods.rb
Owners: @venkatesanmurali, @hrishikesh-p

FD-14733 freshops admin to enable old UI (#2773)
  app/controllers/fdadmin/accounts_controller.rb
  app/workers/internal_service/freshops_operations.rb
  app/workers/internal_service/freshops_utils.rb
  config/features/features.yml
  config/routes.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  lib/fdadmin/accounts_controller_methods.rb
  lib/fdadmin/feature_methods.rb
Owners: @venkatesanmurali, @hrishikesh-p

Added ssh-keygen on common host
  script/Jenkinsfile
Owners: none

* billing changes for trial subscription
  app/controllers/billing/billing_controller.rb
  app/controllers/fdadmin/billing_controller.rb
  app/controllers/subscriptions_controller.rb
  app/models/trial_subscription.rb
  app/models/trial_subscription/callbacks.rb
  app/models/trial_subscription/constants.rb
  lib/trial_subscription_actions/base.rb
  lib/trial_subscription_actions/plan_downgrade.rb
  lib/trial_subscription_actions/plan_upgrade.rb
Owners: none

FD-13815 Test case changes
  test/api/helpers/ticket_fields_test_helper.rb
  test/models/presenters/helpdesk/ticket_test.rb
Owners: none

[FD-15084] Marketplace changes for MP-2546
  app/controllers/admin/marketplace/installed_extensions_controller.rb
  config/locales/en.yml
  public/javascripts/marketplace/marketplace_configs_v1.jst.ejs
  public/javascripts/marketplace/template_dock_manager.js
Owners: @akshayasrikanth

[FD-3470] Final Commit - Latest rate-limting version
  Gemfile
  Gemfile.lock
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

checkout
  script/Jenkinsfile
Owners: none

Report Generation
  script/Jenkinsfile
Owners: none

Report Generation
  script/Jenkinsfile
Owners: none

FD-3167: full_domain validation will run only when domain change is requested (#2628)
  app/models/account/validations.rb
Owners: none

FD-15089 Advanced ticketing test case fix (#2844)
  test/api/helpers/advanced_ticketing_test_helper.rb
Owners: none

FD-14315 Assigning plan during signup
  app/models/signup.rb
Owners: none

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p
