Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

fix Varaiable
  script/Jenkinsfile
Owners: none

[FD-8208] Convert topic to ticket (#2445)
  app/views/discussions/topics/_sidebar.html.erb
  app/views/discussions/topics/widgets/_ticket.html.erb
Owners: none

[FD-12824] [RTL] - Radio button fix for safari
  public/src/falcon/falcon-rtl.scss
Owners: none

label fix
  script/Jenkinsfile
Owners: none

[FD-12742]-RTL - Delete button is hidden behind scrollbar in ticket_fields admin page
  public/src/falcon/falcon-rtl.scss
Owners: none

fix
  script/Jenkinsfile
Owners: none

[FD-8208] Api changes for convert topic to ticket (#2366)
  api/app/controllers/constants/api_ticket_constants.rb
  api/app/controllers/decorators/discussions/topic_decorator.rb
  api/app/controllers/ember/discussions/topics_controller.rb
  api/app/controllers/ember/tickets_controller.rb
  api/app/delegators/ticket_delegator.rb
  api/app/views/ember/discussions/topics/first_post.json.api
  api/app/views/ember/discussions/topics/show.json.api
  api/lib/error_messages.yml
  app/views/discussions/topics/_sidebar.html.erb
  app/views/discussions/topics/widgets/_ticket.html.erb
  config/api_privileges.rb
  config/api_routes.rb
  swagger/definitions/index.yaml
  swagger/definitions/response/discussions/topics/first_post.yaml
  swagger/definitions/response/discussions/topics/show.yaml
  swagger/paths/discussions/topics/first_post.yaml
  swagger/paths/discussions/topics/show.yaml
  swagger/paths/index.yaml
  swagger/swagger.json
  test/api/functional/ember/discussions/topics_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/helpers/discussions_test_helper.rb
Owners: @shankar-ganesh, @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

Final Fix
  script/Jenkinsfile
Owners: none

Pipeline Update future
  script/Jenkinsfile
Owners: none

FD-13442 Enable reauth for EUC migrated handles
  app/helpers/application_helper.rb
  app/models/account/constants.rb
  app/models/social/twitter_handle/callbacks.rb
  app/views/admin/social/streams/_twitter_streams.html.erb
Owners: none

FD-13455 - [Tags] Admin Ticket Tags shows only last month record. Change it to all tickets. (#2515)
  app/helpers/helpdesk/tags_helper.rb
Owners: none

[FD-12853] [RTL] - Marketplace search fix
  public/src/falcon/falcon-rtl.scss
Owners: none

[FD-12853] - missing lines
  public/src/falcon/falcon-rtl.scss
Owners: none

FD-13481 Activation page fix (#2519)
  app/models/account.rb
Owners: none

[FD-13448] Old UI announcements description fix (#2518)
  config/locales/en.yml
  public/javascripts/app/user_notifications/templates/user_notification_item.jst.ejs
  public/javascripts/cdn/i18n/ar.js
  public/javascripts/cdn/i18n/ca.js
  public/javascripts/cdn/i18n/cs.js
  public/javascripts/cdn/i18n/da.js
  public/javascripts/cdn/i18n/de.js
  public/javascripts/cdn/i18n/en.js
  public/javascripts/cdn/i18n/es-LA.js
  public/javascripts/cdn/i18n/es.js
  public/javascripts/cdn/i18n/et.js
  public/javascripts/cdn/i18n/fi.js
  public/javascripts/cdn/i18n/fr.js
  public/javascripts/cdn/i18n/he.js
  public/javascripts/cdn/i18n/hu.js
  public/javascripts/cdn/i18n/id.js
  public/javascripts/cdn/i18n/it.js
  public/javascripts/cdn/i18n/ja-JP.js
  public/javascripts/cdn/i18n/ja.js
  public/javascripts/cdn/i18n/ko.js
  public/javascripts/cdn/i18n/lv-LV.js
  public/javascripts/cdn/i18n/nb-NO.js
  public/javascripts/cdn/i18n/nl.js
  public/javascripts/cdn/i18n/pl.js
  public/javascripts/cdn/i18n/pt-BR.js
  public/javascripts/cdn/i18n/pt-PT.js
  public/javascripts/cdn/i18n/ro.js
  public/javascripts/cdn/i18n/ru-RU.js
  public/javascripts/cdn/i18n/sk.js
  public/javascripts/cdn/i18n/sl.js
  public/javascripts/cdn/i18n/sv-SE.js
  public/javascripts/cdn/i18n/test-ui.js
  public/javascripts/cdn/i18n/th.js
  public/javascripts/cdn/i18n/tr.js
  public/javascripts/cdn/i18n/uk.js
  public/javascripts/cdn/i18n/vi.js
  public/javascripts/cdn/i18n/zh-CN.js
  public/javascripts/cdn/i18n/zh-HK.js
  public/javascripts/cdn/i18n/zh-TW.js
Owners: @akshayasrikanth

static label to check PR
  script/Jenkinsfile
Owners: none

FD-13489 Topic to ticket IE/Edge fix (#2520)
  app/views/discussions/topics/widgets/_ticket.html.erb
Owners: none

FD-12672 Session expired Copy change (#2489)
  app/controllers/user_sessions_controller.rb
  config/locales/en.yml
Owners: @akshayasrikanth

[FD-70] Count of related ticket on a tracker and child ticket on parent in the list page (#2521)
  app/models/helpdesk/schema_less_ticket.rb
  app/models/helpdesk/ticket.rb
  app/models/helpdesk/ticket/association_methods.rb
  app/models/helpdesk/ticket/callbacks.rb
  app/workers/tickets/reset_associations.rb
  lib/helpdesk/tickets_helper_methods.rb
Owners: none

[FD-70] Count of related ticket on a tracker and child ticket on parent in the list page (#2362)
  api/app/controllers/decorators/archive/ticket_decorator.rb
  api/app/controllers/decorators/ticket_decorator.rb
  app/models/helpdesk/schema_less_ticket.rb
  app/models/helpdesk/ticket.rb
  app/models/helpdesk/ticket/association_methods.rb
  app/models/helpdesk/ticket/callbacks.rb
  app/workers/tickets/reset_associations.rb
  lib/helpdesk/tickets_helper_methods.rb
  lib/redis/redis_keys.rb
  test/api/functional/tickets_controller_test.rb
  test/api/helpers/tickets_test_helper.rb
Owners: none

Add label
  script/Jenkinsfile
Owners: none

[FD-13439] Tickets is not getting reopen while customer replying for twitter ticket (#2509)
  lib/social/gnip/twitter_feed.rb
Owners: none

rerun
  script/Jenkinsfile
Owners: none

Label specfic
  script/Jenkinsfile
Owners: none

FD-13444 logger + 409 conflict on ticket, note create (#2513)
  app/models/social/tweet.rb
  lib/channel_integrations/commands/services/twitter.rb
  lib/channel_integrations/integrations_command_processor.rb
  lib/channel_integrations/integrations_reply_processor.rb
  lib/social/constants.rb
Owners: none

FD-12620 TH-1533 freshconnect changes (#2463)
  api/app/controllers/api_application_controller.rb
  api/app/controllers/constants/api_constants.rb
  api/app/controllers/constants/ticket_filter_constants.rb
  api/app/controllers/ember/freshconnect_controller.rb
  api/app/controllers/validations/ticket_filter_validation.rb
  api/app/views/ember/freshconnect/update.json.api
  config/api_routes.rb
  test/api/functional/ember/tickets_controller_test.rb
Owners: none

FD-13017 Ticket fields private api is cached using memcache
  api/app/controllers/api_ticket_fields_controller.rb
  api/app/views/ember/ticket_fields/index.json.api
  app/models/account/associations.rb
  app/models/helpdesk/nested_ticket_field.rb
  app/models/helpdesk/picklist_value.rb
  app/models/helpdesk/section_field.rb
  app/models/helpdesk/section_picklist_value_mapping.rb
  lib/cache/memcache/helpdesk/section.rb
  lib/cache/memcache/helpdesk/ticket_field.rb
  lib/memcache_keys.rb
Owners: none

Pipeline enchancement (#2516)
  script/Jenkinsfile
Owners: none

FD-13017 lint , rubocop fix
  api/app/controllers/api_ticket_fields_controller.rb
  app/models/helpdesk/picklist_value.rb
  lib/memcache_keys.rb
Owners: none

[FD-3469] Addressing Review comments
  app/helpers/support_helper.rb
  lib/portal/helpers/discussions_helper.rb
Owners: none

FD-13017 lint error fixed spacing ,
  app/models/helpdesk/nested_ticket_field.rb
  app/models/helpdesk/picklist_value.rb
  app/models/helpdesk/section_field.rb
  app/models/helpdesk/section_picklist_value_mapping.rb
  lib/cache/memcache/helpdesk/section.rb
  lib/cache/memcache/helpdesk/ticket_field.rb
  lib/memcache_keys.rb
Owners: none

[FD-3469] REVIEW COMMENTS ADDRESSED
  app/helpers/support_helper.rb
Owners: none

FD-13017 rubo cop fixes
  api/app/controllers/api_ticket_fields_controller.rb
  api/app/views/ember/ticket_fields/index.json.api
  app/models/account/associations.rb
  app/models/helpdesk/section_picklist_value_mapping.rb
Owners: none

[FD-3469] Review comments addressed
  app/helpers/support_helper.rb
Owners: none

FD-13017 align ment issues fixed
  api/app/controllers/api_ticket_fields_controller.rb
  app/models/helpdesk/picklist_value.rb
Owners: none

[FD-12776]-[Solutions][RTL] 'Manage Images' popup in Create Article page is not as expected
  public/src/falcon/falcon-rtl.scss
  public/src/froala_editor/fd_themes.scss
Owners: none

[FD-12774]-[Solutions][RTL] Attachment info shows file name in unexpected format
  public/src/page/tkt_details/_tkt_details.scss
Owners: none

FD-3974 Review changes
  public/javascripts/frameworks/plugins/jquery.itoggle.js
Owners: none

[FD-13547] Adds global scope to topic decorator (#2525)
  api/app/controllers/ember/search/multiquery_controller.rb
  api/app/controllers/ember/search/topics_controller.rb
Owners: none

FD-13568 tms allow empty migration (#2531)
  app/models/social/tweet.rb
  lib/conversations/twitter.rb
Owners: none
