Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @thanashyam, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @prakash-chokalingam, @shankar-ganesh, @akshayasrikanth, @paschalraj, @hrishikesh-p

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @thanashyam
db/migrate/*.rb @venkatesanmurali @thanashyam

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @prakash-chokalingam @rajasegar-c
api/lib/error_messages.yml @shankar-ganesh @akshayasrikanth

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

[User Story] FD-46565 : skip mandatory checks toggle in freshops admin (#7764)
  app/controllers/fdadmin/accounts_controller.rb
  config/routes.rb
  lib/fdadmin/api_constants.rb
  test/app/controllers/fdadmin/accounts_controller_test.rb
Owners: none

[User Story] [FD-47611] Handling translation for FSM related custom fields (#8093)
  app/models/helpdesk/ticket_field.rb
  config/locales/mint_translations/en.yml
  lib/admin/advanced_ticketing/field_service_management/constant.rb
Owners: none

Revert "[User Story] [FD-44503][FD-44559][FD-44567][FD-44568] SLA based routing in OCR (#7847)" (#8165)
  api/app/controllers/channel/omni_channel_routing/groups_controller.rb
  app/models/helpdesk/ticket.rb
  app/models/helpdesk/ticket/callbacks.rb
  test/api/functional/channel/omni_channel_routing/groups_controller_test.rb
Owners: none

Revert "[User Story] [FD-44503][FD-44559][FD-44567][FD-44568] SLA based routing in OCR (#7847)" (#8165)
  api/app/controllers/channel/omni_channel_routing/groups_controller.rb
  app/models/helpdesk/ticket.rb
  app/models/helpdesk/ticket/callbacks.rb
  test/api/functional/channel/omni_channel_routing/groups_controller_test.rb
Owners: none

Revert "test case fixes (#8117)" (#8168)
  spec/support/user_helper.rb
  test/api/functional/api_agents_controller_test.rb
  test/api/sidekiq/admin/dispatcher_worker_test.rb
  test/api/sidekiq/admin/observer_worker_test.rb
  test/core/helpers/automation_rules_test_helper.rb
Owners: none

[Technical Story] FD-48350 "help_widget" and "help_widget_article_customisation" launch party removal (#8022)
  api/app/controllers/concerns/widget_concern.rb
  api/app/controllers/constants/help_widgets/suggested_article_rules_constants.rb
  api/app/controllers/help_widgets/suggested_article_rules_controller.rb
  api/app/controllers/help_widgets_controller.rb
  api/app/controllers/widget/tickets_controller.rb
  app/models/account/features.rb
  app/models/account_additional_settings.rb
  test/api/functional/admin/security_keys_controller_test.rb
  test/api/functional/help_widgets/suggested_article_rules_controller_test.rb
  test/api/functional/help_widgets_controller_test.rb
  test/api/functional/widget/attachments_controller_test.rb
  test/api/functional/widget/bootstrap_controller_test.rb
  test/api/functional/widget/solutions/articles_controller_test.rb
  test/api/functional/widget/ticket_fields_controller_test.rb
  test/api/functional/widget/tickets_controller_test.rb
Owners: none

[User Story] [FD-47719] add widget link in portal page (#8007)
  app/views/admin/shared/_sample_portals.html.erb
  config/locales/mint_translations/en.yml
Owners: none

[User Story] FD-47076 : Verification parsing bug (#8087)
  api/app/controllers/ember/email/mailboxes_controller.rb
  test/api/functional/ember/email/mailboxes_controller_test.rb
  test/api/helpers/email_mailbox_test_helper.rb
Owners: none

[Bug] FD-49443:Parse note to_email for Iris old UI (#8152)
  app/models/helpdesk/note/presenter.rb
Owners: none

[Technical Story] FD-49272: Pre-Rails change phase - 2 (#8078)
  app/mailers/scheduled_task_mailer.rb
  app/mailers/sla_notifier.rb
  app/models/dashboard.rb
  app/models/helpdesk/access/group_access_methods.rb
  app/models/helpdesk/access/user_access_methods.rb
  app/models/helpdesk/email_hourly_update.rb
  app/models/helpdesk/filters/archive_ticket_filter.rb
  app/models/helpdesk/filters/custom_ticket_filter.rb
  app/models/helpdesk/group_access.rb
  app/models/helpdesk/schedule_configuration.rb
  app/models/helpdesk/schema_less_ticket.rb
  app/models/helpdesk/ticket/callbacks.rb
  app/models/integrations/google_account.rb
  app/models/integrations/installed_application.rb
  app/models/integrations/integrated_resource.rb
  app/models/social/stream.rb
  app/models/subscription_event.rb
  app/models/subscription_payment.rb
  app/models/user/user_email_callbacks.rb
  app/views/forum_categories/index.html.erb
  app/views/helpdesk/canned_responses/folders/index.html.erb
  app/views/helpdesk/canned_responses/responses/_form.html.erb
  app/views/helpdesk/tickets/_custom_form_partial.html.erb
  app/views/helpdesk/tickets/show/_requester_tickets.html.erb
  app/views/integrations/applications/_google_analytics.html.erb
  app/views/integrations/applications/_pivotal_tracker_form.html.erb
  app/views/integrations/surveymonkey/_edit.html.erb
  app/views/layouts/support/_google_analytics_integration.html.erb
  app/views/subscription_admin/accounts/show.html.erb
  app/views/subscription_admin/subscriptions/show.html.erb
  app/workers/solution/article_versions_worker.rb
  script/rubocop/cop/rails/finder_method.rb
  test/models/integrations/google_account_test.rb
Owners: none

[Bug] FD-42000 Data attribute removed from draft/article content - Issue fix (#8126)
  lib/sanitize/config/article_whitelist.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
Owners: @thanashyam, @hrishikesh-p

[L4 Bug] [FD-48757] Order section_fields by position in association (#8145)
  app/models/account/associations.rb
Owners: none

adding Missed shard 36_1 in US Pod (#8172)
  deploy/config/settings-production-us-east-1.ejson
Owners: none

[Technical Story] [FD-48925] Fix to_json performance issue (#8090)
  Gemfile
  Gemfile.lock
  lib/helpdesk/initializers/rails3_patches.rb
Owners: none

[User Story] FD-47122 - Omni channel plans and billings (#8062)
  app/controllers/subscriptions_controller.rb
  app/helpers/subscriptions_helper.rb
  app/models/account.rb
  app/models/account/features.rb
  app/models/subscription_plan.rb
  app/views/subscriptions/_downgrade_feature_loss.html.erb
  app/views/subscriptions/_freshcaller_credits.html.erb
  app/views/subscriptions/_select_new_plans.html.erb
  app/views/subscriptions/features/_features_toggle.html.erb
  app/views/subscriptions/features/omni_channel/_features.html.erb
  app/views/subscriptions/features/toggle-box/_fsm_toggle.html.erb
  app/views/subscriptions/features/toggle-box/_ocr_toggle.html.erb
  app/views/subscriptions/state/_active.html.erb
  app/views/subscriptions/state/_trial.html.erb
  config/feature_description_keys.yml
  config/features/plan_features.yml
  config/locales/mint_translations/en.yml
  public/images/field-service-management-new.svg
  public/src/page/admin/_billing.scss
Owners: none

[L4 Bug] FD-44176 Custom stream tweet emoji fix (#8159)
  app/workers/social/twitter_reply_worker.rb
  lib/conversations/twitter.rb
Owners: none

[Technical Story, Security Bug] FD-48784, FD-49508 : Handling vault cleanup on secure ticket field deletion (#8120)
  api/app/controllers/constants/pci_constants.rb
  api/app/controllers/constants/ticket_fields_constants.rb
  api/app/controllers/decorators/ticket_decorator.rb
  api/app/controllers/ember/tickets_controller.rb
  app/models/helpdesk/ticket_field.rb
  test/api/functional/admin/ticket_fields_controller_test.rb
  test/api/functional/ember/tickets/bulk_actions_controller_test.rb
  test/api/functional/ember/tickets/merge_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/tickets_controller_test.rb
  test/api/sidekiq/tickets/clear_tickets/base_worker_test.rb
Owners: none

Adding Ipaas migration services domains to reserved (#7882)
  app/models/account/constants.rb
Owners: none

Revert "[Technical Story] [FD-48925] Fix to_json performance issue (#8090)" (#8179)
  Gemfile
  Gemfile.lock
  lib/helpdesk/initializers/rails3_patches.rb
Owners: none

FD-48278, Changes to serve index.html page from app. (#8157)
  app/controllers/home_controller.rb
  config/config.yml
  config/routes.rb
  deploy/config/dynamic_config_util.rb
  deploy/config/erb/config.yml.erb
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/assets/index_page.rb
  test/app/controllers/home_controller_test.rb
Owners: none

FD-35514 : changed font weight (#8011)
  public/src/portal/lib/_falcon_type.scss
Owners: none

FD-49673 changes for archive automation (#8174)
  deploy/config/erb/sqs.yml.erb
  deploy/config/sidekiq_config.rb
Owners: none

upgrade prometheus_exporter to 1.0.7 (#8191)
  Gemfile
  Gemfile.lock
Owners: none

[Bug] FD-43181 - Redis lock implementaion in article versioning (#7190)
  api/app/controllers/api_solutions/articles_controller.rb
  api/app/controllers/constants/ember/solutions/article_version_constants.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/workers/solution/approval_notification_worker.rb
  lib/helpdesk/initializers/redis.rb
  lib/redis/keys/others.rb
  lib/redis/redlock.rb
  lib/redis/semaphore.rb
  lib/solution/article_versioning.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
  test/lib/all_tests/constants.rb
  test/lib/helpdesk/initializers/redis.rb
  test/lib/redis/redlock_test.rb
Owners: none

[Technical Story] FD-49273: Pre-Rails change - batch-3 (#8079)
  .rubocop_rails.yml
  app/models/helpdesk/ticket.rb
  config/api_routes.rb
  db/migrate/20180312105324_google_drive.rb
  db/migrate/20180620094600_onedrive_mint.rb
  lib/admin_email/associated_accounts.rb
  lib/cache/memcache/dashboard/custom/cache_data.rb
  lib/cache/memcache/helpdesk/filters/custom_ticket_filter.rb
  lib/cache/memcache/portal.rb
  lib/gamification/quests/post_data.rb
  lib/gamification/quests/solution_data.rb
  lib/gamification/quests/topic_data.rb
  lib/helpdesk/bulk_reply_tickets.rb
  lib/helpdesk/tag_methods.rb
  lib/helpdesk_controller_methods.rb
  lib/helpdesk_reports/formatter/ticket/agent_summary.rb
  lib/helpdesk_reports/formatter/ticket/group_summary.rb
  lib/reports/helpdesk_reporting_query.rb
  lib/reports/timesheet_report.rb
  vendor/gems/acts_as_voteable/lib/acts_as_voteable.rb
  vendor/gems/acts_as_voteable/lib/vote.rb
  vendor/gems/custom_fields-0.1/lib/inherits/custom_field/CRUD_methods.rb
  vendor/gems/facebook/lib/facebook/oauth/fb_client.rb
Owners: @venkatesanmurali, @thanashyam

[User Story] FD-33307-Adding callouts or text boxes in articles (#8158)
  app/models/account/features.rb
  config/features/features.yml
  config/features/plans.yml
  public/src/portal/lib/_content.scss
  public/src/portal/lib/_falcon_content.scss
Owners: none

[L4 Bug] [FD-48264]: Undo send reply to email (#8134)
  lib/helpdesk/services/note.rb
  test/api/functional/ember/conversations_controller_test.rb
Owners: none

[Security Bug] FD-47825 - Merge delegator security bug (#8143)
  api/app/delegators/ticket_merge_delegator.rb
  test/api/functional/ember/tickets/merge_controller_test.rb
Owners: none

FD-49839 Tags index - Performance issue (#8194)
  app/controllers/helpdesk/tags_controller.rb
Owners: none

[Security Bug] FD-47830 : Security Fix for XSS in Contact Fields (#8114)
  app/views/admin/company_fields/index.html.erb
  app/views/admin/contact_fields/index.html.erb
Owners: none

[Bug] FD-48734 - Update secure fields via Send and Set As. (#8072)
  api/app/controllers/ember/conversations_controller.rb
  api/app/controllers/ember/tickets_controller.rb
  app/controllers/support/tickets_controller.rb
  lib/jwt/secure_field_methods.rb
  swagger/paths/conversations/broadcast.yaml
  swagger/paths/conversations/crud.yaml
  swagger/paths/conversations/facebook_reply.yaml
  swagger/paths/conversations/forward.yaml
  swagger/paths/conversations/reply.yaml
  swagger/paths/conversations/reply_to_forward.yaml
  swagger/paths/conversations/reply_to_forward_template.yaml
  swagger/paths/conversations/twitter_reply.yaml
  swagger/paths/conversations/update.yaml
  swagger/swagger.json
  test/api/functional/ember/conversations_controller_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[Bug] FD-45076 Old requester email id is being displayed in reply when contact email id changed after ticket creation (#7660)
  api/app/controllers/decorators/ticket_decorator.rb
  app/models/helpdesk/note/callbacks.rb
  spec/support/note_helper.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/helpers/tickets_test_helper.rb
  test/models/helpdesk/note_model_test.rb
Owners: none

[Technical Story] [FD-48925] Fix to_json performance issue (#8192)
  Gemfile
  Gemfile.lock
  app/workers/ner_worker.rb
  lib/helpdesk/initializers/rails3_patches.rb
Owners: none

[Technical Story] FD-47849 - Validate the activity data to hypertrail (#8056)
  app/models/account/features.rb
  app/models/helpdesk/note/presenter.rb
  app/models/helpdesk/ticket/presenter.rb
  app/models/helpdesk/time_sheet/presenter.rb
  lib/central_constants.rb
  test/models/helpers/notes_test_helper.rb
  test/models/helpers/tickets_test_helper.rb
  test/models/helpers/time_sheets_test_helper.rb
  test/models/presenters/helpdesk/note_test.rb
  test/models/presenters/helpdesk/ticket_test.rb
  test/models/presenters/helpdesk/time_sheet_test.rb
Owners: none

[User Story] FD-49615 skip trf-fields for requests from mobile app (#8166)
  api/app/controllers/api_contact_fields_controller.rb
  app/models/contact_field.rb
  lib/channel_integrations/commands/services/twitter.rb
  test/api/functional/ember/contact_fields_controller_test.rb
  test/api/shoryuken/channel_message_poller_test.rb
Owners: none

FD-49659: Show all companies option (#8186)
  app/helpers/support/archive_tickets_helper.rb
  app/helpers/support/tickets_helper.rb
Owners: none

activity bug (#8181)
  app/models/agent.rb
Owners: none

FD-49854 : adding time stamp (#8204)
  lib/middleware/sidekiq/server/job_details_logger.rb
Owners: none

[Technical Story] [FD-48585] Swagger spec for location-tagging feature (#8193)
  swagger/definitions/request/field_service_management/save_settings.yaml
  swagger/definitions/response/bootstrap/account.yaml
  swagger/paths/field_service_management/save_settings.yaml
Owners: none

FD-49780 Changing gem version rule engine (#8214)
  Gemfile
  Gemfile.lock
Owners: none
