Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

[FD-14172]-Syntax Error in cdn/rtl/reports.scss due to new line space
  public/src/cdn/rtl/reports.scss
Owners: none

Fd 14239 (#2704) Adding sandbox launchparty check for showing message
  app/helpers/application_helper.rb
Owners: none

[FD-14172]-Syntax Error in cdn/rtl/reports.scss due to new line space
  public/src/cdn/rtl/reports.scss
  public/src/plugins/fixedColumnCustom.dataTables.scss
  public/src/plugins/scrollButtons.dataTables.scss
Owners: none

[FD-14172]-Syntax Error in cdn/rtl/reports.scss due to new line space
  public/src/cdn/rtl/reports.scss
Owners: none

[FD-14172]-Syntax Error in cdn/rtl/reports.scss due to new line space
  public/src/plugins/fixedColumns.dataTables.scss
  public/src/rtl/page/helpdesk_reports.scss
Owners: none

[FD-14172]-Syntax Error in cdn/rtl/reports.scss due to new line space
  public/src/cdn/rtl/reports.scss
Owners: none

[FD-14082] Freshconnect feature in Sprout plan as well (#2695)
  app/workers/freshconnect/update_freshconnect.rb
  config/features/plans.yml
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  lib/saas/account_data_cleanup.rb
  lib/saas/subscription_event_actions.rb
Owners: @venkatesanmurali, @hrishikesh-p

[FD-14082] Freshconnect feature in Sprout plan as well (#2694)
  app/workers/freshconnect/update_freshconnect.rb
  config/features/plans.yml
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  lib/saas/account_data_cleanup.rb
  lib/saas/subscription_event_actions.rb
Owners: @venkatesanmurali, @hrishikesh-p

FD-12910 Perishable token is reset when requester/agent notification is disabled (#2621)
  lib/users/activator.rb
  test/api/functional/tickets_controller_test.rb
Owners: none

FD-13751 Handling for repeatedable-read transaction levels for lock_v… (#2656)
  app/models/account/features.rb
  db/schema.rb
  vendor/gems/has_flexiblefields/app/models/denormalized_flexifield.rb
Owners: @venkatesanmurali, @arvindr, @thanashyam

FD-13751 Handling for repeatedable-read transaction levels for lock_version (#2712)
  app/models/account/features.rb
  db/schema.rb
  vendor/gems/has_flexiblefields/app/models/denormalized_flexifield.rb
Owners: @venkatesanmurali, @arvindr, @thanashyam

FD-12449 Stored XSS in Solution article (#2682)
  lib/sanitize/config/article_whitelist.rb
  public/javascripts/froala_editor/fd_plugins/common_events.js
  public/javascripts/froala_editor/sanitizer.js
Owners: @thanashyam, @hrishikesh-p

[FD-13404] - Handling sidekiq exception - InlineImageShredder
  app/workers/inline_image_shredder.rb
  lib/aws_wrapper/s3_object.rb
Owners: none

FD-14244 customize automation action field name and fix minor issue (#2647)
  api/app/controllers/helpers/audit_log/agent_helper.rb
  api/app/controllers/helpers/audit_log/audit_log_helper.rb
  api/app/controllers/helpers/audit_log/translators/automation_rule.rb
  config/locales/en.yml
Owners: @akshayasrikanth

[FD-12579] Primary language change automation (#2651)
  app/controllers/fdadmin/accounts_controller.rb
  app/mailers/admin/language_mailer.rb
  app/views/admin/language_mailer/primary_language_change.html.erb
  app/workers/primary_language_change.rb
  config/routes.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  lib/fdadmin/accounts_controller_methods.rb
Owners: @venkatesanmurali, @hrishikesh-p

[FD-12579] Primary language change automation (#2586)
  app/controllers/fdadmin/accounts_controller.rb
  app/mailers/admin/language_mailer.rb
  app/views/admin/language_mailer/primary_language_change.html.erb
  app/workers/primary_language_change.rb
  config/routes.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  lib/fdadmin/accounts_controller_methods.rb
Owners: @venkatesanmurali, @hrishikesh-p

FD-14165 Segments perf fix - Object.const_get to local hash (#2686)
  app/models/company/constants.rb
  app/models/user/constants.rb
  lib/va/constants.rb
  lib/va/rule_handler.rb
Owners: none

[FD-12746] , 12851, 12693, 12818, 12822
  public/src/falcon/falcon-rtl.scss
  public/src/page/helpdesk_reports.scss
Owners: none

FD-12901 Audit log - move from launchparty to bitmap features (#2727)
  app/models/account/constants.rb
  app/models/account/features.rb
  config/features/features.yml
  config/features/plans.yml
Owners: none

FD-12901 Audit log - move from launchparty to bitmap features (#2726)
  app/models/account/constants.rb
  app/models/account/features.rb
  config/features/features.yml
  config/features/plans.yml
  lib/hyper_trail/base.rb
Owners: none

[FD-13965] Fixes forum rake task error (#2732)
  app/models/post.rb
Owners: none

FD-14302: showing undo toggle when sso enabled (#2722)
  app/views/profiles/edit.html.erb
Owners: none

FD-12401 test cases for facebook realtime shoryuken (#2490)
  app/workers/ryuken/facebook_realtime.rb
  test/api/helpers/facebook_test_helper.rb
  test/api/shoryuken/facebook_realtime_test.rb
Owners: none

[FD-12401] Raise exception in fb posts shoryuken (#2707)
  app/workers/ryuken/facebook_realtime.rb
Owners: none

[FD-14240] Fix for Security page in OAuth2 enabled accounts (#2709)
  app/controllers/admin/security_controller.rb
  app/models/account/sso_methods.rb
  app/views/admin/security/index.html.erb
Owners: none

FD-14273 Fix agent name link bug and show subscription when manage account privilege (#2721)
  api/app/controllers/helpers/audit_log/audit_log_helper.rb
  api/app/controllers/helpers/audit_log/subscription_helper.rb
  api/app/controllers/helpers/audit_log/translators/agent.rb
  api/app/controllers/helpers/audit_log/translators/subscription.rb
  test/api/functional/audit_logs_controller_test.rb
Owners: none

FD-11939 nokogiri gem version upgrade (#2692)
  Gemfile
  Gemfile.lock
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

FD-11939 nokogiri gem version upgrade (#2693)
  Gemfile
  Gemfile.lock
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

FD-14292 Allow commits when the issue is in review (#2720)
  script/githooks/commit-msg
Owners: none

FD-14409 Central publisher UserWorker sidekiq error fix
  app/models/agent/presenter.rb
Owners: none

FD-14409 Central publisher UserWorker sidekiq error fix
  app/models/agent/presenter.rb
Owners: none

FD-12700 zapier bugfix adding ‘type’ (#2749)
  integrations/zapier/ZapierHooks.js
Owners: none

[FD-12762]-& is not escaped in section nested field during bulk action (#2675)
  app/views/helpdesk/tickets/_update_multiple.html.erb
Owners: none

FD-10444 Validation failed when updating company by clearing custom url (#2622)
  api/app/controllers/constants/api_constants.rb
  test/api/unit/custom_field_validator_test.rb
Owners: none

FD-8072 Ticket close with product_id required
  api/app/controllers/validations/ticket_update_property_validation.rb
  test/api/functional/ember/tickets_controller_test.rb
Owners: none

[FD-3470] Support::HomeController#index - NoMethodError: undefined method split for nilclass
  Gemfile
  Gemfile.lock
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

FD-3324: Allow a contact to be associated to a maximum 300 of companies (#2713)
  app/controllers/support/archive_tickets_controller.rb
  app/controllers/support/tickets_controller.rb
  app/helpers/support/archive_tickets_helper.rb
  app/helpers/support/tickets_helper.rb
  app/models/user.rb
  app/models/user/constants.rb
  config/locales/en.yml
  public/javascripts/app/contact_form.js
  spec/support/user_helper.rb
  test/api/functional/api_contacts_controller_test.rb
  test/api/functional/contacts/merge_controller_test.rb
  test/api/functional/ember/contacts_controller_test.rb
Owners: @akshayasrikanth

FD-3324: Allow a contact to be associated to a maximum 300 of companies (#2714)
  app/controllers/support/archive_tickets_controller.rb
  app/controllers/support/tickets_controller.rb
  app/helpers/support/archive_tickets_helper.rb
  app/helpers/support/tickets_helper.rb
  app/models/user.rb
  app/models/user/constants.rb
  config/locales/en.yml
  public/javascripts/app/contact_form.js
  test/api/functional/api_contacts_controller_test.rb
Owners: @akshayasrikanth

Fd 4521 solution visibility issue (#2631)
  app/helpers/support_helper.rb
  app/models/account/multilingual.rb
  app/models/portal.rb
  app/views/layouts/support.html.erb
  config/locales/en.yml
  config/route_mapping.yml
  lib/portal/multilingual.rb
  public/src/portal/lib/_alerts.scss
  public/src/portal/lib/_falcon_alerts.scss
  public/src/portal/lib/_falcon_header-footer.scss
  public/src/portal/lib/_header-footer.scss
Owners: @akshayasrikanth

[Fd-13965] [FD-13923] (#2636)
  app/drops/portal_drop.rb
  app/views/admin/portal/_form.html.erb
Owners: none
