Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @thanashyam, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @prakash-chokalingam, @shankar-ganesh, @akshayasrikanth, @paschalraj, @hrishikesh-p

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @thanashyam
db/migrate/*.rb @venkatesanmurali @thanashyam

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @prakash-chokalingam @rajasegar-c
api/lib/error_messages.yml @shankar-ganesh @akshayasrikanth

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

[Technical Story, Task] [FD-46060, FD-44500] Changing all usages of agent_id to user_id (#7784)
  app/controllers/agents_controller.rb
  app/controllers/users_controller.rb
  app/models/account/features.rb
  app/views/agents/_agent_form.html.erb
  app/views/agents/_agents.html.erb
  app/views/agents/_reset_password.html.erb
  app/views/agents/edit.html.erb
  app/views/agents/index.html.erb
  app/views/agents/show.html.erb
  app/views/layouts/shared/_header.html.erb
  public/javascripts/app/admin/agents/agents.js
  public/javascripts/utils.js
  test/api/functional/ember/agents_controller_test.rb
  test/app/controllers/agents_controller_test.rb
Owners: none

[FD-46245] - Freshcaller integration SSRF fix (#7729)
  api/app/controllers/ember/ocr_proxy_controller.rb
  app/controllers/freshcaller_proxy_controller.rb
  lib/admin/shift_helper.rb
  lib/freshcaller/jwt_authentication.rb
Owners: none

[Technical Story] [FD-46880] - Supporting ad post as facebook post msg type (#7695)
  api/app/controllers/constants/channel/v2/ticket_constants.rb
  api/app/delegators/fb_reply_delegator.rb
  lib/channel_integrations/commands/services/facebook.rb
  test/api/functional/ember/conversations_controller_test.rb
  test/api/shoryuken/channel_message_poller_test.rb
  test/api/unit/fb_reply_validation_test.rb
  vendor/gems/facebook/app/models/social/fb_post.rb
  vendor/gems/facebook/lib/facebook/constants.rb
Owners: none

Fixed failing test cases (#7798)
  test/api/sidekiq/chargebee_event_listener_test.rb
  test/api/sidekiq/delete_account_test.rb
  test/api/sidekiq/users/remove_secondary_companies_test.rb
Owners: none

[User Story, Bug] [FD-46941][FD-47012] Adding source additional info in public api response (#7771)
  api/app/controllers/decorators/conversation_decorator.rb
  api/app/controllers/decorators/facebook_post_decorator.rb
  api/app/delegators/conversation_delegator.rb
  api/app/views/conversations/reply.json.jbuilder
  test/api/functional/conversations_controller_test.rb
  test/api/helpers/conversations_test_helper.rb
  test/api/sidekiq/cron_webhook/billing_info_update_test.rb
Owners: none

FD-46726 Block FSM feature enable from freshops admin (#7793)
  lib/fdadmin/feature_methods.rb
Owners: none

[User Story] [FD-45665] Remove send_and_set launch party (#7676)
  app/models/account/constants.rb
  app/models/account/features.rb
Owners: none

[Technical Story] FD-46913 fix next response sla values in archive tickets (#7802)
  api/app/controllers/decorators/archive/ticket_decorator.rb
  app/models/helpdesk/archive_ticket.rb
Owners: none

[Technical Story] FD-46913 fix next response sla values in archive tickets (#7802)
  api/app/controllers/decorators/archive/ticket_decorator.rb
  app/models/helpdesk/archive_ticket.rb
Owners: none

[L4 Bug] FD-46225 : FSM Section limit handling. (#7739)
  api/app/delegators/admin/sections_delegator.rb
  app/controllers/custom_fields_controller.rb
  app/models/account/associations.rb
  app/models/helpdesk/ticket_field.rb
  app/views/ticket_fields/index.html.erb
  lib/admin/advanced_ticketing/field_service_management/util.rb
  test/api/functional/ember/admin/advanced_ticketing_controller_test.rb
  test/api/functional/ticket_fields_controller_test.rb
  test/api/helpers/ticket_fields_test_helper.rb
Owners: none

[Bug] [FD-45379] ticket field limit increase check for FSM (#7762)
  api/app/delegators/advanced_ticketing_delegator.rb
  api/lib/error_messages.yml
  app/controllers/subscriptions_controller.rb
  test/api/functional/ember/admin/advanced_ticketing_controller_test.rb
  test/app/controllers/subscriptions_controller_test.rb
Owners: @shankar-ganesh, @akshayasrikanth

Ember agents controller test fix (#7829)
  app/controllers/agents_controller.rb
  test/api/functional/ember/agents_controller_test.rb
Owners: none

FD-47160 : change shard to 37_2 (#7831)
  deploy/config/settings-production-us-east-1.ejson
Owners: none

[Technical Story] [FD-46104] archive automation new rake task (#6269)
  api/app/controllers/validations/cron_webhooks_validation.rb
  app/workers/cron_webhooks/archive_automation.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  deploy/config/erb/sidekiq_classification.yml.erb
  deploy/config/sidekiq_config.rb
  lib/cron_webhooks/constants.rb
  lib/helpdesk/initializers/sidekiq.rb
  lib/redis/archive_redis.rb
  lib/tasks/archive_automation_old.rake
  lib/tasks/archive_tickets.rake
  test/api/sidekiq/cron_webhook/archive_automation_cron_test.rb
Owners: none

FD-47294 : Revert "[Technical Story] Agents List Sort API (#7714)" (#7851)
  api/app/controllers/api_agents_controller.rb
  api/app/controllers/constants/agent_constants.rb
  test/api/functional/api_agents_controller_test.rb
Owners: none

FD-47294 : Revert "[Technical Story] Agents List Sort API (#7714)" (#7849)
  api/app/controllers/api_agents_controller.rb
  api/app/controllers/constants/agent_constants.rb
  test/api/functional/api_agents_controller_test.rb
Owners: none

test_case_fix (#7839)
  test/api/functional/ember/agents_controller_test.rb
Owners: none

[Technical Story] [FD-47189] : Adding logs for DKIM email service (#7834)
  app/controllers/admin/dkim_configurations_controller.rb
  lib/dkim/configure_dkim_record.rb
  lib/dkim/validate_dkim_record.rb
Owners: none

Merging - Reverse_merge_05Mar20125200 to falcon-prestaging (#7854)
  app/controllers/agents_controller.rb
  app/controllers/users_controller.rb
  app/views/agents/_agent_form.html.erb
  app/views/agents/_agents.html.erb
  app/views/agents/_reset_password.html.erb
  app/views/agents/edit.html.erb
  app/views/agents/index.html.erb
  app/views/agents/show.html.erb
  app/views/layouts/shared/_header.html.erb
  public/javascripts/app/admin/agents/agents.js
  public/javascripts/utils.js
  test/app/controllers/agents_controller_test.rb
Owners: none

FD-46679-show_sample_dashboard launch party cleanup (#7780)
  app/models/account/features.rb
Owners: none

[FD-47340] (Corrected) Changing all usages of agent_id to user_id (#7860)
  app/controllers/agents_controller.rb
  app/controllers/users_controller.rb
  app/views/agents/_agent_form.html.erb
  app/views/agents/_agents.html.erb
  app/views/agents/_reset_password.html.erb
  app/views/agents/edit.html.erb
  app/views/agents/index.html.erb
  app/views/agents/show.html.erb
  app/views/layouts/shared/_header.html.erb
  public/javascripts/app/admin/agents/agents.js
  public/javascripts/utils.js
  test/app/controllers/agents_controller_test.rb
Owners: none

[FD-47340] (Corrected) Changing all usages of agent_id to user_id (#7861)
  app/controllers/agents_controller.rb
  app/controllers/users_controller.rb
  app/views/agents/_agent_form.html.erb
  app/views/agents/_agents.html.erb
  app/views/agents/_reset_password.html.erb
  app/views/agents/edit.html.erb
  app/views/agents/index.html.erb
  app/views/agents/show.html.erb
  app/views/layouts/shared/_header.html.erb
  public/javascripts/app/admin/agents/agents.js
  public/javascripts/utils.js
  test/app/controllers/agents_controller_test.rb
Owners: none

[User Story] FD-45794 - Enable FSM for Blossom (#7790)
  app/helpers/subscriptions_helper.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  config/features/plan_features.yml
  config/features/plans.yml
  db/fixtures/global/002_subscription_plans.rb
  db/migrate/20200220133302_add_fsm_pricing_for_blossom.rb
  db/migrate/20200220140823_add_fsm_addon_to_blossom.rb
  lib/admin/advanced_ticketing/field_service_management/util.rb
  test/app/controllers/subscriptions_controller_test.rb
Owners: @venkatesanmurali, @thanashyam

[Technical Story] FD-46251: Rename field_service_management to field_service in account_additional_settings (#7815)
  api/app/controllers/decorators/account_decorator.rb
  api/app/controllers/helpers/field_service_management_helper.rb
  app/models/account.rb
  app/models/account_additional_settings.rb
  swagger/definitions/response/bootstrap/account.yaml
  test/api/functional/field_service_management_controller_test.rb
Owners: none

[User Story] [FD-46359] Support include description in tickets list private API (#7797)
  api/app/controllers/decorators/ticket_decorator.rb
  api/app/controllers/ember/tickets_controller.rb
  api/app/views/ember/tickets/index.json.api
  swagger/paths/tickets/list_and_create.yaml
  swagger/swagger.json
  test/api/functional/channel/v2/tickets_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[User Story] [FD-43683] Editors fonts added (#7573)
  public/javascripts/app/admin_font_settings.js
  public/src/pattern/lib/_list-page-theme.scss
Owners: none

[Technical Story] FD-42960: clean up LPs for ad posts (#7735)
  app/models/account/constants.rb
  app/models/account/features.rb
  test/models/presenters/facebook_ad_posts_test.rb
  vendor/gems/facebook/app/models/social/facebook_page/callbacks.rb
  vendor/gems/facebook/app/models/social/facebook_stream/presenter.rb
  vendor/gems/facebook/app/views/admin/social/facebook_streams/edit.html.erb
  vendor/gems/facebook/lib/facebook/oauth/constants.rb
  vendor/gems/facebook/lib/facebook/oauth/fb_client.rb
Owners: none

[Security Bug] FD-43934 CSV injection fix in Audit log module (#7787)
  api/app/controllers/helpers/audit_log/audit_log_helper.rb
  test/api/sidekiq/audit_log_export_test.rb
  test/api/sidekiq/chargebee_event_listener_test.rb
Owners: none

[Technical Story] FD-45132 subscription and fb feature cleanup (#7572)
  api/app/controllers/admin/trial_subscriptions_controller.rb
  api/app/controllers/decorators/account_decorator.rb
  app/models/account/features.rb
  app/models/trial_subscription/constants.rb
  test/api/functional/admin/trial_subscriptions_controller_test.rb
  test/api/sidekiq/cron_webhook/rollback_trial_subscriptions_data_test.rb
Owners: none

[L4 Bug] FD-45262: Custom stream DM reply bug fix (#7781)
  api/app/controllers/conversations_controller.rb
  api/app/controllers/ember/conversations_controller.rb
  app/controllers/helpdesk/conversations_controller.rb
  lib/conversations/twitter.rb
Owners: none

[L4 Bug] FD-43019 Retain custom field values (#7452)
  app/views/support/tickets/_request_form.html.erb
Owners: none

[User Story] [FD-43493] pushing approval status data to ES. (#7670)
  api/app/controllers/constants/solution_constants.rb
  api/app/controllers/ember/solutions/articles_controller.rb
  api/app/controllers/validations/solution_article_filter_validation.rb
  app/models/helpdesk/approval.rb
  app/models/solution/article.rb
  app/models/solution/article/esv2_methods.rb
  lib/search/v2/query_handler.rb
  lib/solution/article_filter_scoper.rb
  lib/solution/article_filters.rb
  lib/solution/constants.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
  test/api/unit/solution_article_filter_validation_test.rb
  test/lib/solutions/article_filters_test.rb
Owners: none

[Technical Story] FD-46841 Agent Assist Freshdesk (#7368)
  api/app/controllers/channel/freshbots/groups_controller.rb
  api/app/controllers/decorators/group_decorator.rb
  api/app/controllers/ember/agent_assist_controller.rb
  api/app/views/channel/freshbots/groups/index.json.api
  api/app/views/ember/agent_assist/bots.json.api
  api/app/views/ember/agent_assist/onboard.json.api
  api/app/views/ember/agent_assist/request_demo.json.api
  api/app/views/ember/agent_assist/show.json.api
  app/mailers/agent_assist_mailer.rb
  app/models/account/features.rb
  app/models/account_additional_settings.rb
  app/views/agent_assist_mailer/request_feature.text.html.erb
  app/workers/request_agent_assist_feature_worker.rb
  config/api_privileges.rb
  config/api_routes.rb
  config/channel_api_keys.yml
  config/features/features.yml
  config/freddy_skills_config.yml
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  deploy/config/erb/channel_api_keys.yml.erb
  deploy/config/erb/freddy_skills_config.yml.erb
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/agent_assist/util.rb
  lib/channel_authentication.rb
  test/api/functional/channel/freshbots/groups_controller_test.rb
  test/api/functional/ember/agent_assist_controller_test.rb
  test/api/helpers/agent_assist_helper.rb
  test/api/helpers/jwt_test_helper.rb
Owners: none

[User Story] [FD-46904]: Include deleted contacts in search API (#7844)
  api/app/controllers/api_search/contacts_controller.rb
  test/api/functional/api_search/contacts_controller_test.rb
Owners: none

[Bug] [FD-46664] Destroy archived fields on plan downgrade (#7777)
  lib/saas/account_data_cleanup.rb
  test/api/sidekiq/account_data_cleanup_test.rb
Owners: none

[L4 Bug] [FD-44373] Fix for Canned responses and Ticket templates count mismatch due to duplicates (#7605)
  app/models/helpdesk/access.rb
  lib/helpdesk_access_methods.rb
  test/api/functional/canned_response_folders_controller_test.rb
  test/api/functional/ember/ticket_templates_controller_test.rb
Owners: none

[Bug] [FD-47100] Retry Failed Emails for custom mailboxes (#7840)
  app/mailers/helpdesk/ticket_notifier.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  lib/helpdesk/initializers/mail_message_patch.rb
  test/app/mailers/helpdesk/ticket_notifier_test.rb
Owners: none

FD-46938 india pod autofaq feature adding (#7808)
  deploy/config/erb/unsupported_features.yml.erb
Owners: none

[Security Bug] FD-46328 Sanitize ticket field label on create, update (#7812)
  app/models/helpdesk/nested_ticket_field.rb
  app/models/helpdesk/picklist_value.rb
  app/models/helpdesk/section.rb
  app/models/helpdesk/ticket_field.rb
Owners: none

FD-46813 : Adding more logs for ticket field cache corruption for FSM date time fields in production (#7827)
  app/models/flexifield_def_entry.rb
  lib/admin/advanced_ticketing/field_service_management/util.rb
  lib/cache/memcache/flexifield_def_entry.rb
Owners: none
