Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

Sandbox
  script/Jenkinsfile
Owners: none

report
  script/Jenkinsfile
Owners: none

FD-3974 dummy commit. please revoke this while raising PR
  Gemfile
  config/boot.rb
  config/sqs.yml
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

[FD-12738]-Search icon misaligned to center in customer portal page
  public/src/portal/lib/_falcon_help-center.scss
Owners: none

[FD-66] Announcement widget - Phase II (#2387)
  api/app/controllers/concerns/custom_dashboard_concern.rb
  api/app/controllers/ember/custom_dashboard_controller.rb
  api/app/views/ember/custom_dashboard/fetch_announcement.json.api
  app/models/dashboard/presenter.rb
  config/api_privileges.rb
  config/api_routes.rb
  lib/dashboard/custom/custom_dashboard_constants.rb
  lib/helpdesk/iris_notifications.rb
  swagger/definitions/index.yaml
  swagger/definitions/response/dashboard/custom/fetch_announcement.yaml
  swagger/paths/custom_dashboard/announcement_show.yaml
  swagger/paths/index.yaml
  swagger/swagger.json
  test/api/functional/ember/custom_dashboard_controller_test.rb
  test/api/helpers/custom_dashboard_test_helper.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[FD-12785]-Customer portal - 'Create new ticket / check ticket status' link gets misaligned
  public/src/portal/lib/_rtl-styles.scss
Owners: none

[FD-12736] - Customer portal - Home button slightly gets misaligned from the margin
  public/src/portal/lib/_falcon_header-footer.scss
Owners: none

Revert "[FD-66] Announcement widget - Phase II (#2387)" (#2493)
  api/app/controllers/concerns/custom_dashboard_concern.rb
  api/app/controllers/ember/custom_dashboard_controller.rb
  api/app/views/ember/custom_dashboard/fetch_announcement.json.api
  app/models/dashboard/presenter.rb
  config/api_privileges.rb
  config/api_routes.rb
  lib/dashboard/custom/custom_dashboard_constants.rb
  lib/helpdesk/iris_notifications.rb
  swagger/definitions/index.yaml
  swagger/definitions/response/dashboard/custom/fetch_announcement.yaml
  swagger/paths/custom_dashboard/announcement_show.yaml
  swagger/paths/index.yaml
  swagger/swagger.json
  test/api/functional/ember/custom_dashboard_controller_test.rb
  test/api/helpers/custom_dashboard_test_helper.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

FD-3974 Check maximum length of checked and unchecked label
  Gemfile
  config/boot.rb
  config/sqs.yml
  public/javascripts/frameworks/plugins/jquery.itoggle.js
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

[FD-12733]-Customer portal - 'Start a new topic' link gets hidden under discussions
  public/src/portal/lib/_falcon_content.scss
Owners: none

[FD-12714]-Arabic- Folder lists text ('FAQ' & 'Getting Started') in Solutions landing page are collapsed
  public/src/falcon/falcon-community.scss
Owners: none

[FD-12740]-Customer portal - 'Home/Folder' links shown in left aligned instead of right in solutions and forums
  public/src/portal/lib/_breadcrumbs.scss
  public/src/portal/lib/_falcon_breadcrumbs.scss
Owners: none

[FD-12745-RTL - Field names are hidden in ticket/contact fields]
  public/src/pattern/lib/_forms.scss
Owners: none

[FD-12711] - Filter text fix
  public/src/app/_rtl-styles.scss
  public/src/reports/_survey.scss
Owners: none

[FD-12820]-[Solutions][RTL] Email mentioned in Draft articles knowledge base gets overlapped when email is too long
  public/src/app/lib/_sidepanel.scss
Owners: none

[FD-12868] - Profile settings - Language help icon aligned close to the textbox
  public/src/falcon/falcon-common.scss
Owners: none

[FD-3469] NoMethod error nil class initial commit
  app/helpers/support_helper.rb
  lib/portal/helpers/discussions_helper.rb
Owners: none

[FD-3469] Nomethod nilclass - Adding more info to logs
  app/helpers/support_helper.rb
  lib/portal/helpers/discussions_helper.rb
Owners: none

[FD-12722]-Punctuation mis-alignment in English texts (Arabic account)
  public/src/falcon/falcon-common.scss
Owners: none

fix
  script/Jenkinsfile
Owners: none

sandbox fix
  script/Jenkinsfile
Owners: none

[FD-11948] Perform spam analysis for notification template using spam analysis service. Perform outgoing block during spam template for accounts having mrr less than 300. (#2438)
  app/workers/admin/spam_checker_worker.rb
  config/sds.yml
  lib/email_helper.rb
  lib/helpdesk/email/outgoing_category.rb
  lib/helpdesk/initializers/fd_spam_filter.rb
  lib/redis/redis_keys.rb
  lib/spam/spam_action.rb
  lib/spam/spam_check.rb
  lib/spam/spam_result.rb
  vendor/gems/fd_spam_detection_service/lib/fd_spam_detection_service/config.rb
Owners: none

Final exeception done
  script/Jenkinsfile
Owners: none

[FD-12443] Dashboard Announcements - BE - Phase II (#2502)
  api/app/controllers/concerns/custom_dashboard_concern.rb
  api/app/controllers/ember/custom_dashboard_controller.rb
  api/app/views/ember/custom_dashboard/fetch_announcement.json.api
  app/models/dashboard/presenter.rb
  config/api_privileges.rb
  config/api_routes.rb
  lib/dashboard/custom/custom_dashboard_constants.rb
  lib/helpdesk/iris_notifications.rb
  swagger/definitions/index.yaml
  swagger/definitions/response/dashboard/custom/fetch_announcement.yaml
  swagger/paths/custom_dashboard/announcement_show.yaml
  swagger/paths/index.yaml
  swagger/swagger.json
  test/api/functional/ember/custom_dashboard_controller_test.rb
  test/api/helpers/custom_dashboard_test_helper.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

Label distribution
  script/Jenkinsfile
Owners: none

Distributed fix
  script/Jenkinsfile
Owners: none

[FD-12818] [RTL] Portal edit page, rules pages fixes
  public/src/falcon/falcon-common.scss
  public/src/falcon/falcon-rtl.scss
Owners: none

[FD-12979] Email config ordering bug fix (#2450)
  api/app/controllers/api_email_configs_controller.rb
  db/migrate/20180802082239_add_index_to_email_configs.rb
  db/schema.rb
  test/api/functional/api_email_configs_controller_test.rb
  test/api/functional/ember/conversations_controller_test.rb
  test/api/functional/ember/email_configs_controller_test.rb
Owners: @venkatesanmurali, @arvindr, @thanashyam

Fix : FD-3053 - Forums Tab Disable Feature.
  app/views/accounts/edit.html.erb
  config/features/features.yml
Owners: none

Common Pipeline for all jobs
  script/Jenkinsfile
Owners: none

End comments done here
  script/Jenkinsfile
Owners: none

[FD-12742]-RTL - Delete button is hidden behind scrollbar in ticket_fields admin page
  public/src/falcon/falcon-common.scss
  public/src/falcon/falcon-rtl.scss
  public/src/page/_custom-fields.scss
Owners: none

[FD-3469] - Addressing review comments
  app/helpers/support_helper.rb
  lib/portal/helpers/discussions_helper.rb
Owners: none

[FD-2434] - solution-folders/categories n+1 fix (#2483)
  api/app/controllers/ember/search/spotlight_controller.rb
Owners: none

Fix : FD-3053
  config/features/features.yml
Owners: none

Adding Comments
  script/Jenkinsfile
Owners: none

[FD-4800 ]Line length Exceeded Error common fix for all emails
  app/mailers/helpdesk/ticket_notifier.rb
  lib/auto_link_mail_interceptor.rb
  vendor/gems/delayed_job/lib/delayed/job.rb
Owners: none

[FD-12819]-Hebrew language - elements overlay
  public/src/app/app-common.scss
  public/src/falcon/falcon-common.scss
  public/src/falcon/falcon-rtl.scss
  public/src/pattern/lib/_utilities.scss
Owners: none

testing with echo
  script/Jenkinsfile
Owners: none

Fix Env variable
  script/Jenkinsfile
Owners: none

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p
