Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

[FD-12021] Track base domain for cname accounts (#2297)
  lib/freshmarketer/client.rb
Owners: none

[FD-12021] Track base domain for cname accounts (#2298)
  lib/freshmarketer/client.rb
Owners: none

[FD-1358] Allow empty body when attachments are present (#1199])
  api/app/controllers/validations/conversation_validation.rb
  test/api/unit/conversation_validation_test.rb
Owners: none

[FD-10709] - Deactivate monitorship exception handling (#2108)
  app/observers/post_observer.rb
  app/workers/community/deactivate_monitorship.rb
Owners: none

FD-10511: Sandbox helpkit changes (#2249)
  app/helpers/application_helper.rb
  config/sandbox.yml
  db/migrate/20180705070830_add_additional_data_to_sandbox_jobs.rb
  db/schema.rb
  lib/auto_link_mail_interceptor.rb
  lib/helpdesk/ticketfields/controller_methods.rb
Owners: @venkatesanmurali, @arvindr, @thanashyam

FD-23 Jenkins build fix (#2327)
  config/database.yml
  script/Jenkinsfile
  script/MultijobJenkinsfile
Owners: none

FD-12089 - Skip virus scan for email attachments
  Gemfile.lock
  app/models/helpdesk/attachment.rb
  lib/helpdesk/email/incoming_email_handler.rb
  lib/helpdesk/process_email.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

FD-12089 - Skip virus scan for email attachments
  app/models/helpdesk/attachment.rb
  lib/helpdesk/utils/attachment.rb
Owners: none

FD-12089 - Skip virus scan for email attachments
  lib/helpdesk/utils/attachment.rb
Owners: none

FD-23 Auto increment ids for sandbox shards
  config/auto_increment_ids.yml
Owners: none

Pipeline fix (#2330)
  script/Jenkinsfile
  script/MultijobJenkinsfile
Owners: none

FD-12004 Uncessary Request for Feature disabled accounts fix (#2310)
  app/controllers/reports_controller.rb
  app/views/reports/index.html.erb
  app/views/reports/v2/tickets/reports/index.html.erb
  lib/helpdesk_reports/formatter/ticket/agent_summary.rb
  lib/helpdesk_reports/formatter/ticket/group_summary.rb
  lib/helpdesk_reports/param_constructor/agent_summary.rb
  lib/helpdesk_reports/param_constructor/group_summary.rb
  public/javascripts/helpdesk_reports/reports_constants.js
  public/javascripts/helpdesk_reports/utils/agent_summary_util.js
  public/javascripts/helpdesk_reports/utils/group_summary_util.js
Owners: none

FD-23 sandbox ticket template fix
  app/controllers/helpdesk/ticket_templates_controller.rb
  lib/shared_personal_methods.rb
Owners: none

FD-1239 : Validate admin email (#2319)
  app/controllers/admin/security_controller.rb
  app/models/account_configuration.rb
  app/views/accounts/show.html.erb
  config/locales/en.yml
Owners: @akshayasrikanth

FD-1239 : Validate admin email (#1422)
  app/controllers/admin/security_controller.rb
  app/models/account_configuration.rb
  app/views/accounts/show.html.erb
  config/locales/en.yml
Owners: @akshayasrikanth

FD-5541 - Fixing bootstrap issue in local
  db/fixtures/global/003_accounts.rb
  spec/support/account_helper.rb
  test/core/helpers/account_test_helper.rb
Owners: none

Removed unnecessary request for Feature disabled accounts. (#2311)
  app/controllers/reports_controller.rb
  app/views/reports/index.html.erb
  lib/helpdesk_reports/formatter/ticket/agent_summary.rb
  lib/helpdesk_reports/formatter/ticket/group_summary.rb
  lib/helpdesk_reports/param_constructor/agent_summary.rb
  lib/helpdesk_reports/param_constructor/group_summary.rb
  public/javascripts/helpdesk_reports/reports_constants.js
  public/javascripts/helpdesk_reports/utils/agent_summary_util.js
  public/javascripts/helpdesk_reports/utils/group_summary_util.js
Owners: none

FD-23 ticket template bug fix
  app/controllers/helpdesk/ticket_templates_controller.rb
Owners: none

FD-1755 Remove launch pary feature - disable_old_sso (#1737)
  app/models/account/constants.rb
Owners: none

FD-7200 Webhook additional Logs (#2236)
  app/workers/webhook_v1_worker.rb
  lib/middleware/sidekiq/server/rate_limit.rb
  lib/middleware/sidekiq/server/throttler.rb
  lib/va/webhook/trigger.rb
Owners: none

Fd 10738 sso login expiry limitation (#2285)
  app/controllers/user_sessions_controller.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  lib/sso_util.rb
Owners: none

FD-7809 Model box css fix for iframe (#1978)
  public/src/falcon/falcon-common.scss
Owners: none

FD-12089 - created gem tag
  Gemfile
  Gemfile.lock
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

FD-11736 Unwanted space at the end of article content in customer portal (#2279)
  app/views/support/search/related_articles.html.erb
  public/javascripts/portal/portal-app-actions.js
Owners: none

FD-12089 - gem tag changed
  Gemfile
  Gemfile.lock
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

FD-23 sandbox ticket template bug fix
  app/controllers/helpdesk/ticket_templates_controller.rb
  lib/shared_personal_methods.rb
Owners: none

FD-10430 removing the n+1 query (#2197)
  api/app/controllers/api_companies_controller.rb
Owners: none

FD-12103 - Canned form agent privilege (#2341)
  config/api_privileges.rb
  test/api/functional/admin/canned_forms_controller_test.rb
Owners: none

FD-12103 - Canned form agent privilege (#2342)
  config/privileges.rb
Owners: none

FD-4755 - Email - Identify virus in attachment before save and added … (#2307)
  Gemfile
  Gemfile.lock
  api/app/controllers/validations/attachment_validation.rb
  api/lib/error_messages.yml
  app/models/account/constants.rb
  app/models/helpdesk/attachment.rb
  config/fd_email_service.yml
  config/helpdesk_initializers.yml
  config/locales/en.yml
  lib/helpdesk/email/incoming_email_handler.rb
  lib/helpdesk/initializers/emailserv_request.rb
  lib/helpdesk/process_email.rb
  lib/helpdesk/utils/attachment.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @shankar-ganesh, @akshayasrikanth

FD-5457 security - Not to allow disposable emails for signup. (#2348)
  Gemfile
  Gemfile.lock
  app/controllers/accounts_controller.rb
  app/models/signup.rb
  config/disposable_email_domains.yml
  config/helpdesk_initializers.yml
  config/locales/en.yml
  lib/domain_generator.rb
  lib/helpdesk/initializers/disposable_email_domains.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth

FD-3557 Enable signup with no domain (#2256)
  app/controllers/accounts_controller.rb
  app/models/account.rb
  app/models/conversion_metric.rb
  lib/crm/freshsales_utility.rb
Owners: none

FD-3667 - [Mint] Inconsistent CC auto removal (#2324)
  app/controllers/concerns/tickets_view_concern.rb
  test/api/functional/ember/conversations_controller_test.rb
Owners: none

FD-3557 new signup endpoint changes. (#2326)
  app/controllers/accounts_controller.rb
  app/models/account.rb
  app/models/conversion_metric.rb
  lib/crm/freshsales_utility.rb
Owners: none

Revert "DB performance issue fix FD-11923"
  lib/helpdesk_reports/export/fields_helper.rb
Owners: none

[FD-10606, FD-10615, FD-10600, TH-1476] - FD-FC-integration (#2159)
  api/app/controllers/api_application_controller.rb
  app/models/account/callbacks.rb
  app/models/account/features.rb
  app/workers/freshconnect/register_freshconnect.rb
  app/workers/freshconnect/update_freshconnect.rb
  config/collab.yml
  config/features/features.yml
  config/features/plans.yml
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  lib/collaboration/payloads.rb
  lib/collaboration/ticket.rb
  lib/redis/redis_keys.rb
  lib/saas/account_data_cleanup.rb
  lib/saas/subscription_event_actions.rb
  lib/tickets_filter.rb
  test/api/helpers/jwt_test_helper.rb
  test/api/integration/flows/private_api_flows_test.rb
  test/api/sidekiq/register_freshconnect_test.rb
Owners: @venkatesanmurali, @hrishikesh-p

[FD-10600, TH-1526]: (#2338)
  app/models/account/callbacks.rb
  app/models/account/features.rb
  app/views/helpdesk/tickets/show/_sticky.html.erb
  config/features/features.yml
  config/features/plans.yml
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  lib/saas/account_data_cleanup.rb
  lib/saas/subscription_event_actions.rb
  lib/tickets_filter.rb
Owners: @venkatesanmurali, @hrishikesh-p

FD-10606 : Adding extra params of collab in rails (#2354)
  config/collab.yml
  lib/redis/redis_keys.rb
Owners: none

FD-3853 - Hnp shopify mint (#1764)
  api/app/controllers/constants/conversation_constants.rb
  api/app/controllers/constants/installed_application_constants.rb
  app/controllers/integrations/applications_controller.rb
  app/controllers/integrations/installed_applications_controller.rb
  app/controllers/integrations/marketplace/shopify_controller.rb
  app/views/integrations/applications/_native_integrations.html.erb
  app/views/integrations/applications/shopify/add_store.html.erb
  app/views/integrations/applications/shopify/falcon_installer.html.erb
  app/views/integrations/installed_applications/shopify/falcon_edit.html.erb
  app/views/integrations/installed_applications/shopify/helpkit_edit.html.erb
  app/views/profiles/edit.html.erb
  config/locales/en.yml
  config/privileges.rb
  config/routes.rb
  db/migrate/20180621075018_update_shopify_config.rb
  lib/integration_services/services/shopify/shopify_customer_resource.rb
  lib/integration_services/services/shopify/shopify_generic_resource.rb
  lib/integration_services/services/shopify/shopify_order_resource.rb
  lib/integration_services/services/shopify/shopify_refund_resource.rb
  lib/integration_services/services/shopify/shopify_shop_resource.rb
  lib/integration_services/services/shopify_service.rb
  lib/integrations/constants.rb
  lib/omniauth/strategies/shopify.rb
  public/images/helpimages/integration-shopify.svg
  public/src/module/_intagrations.scss
Owners: @akshayasrikanth, @venkatesanmurali, @arvindr, @thanashyam

FD-3853 - Hnp shopify helpkit (#1983)
  app/controllers/integrations/applications_controller.rb
  app/controllers/integrations/installed_applications_controller.rb
  app/controllers/integrations/marketplace/shopify_controller.rb
  app/views/integrations/applications/shopify/add_store.html.erb
  app/views/integrations/applications/shopify/falcon_installer.html.erb
  app/views/integrations/installed_applications/shopify/falcon_edit.html.erb
  app/views/integrations/installed_applications/shopify/helpkit_edit.html.erb
  config/locales/en.yml
  config/privileges.rb
  config/routes.rb
  db/migrate/20180621075018_update_shopify_config.rb
  lib/integration_services/services/shopify/shopify_customer_resource.rb
  lib/integration_services/services/shopify/shopify_generic_resource.rb
  lib/integration_services/services/shopify/shopify_order_resource.rb
  lib/integration_services/services/shopify/shopify_refund_resource.rb
  lib/integration_services/services/shopify/shopify_shop_resource.rb
  lib/integration_services/services/shopify_service.rb
  lib/integrations/constants.rb
  lib/omniauth/strategies/shopify.rb
  public/images/helpimages/integration-shopify.svg
  public/src/module/_intagrations.scss
Owners: @akshayasrikanth, @venkatesanmurali, @arvindr, @thanashyam
