Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

Fix build failure
  test/api/unit/api_sla_policies_dependency_test.rb
Owners: none

FD-12271 Additional Automation Logs (#2247)
  app/models/helpdesk/note/callbacks.rb
  app/models/helpdesk/ticket.rb
  app/workers/admin/supervisor_worker.rb
  app/workers/tickets/observer_worker.rb
  lib/helpdesk/dispatcher.rb
  lib/helpdesk/send_and_set_helper.rb
  lib/va/logger/automation.rb
  lib/va/observer/util.rb
Owners: none

FD-7473 Additional Automation Logs (#2150)
  app/models/helpdesk/note/callbacks.rb
  app/models/helpdesk/ticket.rb
  app/workers/admin/supervisor_worker.rb
  app/workers/tickets/observer_worker.rb
  lib/helpdesk/dispatcher.rb
  lib/helpdesk/send_and_set_helper.rb
  lib/va/logger/automation.rb
  lib/va/observer/util.rb
Owners: none

FD-4209: Add manage_tags privilege default to 'Play God with super admin controls'
  app/helpers/admin/roles_helper.rb
Owners: none

[FD-2918] Fixes recent articles placeholder (#2209)
  app/models/solution/article_meta.rb
Owners: none

FD-12115 Reducing network calls for marketplace apps (#2309)
  app/controllers/admin/marketplace/installed_extensions_controller.rb
  lib/data_versioning/external_model.rb
  lib/marketplace/api_endpoint.rb
  lib/marketplace/api_helper.rb
  lib/marketplace/api_methods.rb
  lib/marketplace/constants.rb
Owners: none

FD-12115 Reducing network calls for marketplace apps (#2308)
  api/app/controllers/ember/marketplace_apps_controller.rb
  test/api/integration/flows/marketplace_apps_flows_test.rb
  test/api/integration/flows/private_api_flows_test.rb
Owners: none

FD-106: Onedrive integration changes (#2165)
  app/views/integrations/applications/_onedrive.html.erb
  app/views/support/shared/_attachment_form.html.erb
  app/views/support/shared/_widget_attachment_form.html.erb
  config/locales/en.yml
  db/migrate/20180620094600_onedrive_mint.rb
  public/images/cdn-ignored/sprites/application-logo/onedrive_mint.png
  public/images/onedrive_mint_big.png
  public/images/onedrive_mint_small.png
  public/src/falcon/falcon-common.scss
  public/src/module/_attachments.scss
  public/src/portal/lib/_attachments.scss
Owners: @akshayasrikanth, @venkatesanmurali, @arvindr, @thanashyam

announcement bucket with '||' symbol is separated into multiple buckets (#2295)
  app/helpers/application_helper.rb
Owners: none

[FD-11394]Threading logic when agents reply from mailbox while removing the requestor email id.
  lib/email_helper.rb
  lib/helpdesk/email/incoming_email_handler.rb
  lib/helpdesk/process_email.rb
Owners: none

[FD-11394]Threading logic when agents reply from mailbox while removing the requestor email id.
  lib/email_helper.rb
  lib/helpdesk/email/incoming_email_handler.rb
  lib/helpdesk/process_email.rb
Owners: none

[FD-11394]Threading logic when agents reply from mailbox while removing the requestor email id.
  lib/email_helper.rb
Owners: none

[FD-10950][FD-11940] sprockets and rack-cors gem fixes (#2179)
  Gemfile
  Gemfile.lock
  config/helpdesk_initializers.yml
  lib/helpdesk/initializers/sprockets_monkey_patch.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

FD-9268 changing the redirection domain (#2184)
  app/controllers/integrations/marketplace/shopify_controller.rb
Owners: none

FD-23 removed unnecessary changes
  app/controllers/helpdesk/ticket_templates_controller.rb
  lib/shared_personal_methods.rb
Owners: none

FD-4615 Changed back button to uppercase in integrations for falcon
  app/views/integrations/applications/show.html.erb
  public/src/falcon/falcon-common.scss
Owners: none

FD-8657: Backend changes for deleting a company from a contact (#2158)
  api/app/controllers/ember/contacts_controller.rb
  test/api/functional/ember/contacts_controller_test.rb
Owners: none

FD-12225 Prevents survey submission by email scanners (#2376)
  app/views/helpdesk/ticket_notifier/_custom_survey.html.erb
  app/views/layouts/shared/_survey.html.erb
Owners: none

FD-12225 Prevents survey submission by email scanners (#2352)
  app/controllers/support/custom_surveys_controller.rb
  app/views/helpdesk/ticket_notifier/_custom_survey.html.erb
  app/views/layouts/shared/_survey.html.erb
  app/views/support/custom_surveys/new.html.erb
  public/javascripts/survey/feedback.js
Owners: none

FD-3493 Support incoming images on twitter (#2364)
  app/views/helpdesk/tickets/show/_scriptvars.html.erb
  lib/sanitize/config/image_relaxed.rb
  public/javascripts/tickets/templates/attachment-viewer.jst.ejs
  public/src/app/app-common.scss
Owners: @thanashyam, @hrishikesh-p

[FD-12317] Adds cobrowsing to reserved domains, [FD-12339] Case insensitive reserved domain validation (#2370)
  app/models/account/constants.rb
  app/models/account/validations.rb
Owners: none

FD-12071 Deleting a custom status activity fix (#2349)
  api/app/controllers/decorators/tickets/activity_decorator.rb
  test/api/helpers/ticket_activities_test_helper.rb
Owners: none

FD-4249 - Hnp undo send (#1760)
  api/app/controllers/api_agents_controller.rb
  api/app/controllers/constants/agent_constants.rb
  api/app/controllers/constants/conversation_constants.rb
  api/app/controllers/constants/error_constants.rb
  api/app/controllers/ember/conversations_controller.rb
  api/app/delegators/conversation_base_delegator.rb
  api/lib/error_messages.yml
  app/controllers/users_controller.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/helpdesk/note.rb
  app/models/user.rb
  app/views/profiles/_freshid_edit.html.erb
  app/views/profiles/edit.html.erb
  app/workers/tickets/undo_send_worker.rb
  config/api_privileges.rb
  config/api_routes.rb
  config/locales/en.yml
  config/routes.rb
  config/sidekiq.yml
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  lib/helpdesk/initializers/sidekiq.rb
  lib/helpdesk/services/note.rb
  lib/redis/redis_keys.rb
  lib/redis/undo_send_redis.rb
  lib/users/preferences.rb
  public/src/page/_agent_profile.scss
  spec/support/user_helper.rb
  swagger/definitions/index.yaml
  swagger/definitions/request/conversations/post_reply_template_input.yaml
  swagger/definitions/request/conversations/undo_send.yaml
  swagger/paths/agents/disable_undo_send.yaml
  swagger/paths/agents/enable_undo_send.yaml
  swagger/paths/conversations/reply_template.yaml
  swagger/paths/conversations/undo_send.yaml
  swagger/paths/index.yaml
  swagger/swagger.json
  test/api/functional/conversations_controller_test.rb
  test/api/functional/ember/conversations_controller_test.rb
Owners: @shankar-ganesh, @akshayasrikanth, @venkatesanmurali, @hrishikesh-p, @thanashyam, @abinaya21, @ksashikumar

FD-4249 : HNP undo send helpkit (#2244)
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/profiles/_freshid_edit.html.erb
  app/views/profiles/edit.html.erb
  config/locales/en.yml
  config/routes.rb
  public/src/page/_agent_profile.scss
Owners: @akshayasrikanth

[FD-3493] Handling incoming images for twitter (#2228)
  app/views/helpdesk/tickets/show/_scriptvars.html.erb
  lib/sanitize/config/image_relaxed.rb
  lib/social/constants.rb
  lib/social/gnip/twitter_feed.rb
  lib/social/twitter/feed.rb
  lib/social/twitter/ticket_actions.rb
  lib/social/util.rb
  public/javascripts/tickets/templates/attachment-viewer.jst.ejs
  public/src/app/app-common.scss
  test/api/shoryuken/twitter_tweet_to_ticket_test.rb
  test/core/helpers/twitter_test_helper.rb
  test/test_transactions_fixtures_helper.rb
Owners: @thanashyam, @hrishikesh-p

FD-12309 Performance issue in satisfaction rating for given user public api (#2369)
  api/app/controllers/validations/satisfaction_rating_filter_validation.rb
Owners: none

FD-23 Sandbox bug fixes (#2325)
  config/sandbox.yml
  lib/freshdesk_core/model.rb
  lib/helpdesk/accessible/elastic_search_methods.rb
  lib/helpdesk/accessible_elements.rb
  lib/search/elastic_search_index.rb
  lib/sync/constants.rb
  lib/sync/data_to_file/save_files.rb
  lib/sync/data_to_file/transformer.rb
  lib/sync/file_to_data/transformer.rb
  lib/sync/transformer/inline_attachment.rb
  lib/sync/transformer/va_rule.rb
  script/Jenkinsfile
  script/MultijobJenkinsfile
  test/api/sidekiq/sandbox/delete_sandbox_test.rb
  test/api/sidekiq/sandbox/diff_helper.rb
  test/api/sidekiq/sandbox/diff_sandbox_test.rb
  test/api/sidekiq/sandbox/merge_helper.rb
  test/api/sidekiq/sandbox/merge_worker_sandbox_test.rb
  test/api/sidekiq/sandbox/provision_sandbox_test.rb
  test/api/sidekiq/sandbox/provision_sandbox_test_helper.rb
  test/api/suites/sandbox_test_suite.rb
Owners: none

FD-12442 change the shard to all (#2385)
  db/migrate/20180621075018_update_shopify_config.rb
Owners: @venkatesanmurali, @arvindr, @thanashyam

[FD-11394]Threading logic when agents reply from mailbox while removing the requestor email id.
  lib/email_helper.rb
Owners: none

FD-12445 App configurations(iParams) are not getting updated (#2388)
  app/controllers/admin/marketplace/installed_extensions_controller.rb
Owners: none

[FD-11394]Threading logic when agents reply from mailbox while removing the requestor email id.
  lib/email_helper.rb
Owners: none

TH-1596: Login to Freshconnect : Third pane not loading with freshdesk details (#2391)
  api/app/controllers/api_application_controller.rb
Owners: none

FD-12135 SSO login hash expiry - Token verification (#2353)
  app/controllers/user_sessions_controller.rb
  config/locales/en.yml
Owners: @akshayasrikanth

TH-1596: Login to Freshconnect : Third pane not loading with freshdesk details (#2391)
  api/app/controllers/api_application_controller.rb
Owners: none

FD-11538, Adding outlook app rake task in the allowed list config to enable automation test suite to execte the task during execution (#2337)
  config/run_rake_task.yml
Owners: none

FD-11538, backend changes to support microsoft outlook app in mint ui (#2284)
  lib/integrations/constants.rb
Owners: none

FD-11543 Don't show warning if util method is private (#2335)
  .config.reek
Owners: none

Export mail fix FD-7238
  app/views/scheduled_task_mailer/email_scheduled_report.html.erb
  app/views/scheduled_task_mailer/email_scheduled_report.plain.erb
Owners: none

[FD-12534]: Fixing freshcaller account delete worker queuing issue (#2009)
  config/sidekiq_classification.yml
Owners: @venkatesanmurali, @hrishikesh-p

export mail fix FD-7238
  app/views/scheduled_task_mailer/email_scheduled_report.html.erb
  app/views/scheduled_task_mailer/email_scheduled_report.plain.erb
Owners: none
