Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

FD-13568 tms allow empty migration (#2530)
  app/models/social/tweet.rb
  lib/conversations/twitter.rb
Owners: none

FD-13568 tms allow empty migration (#2531)
  app/models/social/tweet.rb
  lib/conversations/twitter.rb
Owners: none

FD-13568 tms allow empty migration (#2530)
  app/models/social/tweet.rb
  lib/conversations/twitter.rb
Owners: none

FD-13568 tms allow empty migration (#2531)
  app/models/social/tweet.rb
  lib/conversations/twitter.rb
Owners: none

[FD-13439] Tickets is not getting reopen while customer replying for twitter ticket (#2509)
  lib/social/gnip/twitter_feed.rb
Owners: none

FD-13568 tms allow empty migration (#2530)
  app/models/social/tweet.rb
  lib/conversations/twitter.rb
Owners: none

[FD-4800 ]Line length Exceeded Error common fix for all emails
  vendor/gems/delayed_job/lib/delayed/job.rb
Owners: none

FD-10983: Contact import bug fix (#2329)
  lib/import/customers/contact.rb
Owners: none

FD-10983: Contact import bug fix (#2328)
  lib/import/customers/contact.rb
Owners: none

Added Label distribution
  script/Jenkinsfile
Owners: none

Label Distribution
  script/Jenkinsfile
Owners: none

[FD-4800 ]Line length Exceeded Error common fix for all emails
  vendor/gems/delayed_job/lib/delayed/job.rb
Owners: none

FD-13414 Automations contacts & companies condition filters fix (#2504)
  app/controllers/admin/va_rules_controller.rb
Owners: none

[FD-13321] Remove credential infos from Email_controller/validate_domain and email_controller/account_details API logs
  app/controllers/email_controller.rb
  app/controllers/email_service_controller.rb
  lib/email_helper.rb
Owners: none

FD-9695 load ticket list page with tickets without requester (#2320)
  api/app/controllers/decorators/ticket_decorator.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/tickets_controller_test.rb
Owners: none

FD-11543 Don't show warning if util method is private (#2265)
  .config.reek
Owners: none

[FD-13575] Display note failure message on both UI (#2537)
  app/models/helpdesk/note.rb
  app/models/helpdesk/schema_less_note.rb
  app/views/helpdesk/tickets/show/_note.html.erb
  public/src/page/tkt_details/_tkt_details.scss
Owners: none

Label Distribution
  script/Jenkinsfile
Owners: none

FD-12162 Count cluster ES writes to search service migration (#2402)
  app/models/account/callbacks.rb
  app/models/account/features.rb
  app/models/helpdesk/tag.rb
  app/models/helpdesk/ticket/count_es_methods.rb
  app/workers/account_cleanup/delete_spam_tickets_cleanup.rb
  app/workers/archive/core/base.rb
  app/workers/ryuken/count_performer.rb
  app/workers/tickets/update_company_id.rb
  app/workers/update_all_publisher.rb
  lib/rabbit_mq/subscribers/subscriptions/count.rb
  lib/rabbit_mq/subscribers/tickets/count.rb
  lib/rabbit_mq/utils.rb
  lib/redis/redis_keys.rb
  lib/search/dashboard/count.rb
  lib/search_service/client.rb
Owners: @sram2020

Revert "[FD-13575] Display note failure message on both UI (#2537)" (#2540)
  app/models/helpdesk/note.rb
  app/models/helpdesk/schema_less_note.rb
  app/views/helpdesk/tickets/show/_note.html.erb
  public/src/page/tkt_details/_tkt_details.scss
Owners: none

FD-12162 Count cluster ES writes to search service migration (#2401)
  app/models/account/callbacks.rb
  app/models/account/features.rb
  app/models/helpdesk/tag.rb
  app/models/helpdesk/ticket/count_es_methods.rb
  app/workers/account_cleanup/delete_spam_tickets_cleanup.rb
  app/workers/archive/core/base.rb
  app/workers/ryuken/count_performer.rb
  app/workers/tickets/update_company_id.rb
  app/workers/update_all_publisher.rb
  lib/rabbit_mq/subscribers/subscriptions/count.rb
  lib/rabbit_mq/subscribers/tickets/count.rb
  lib/rabbit_mq/utils.rb
  lib/redis/redis_keys.rb
  lib/search/dashboard/count.rb
  lib/search_service/client.rb
Owners: @sram2020

FD-12405 Avoiding unnecessary queries in groups and agent controller (#2384)
  api/app/controllers/decorators/group_decorator.rb
  api/app/controllers/ember/groups_controller.rb
Owners: none

[FD-12512] Favicon code refactor (#2468)
  app/helpers/application_helper.rb
  app/helpers/support_helper.rb
  app/views/admin/portal/_form.html.erb
  lib/cache/memcache/portal.rb
Owners: none

[FD-12813]-Schedule export in reports is still in left in hebrew language
  public/src/page/reports.scss
Owners: none

[FD-12807]-alignment issue and special character issue in schedule reports in hebrew
  public/src/falcon/falcon-rtl.scss
  public/src/page/helpdesk_reports.scss
Owners: none

[FD-12512] Includes favicon in portal hash (#2455)
  api/app/controllers/decorators/portal_decorator.rb
  app/helpers/application_helper.rb
  app/helpers/support_helper.rb
  lib/cache/memcache/portal.rb
  swagger/definitions/resource/portal.yaml
  swagger/definitions/response/bootstrap/account.yaml
  swagger/swagger.json
  test/api/functional/ember/bootstrap_controller_test.rb
  test/api/helpers/portals_customisation_test_helper.rb
  test/api/helpers/portals_test_helper.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[FD-3469] Adding account Id to logs
  app/helpers/support_helper.rb
Owners: none

FD-8192 perf change, use db instead of memcache for pk query (#2535)
  api/app/delegators/ticket_delegator.rb
Owners: none

[FRESHCALL-2894] Migration fixes (#2544)
  api/app/controllers/channel/freshcaller/migration_controller.rb
  api/app/views/channel/freshcaller/migration/validate.json.api
  lib/freshcaller/account_migration.rb
  lib/freshcaller/migration.rb
  lib/freshcaller/rule_migration.rb
Owners: none

[FD-12875]-Satisfaction survey report - Save as misalignement
  public/src/falcon/falcon-rtl.scss
  public/src/page/_ticket-list.scss
Owners: none

FD-12998 Creating an Org when creating an account with FreshID (#2447)
  Gemfile
  app/models/account.rb
  app/models/account/callbacks.rb
  app/models/signup.rb
  app/models/user.rb
  app/models/user/callbacks.rb
  app/workers/freshid/agents_migration.rb
  config/locales/en.yml
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth

Freshid org falcon (#2541)
  Gemfile
  app/models/account.rb
  app/models/account/callbacks.rb
  app/models/signup.rb
  app/models/user.rb
  app/models/user/callbacks.rb
  app/workers/freshid/agents_migration.rb
  config/locales/en.yml
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth

Updated version
  script/Jenkinsfile
Owners: none

fix
  script/Jenkinsfile
Owners: none

fix1
  script/Jenkinsfile
Owners: none

fix2
  script/Jenkinsfile
Owners: none

[FD-6564] Fix Newrelic exception - check csrf token (#1742)
  app/controllers/sso_controller.rb
  config/locales/en.yml
Owners: @akshayasrikanth

fix3
  script/Jenkinsfile
Owners: none

FD-11398 Added association_type and tags to ticket index and filter a… (#2465)
  api/app/controllers/constants/api_search_constants.rb
  api/app/controllers/tickets_controller.rb
  api/app/views/api_search/tickets/index.json.api
  api/app/views/tickets/index.json.api
  test/api/helpers/tickets_test_helper.rb
Owners: none

fix4
  script/Jenkinsfile
Owners: none
