Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @thanashyam, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @prakash-chokalingam, @shankar-ganesh, @akshayasrikanth, @paschalraj, @hrishikesh-p

[Iteration Bug] FD-45835 : Roles API accessible with Manage Users Ability (#7758)
  config/api_privileges.rb
  test/api/functional/api_roles_controller_test.rb
  test/api/functional/ember/roles_controller_test.rb
Owners: none

[FD-47077] Script for ‘domain’ column addition in freshchat_accounts table (#7838)
  db/migrate/20200304090540_add_domain_to_freshchat_accounts.rb
  db/schema.rb
Owners: @venkatesanmurali, @thanashyam

[Technical Story] FD-47698 - Adding feature checks & avoiding calls to ticket fields cache. (#7906)
  api/app/controllers/ember/tickets_controller.rb
Owners: none

[User Story] FD-44551: User Central publisher - Included user companies (#7807)
  app/models/user/presenter.rb
  app/models/user_company.rb
  lib/central_constants.rb
  test/api/functional/admin/subscriptions_controller_test.rb
  test/models/helpers/users_test_helper.rb
  test/models/presenters/helpdesk/contact_test.rb
  test/models/presenters/user_test.rb
Owners: none

[User Story] FD-46238 enforce mandatory in companies api (#7773)
  api/app/controllers/api_companies_controller.rb
  api/app/controllers/validations/api_company_validation.rb
  swagger/parameters/index.yaml
  swagger/paths/companies/crud.yaml
  swagger/paths/companies/list_and_create.yaml
  swagger/paths/contacts/list_and_create.yaml
  swagger/swagger.json
  test/api/functional/api_companies_controller_test.rb
  test/api/functional/ember/companies_controller_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[Bug] [FD-45435]: newline to break tag in description (#7912)
  api/app/controllers/widget/tickets_controller.rb
  test/api/functional/widget/tickets_controller_test.rb
Owners: none

FD-47821 Reverting kb_increased_file_limit for old UI solution page rendering issue fix (#7933)
  api/app/controllers/decorators/account_decorator.rb
  api/app/controllers/decorators/solutions/article_decorator.rb
  api/app/delegators/api_solutions/article_delegator.rb
  app/helpers/solution_helper.rb
  app/models/account/features.rb
  config/features/features.yml
  lib/cloud_files_helper.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
  test/api/helpers/solutions_test_helper.rb
Owners: none

FD-47821 Reverting kb_increased_file_limit for old UI solution page rendering issue fix (#7933)
  api/app/controllers/decorators/account_decorator.rb
  api/app/controllers/decorators/solutions/article_decorator.rb
  api/app/delegators/api_solutions/article_delegator.rb
  app/helpers/solution_helper.rb
  app/models/account/features.rb
  config/features/features.yml
  lib/cloud_files_helper.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
  test/api/helpers/solutions_test_helper.rb
Owners: none

hotfix for adding keys in other regions (#7938)
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
Owners: none

hotfix for adding keys in other regions (#7937)
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
Owners: none

[Bug] [FD-44995] Fix for Service location is not getting populated du… (#7908)
  api/app/controllers/decorators/ticket_decorator.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/helpers/search_test_helper.rb
  test/api/helpers/tickets_test_helper.rb
Owners: none

FD-47807 Clear status choice cache on ticket_field after_commit (#7935)
  lib/cache/memcache/admin/ticket_field.rb
Owners: none

[User Story] FD-46173, FD-45359 disable org v2 freshops fp (#7703)
  app/controllers/fdadmin/accounts_controller.rb
  app/models/account_additional_settings.rb
  app/workers/admin/fdadmin_freshid_migration_worker.rb
  config/routes.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  deploy/config/erb/freshid.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  deploy/config/sidekiq_config.rb
  lib/freshid/fdadmin/freshdesk_to_freshid_migration.rb
  lib/freshid/fdadmin/migration_helper.rb
  lib/freshid/fdadmin/validate_v1.rb
  lib/helpdesk/initializers/load_config.rb
  lib/redis/keys/others.rb
Owners: none

[Technical Story] FD-47107 : Adding Order By to Agents Sort API (#7842)
  api/app/controllers/api_agents_controller.rb
  api/app/controllers/constants/agent_constants.rb
  api/app/controllers/decorators/agent_decorator.rb
  api/app/controllers/validations/agent_filter_validation.rb
  api/app/views/api_agents/create.json.api
  api/app/views/api_agents/index.json.api
  api/app/views/api_agents/show.json.api
  api/app/views/api_agents/update.json.api
  swagger/definitions/resource/agent.yaml
  swagger/paths/agents/list_and_create.yaml
  swagger/swagger.json
  test/api/functional/api_agents_controller_test.rb
  test/api/functional/api_profiles_controller_test.rb
  test/api/helpers/agents_test_helper.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[Bug] FD-45841: API Agents Update with Manage Users ability (#7759)
  api/app/controllers/api_agents_controller.rb
  config/api_privileges.rb
  test/api/functional/api_agents_controller_test.rb
  test/api/functional/ember/agents_controller_test.rb
Owners: none

[Bug] [FD-47884] FrehId v2 fix for Marketplace Gallery (#7939)
  app/controllers/admin/marketplace/apps_controller.rb
Owners: none

[L4 Bug] FD-45488 Date Field in Portal side (#7918)
  public/src/portal/lib/_falcon_multifile-attachments.scss
  public/src/portal/lib/_multifile-attachments.scss
Owners: none

[FD-37519] upgrade prototype js (#7917)
  app/models/account/constants.rb
  app/models/account/features.rb
  app/views/layouts/support.html.erb
  public/javascripts/cdn/portal_head_v2.js
  public/javascripts/prototype-1.7.3.js
Owners: none

[Task] [FD-46563] SonarQube Integration with Freshdesk Backend Repo (#7893)
  script/Jenkinsfile
  sonar-project.properties
  test/api/unit_test_helper.rb
  test/core/helpers/test_files.rb
  test/helpers/simple_cov_setup.rb
  test/lib/helpers/test_files.rb
  test/models/helpers/test_files.rb
Owners: none

[Technical Story] [FD-45244] Authenticating using IAM service JWT for Private API (#7697)
  api/app/controllers/api_application_controller.rb
  config/cert/iam_public.pem
  deploy/before_migrate.rb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  test/api/functional/api_application_controller_test.rb
  test/api/helpers/jwt_test_helper.rb
Owners: none

[Technical Story] [FD-45133] twitter LP cleanup phase 1 (#7907)
  api/app/controllers/validations/twitter_reply_validation.rb
  api/lib/error_messages.yml
  app/controllers/admin/social/twitter_streams_controller.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/social/twitter_handle/presenter.rb
  app/models/social/twitter_stream/presenter.rb
  app/views/admin/social/twitter_streams/_helpnote.html.erb
  app/views/admin/social/twitter_streams/edit.html.erb
  app/workers/social/smart_filter_feedback_worker.rb
  lib/helpdesk/initializers/sidekiq.rb
  lib/redis/keys/others.rb
  lib/social/gnip/util.rb
  lib/tasks/scheduler.rake
  test/api/functional/ember/conversations_controller_test.rb
  test/api/unit/twitter_reply_validation_test.rb
  test/app/controllers/admin/social/twitter_streams_controller_test.rb
  test/models/presenters/helpdesk/ticket_test.rb
Owners: @shankar-ganesh, @akshayasrikanth

[L4 Bug] FD-44841 FD-46715 Increase Date-range for date picker + Add translation to Mandatory field errors (#7921)
  public/javascripts/portal/portal.js
  public/javascripts/portal/portal_custom_validators.js
Owners: none

[Technical Story] [FD-47587] RTS payload structure change (#7896)
  api/app/controllers/ember/rts_controller.rb
  test/api/functional/ember/rts_controller_test.rb
Owners: none

FD-46563 Fix to SonarQube analysis failed (#7954)
  script/Jenkinsfile
Owners: none

FD-46563 Fix to SonarQube analysis to update the status as unstable (#7956)
  script/Jenkinsfile
Owners: none

FD-46563 Removing Sandbox test from Test Run (#7960)
  script/Jenkinsfile
Owners: none

[Task] FD-46563: Commenting out Sandbox Test Cases in Jenkinsfile (#7962)
  script/Jenkinsfile
Owners: none

[Technical Story] [FD-47800]: Supress Shoryuken SQL logs (#7930)
  lib/helpdesk/initializers/shoryuken.rb
  lib/middleware/shoryuken/server/supress_sql_logs.rb
Owners: none

[Security Bug] FD-47377 Hsts includesubdomain (#7955)
  vendor/gems/ssl_requirement/lib/ssl_requirement.rb
Owners: none

[Technical Story] FD-44863: Finder all changes phase 1 (#7502)
  api/app/controllers/concerns/custom_dashboard_concern.rb
  api/lib/query_hash.rb
  app/controllers/admin/business_calendars_controller.rb
  app/controllers/admin/gamification_controller.rb
  test/api/functional/admin/subscriptions_controller_test.rb
Owners: none

[Task] FD-46563 Increasing Time to Start Public Test process (#7972)
  script/Jenkinsfile
Owners: none

[User Story] FD-44130 : Create 2020 addons (#7760)
  api/app/controllers/constants/subscription_constants.rb
  app/controllers/subscriptions_controller.rb
  app/models/subscription.rb
  app/models/subscription/addon.rb
  config/addons.yml
  db/migrate/20200225060959_add_addons_for_plan_change2020.rb
  lib/billing/billing_helper.rb
Owners: @venkatesanmurali, @thanashyam

[User Story] FD-46089 admin security page (#7804)
  app/views/admin/security/index.html.erb
  config/locales/en.yml
  config/locales/mint_translations/en.yml
  public/src/app/app-common.scss
Owners: @prakash-chokalingam, @rajasegar-c

FIQ-194 - Adding launch party feature for bot banner (#7974)
  app/models/account/features.rb
Owners: none

[Technical Story] [FD-47593] - latest shard from redis in random (#7892)
  config/helpdesk_initializers.yml
  deploy/config/settings-production-us-east-1.ejson
  lib/helpdesk/initializers/extend_for_shard_mapping.rb
  lib/redis/keys/others.rb
  vendor/gems/sharding/lib/models/shard_mapping.rb
Owners: none

[User Story] FD-45061 allow search in portal using forum or category (#7741)
  app/controllers/support/search_v2/spotlight_controller.rb
  test/app/controllers/support/search_v2/spotlight_controller_test.rb
Owners: none

[Bug] [FD-38060] - update-public-api-with-no-status (#7916)
  api/app/controllers/api_solutions/articles_controller.rb
  test/api/helpers/solutions_articles_common_tests.rb
Owners: none

[User Story] FD-45337 Increasing attachment size limit in KB (#7942)
  api/app/controllers/decorators/account_decorator.rb
  api/app/controllers/decorators/solutions/article_decorator.rb
  api/app/delegators/api_solutions/article_delegator.rb
  app/helpers/solution_helper.rb
  app/models/account/features.rb
  config/features/features.yml
  lib/cloud_files_helper.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
  test/api/helpers/solutions_test_helper.rb
Owners: none

[Bug] [FD-48066]RTS send payload in milliseconds (#7966)
  api/app/controllers/ember/rts_controller.rb
  test/api/functional/ember/rts_controller_test.rb
Owners: none

[User Story] [FD-47930]: Return other emails in contacts search response (#7957)
  api/app/controllers/constants/api_search_constants.rb
  api/app/views/api_search/contacts/index.json.api
  test/api/functional/api_search/contacts_controller_test.rb
  test/api/helpers/users_test_helper.rb
Owners: none

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @thanashyam
db/migrate/*.rb @venkatesanmurali @thanashyam

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @prakash-chokalingam @rajasegar-c
api/lib/error_messages.yml @shankar-ganesh @akshayasrikanth

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p
