Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @abinaya21, @ksashikumar, @sram2020, @rajasegar-c, @parsurv, @vishnubalajikm

[FRESHCALL-750] Number purchase issues
  app/controllers/admin/freshfone/numbers_controller.rb
  app/models/freshfone/address.rb
  config/locales/en.yml
  public/javascripts/freshfone.js
  public/src/freshfone/admin.scss
Owners: none

FDCORE-4854: Ticket filtered search (#433)
  api/app/controllers/decorators/ticket_decorator.rb
Owners: none

FRESHCALL-748
  public/javascripts/freshfone/dialpad_events.js
Owners: none

[FRESHCALL-741] - Code review changes
  app/workers/freshfone/realtime_notifier.rb
  lib/freshfone/conference/branches/round_robin_handler.rb
Owners: none

Correcting regex to match 0-9 . + - ( ) only
  public/javascripts/freshfone/dialpad_events.js
Owners: none

[FRESHCALL-758] Fix - HK | Admin gets mail from both helpdesk & phone while onboarding
  app/controllers/admin/onboarding_controller.rb
Owners: none

[FRESHCALL-741] - Long waiting time issue
  app/workers/freshfone/realtime_notifier.rb
  lib/freshfone/conference/branches/round_robin_handler.rb
Owners: none

[FRESHCALL-750] Number purchase issues
  app/controllers/admin/freshfone/numbers_controller.rb
  app/models/freshfone/address.rb
  config/locales/en.yml
  public/javascripts/freshfone.js
  public/src/freshfone/admin.scss
Owners: none

FDCORE-4809 - Fixing failing test cases
  test/api/helpers/users_test_helper.rb
Owners: none

Change falcon switch string
  app/views/layouts/shared/_header.html.erb
  config/locales/en.yml
  public/src/app/lib/_layout.scss
Owners: none

FDCORE-: FDCORE-4539 Private api throttler squash
  lib/helpdesk/initializers/api_initializer.rb
  lib/middleware/fd_api_throttler.rb
  lib/middleware/private_api_throttler.rb
  lib/redis/redis_keys.rb
  test/api/integration/flows/private_api_flows_test.rb
  test/api/suites/falcon_test_suite.rb
  test/api/unit/private_api_throttler_test.rb
Owners: none

FDCORE-5160 - Enable search of tickets which are internally assigned for restricted agent (#425)
  api/app/controllers/ember/search/tickets_controller.rb
Owners: none

FDCORE-4991 Unassigned row should not be shown in agent view for restricted access
  api/app/controllers/concerns/dashboard_concern.rb
  test/api/helpers/dashboard_test_helper.rb
Owners: none

[REPORTS-230] Reports priority url
  app/controllers/reports/v2/tickets/reports_controller.rb
  config/helpdesk_reports/reports_app.yml
  lib/dashboard/redshift_requester.rb
  lib/helpdesk_reports/helper/plan_constraints.rb
  lib/helpdesk_reports/helper/ticket.rb
  lib/reports/construct_report.rb
Owners: none

Falcon squad 17 07 bug fixes (#445)
  api/app/controllers/ember/conversations_controller.rb
  api/app/views/ember/conversations/template.json.api
  spec/support/note_helper.rb
  swagger/definitions/index.yaml
  swagger/definitions/resource/conversation_forward_template.yaml
  swagger/definitions/resource/conversation_template.yaml
  swagger/paths/conversations/forward_template.yaml
  swagger/paths/conversations/latest_note_forward_template.yaml
  swagger/paths/conversations/note_forward_template.yaml
  swagger/swagger.json
  test/api/functional/ember/conversations_controller_test.rb
  test/api/helpers/conversations_test_helper.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

Change falcon switch string
  app/views/layouts/shared/_header.html.erb
  config/locales/en.yml
  public/src/app/lib/_layout.scss
Owners: none

FDCORE-503, FDCORE-5264 Symlink product_feedback
  deploy/before_migrate.rb
Owners: none

velocity moved to framewokr
  public/javascripts/cdn/app/helpdeskreports.js
  public/javascripts/cdn/frameworks.js
  public/javascripts/cdn/reports.js
Owners: none

Run query on master for collab_feature
  app/controllers/fdadmin/accounts_controller.rb
Owners: none

Report-14 Table Creation Script
  db/schema.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr

FDCORE-4609 - Add twitter and facebook tests for traffic cop (#383)
  test/api/functional/ember/conversations_controller_test.rb
Owners: none

FDCORE-: Running on slave fix on contacts list page
  api/app/controllers/ember/contacts_controller.rb
Owners: none

API test failures fixed (#450)
  test/api/functional/ember/agents_controller_test.rb
  test/api/functional/ember/dashboard/activities_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/helpers/agents_test_helper.rb
Owners: none

Domain Blocking @ HAProxy Level
  app/controllers/fdadmin/account_tools_controller.rb
  config/routes.rb
  lib/redis/redis_keys.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

Revert "Domain Blocking @ HAProxy Level"
  app/controllers/fdadmin/account_tools_controller.rb
  config/routes.rb
  lib/redis/redis_keys.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

FDCORE-4976 commenting out newrelic
  lib/rabbit_mq/utils.rb
Owners: @sram2020

[FDCORE-5331] Fix one hop issues
  app/controllers/helpdesk/inline_attachments_controller.rb
  app/models/helpdesk/attachment.rb
Owners: none

excluding the kills
  lib/tasks/long_running_queries.rake
Owners: none

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @hrishikesh-p @arvindr
db/migrate/*.rb @venkatesanmurali @hrishikesh-p @arvindr

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p
config/*routes.rb @thanashyam @venkatesanmurali @abinaya21 @ksashikumar
lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
