Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @thanashyam, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @prakash-chokalingam, @shankar-ganesh, @akshayasrikanth, @paschalraj, @hrishikesh-p

FD-50948 base price fix for omni plans (#8346)
  app/helpers/subscriptions_helper.rb
  app/models/subscription_plan.rb
  config/locales/mint_translations/en.yml
  public/src/page/admin/_billing.scss
Owners: none

FD-50948 base price fix for omni plans (#8346)
  app/helpers/subscriptions_helper.rb
  app/models/subscription_plan.rb
  config/locales/mint_translations/en.yml
  public/src/page/admin/_billing.scss
Owners: none

[User Story] FD-46092 Freshdesk Aloha signup (#8333)
  Gemfile
  Gemfile.lock
  app/controllers/accounts_controller.rb
  app/models/account_additional_settings.rb
  app/models/signup.rb
  app/models/user/freshid_methods.rb
  config/application.rb
  lib/account_constants.rb
  lib/helpdesk/initializers/freshid.rb
Owners: none

FD-46097 Freshdesk Aloha callback APIs
  Gemfile
  Gemfile.lock
  app/controllers/aloha/signup_controller.rb
  config/aloha_config.yml
  config/routes.rb
  deploy/config/erb/aloha_config.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/aloha/constants.rb
  lib/aloha/util.rb
  lib/aloha/validations.rb
  test/core/functional/aloha/signup_controller_test.rb
  test/core/helpers/aloha_signup_test_helper.rb
Owners: none

FD-46092 Freshdesk ALoha signup
  Gemfile
  Gemfile.lock
  app/controllers/accounts_controller.rb
  app/models/account_additional_settings.rb
  app/models/signup.rb
  app/models/user/freshid_methods.rb
  config/application.rb
  lib/account_constants.rb
  lib/helpdesk/initializers/freshid.rb
Owners: none

Fix for subscription page fsm price difference (#8361)
  app/models/subscription.rb
Owners: none

Merging FD-51048 - PR-8361
  app/models/subscription.rb
Owners: none

change in proxysql username (#8364)
  deploy/config/settings-staging-us-east-1.ejson
Owners: none

change in proxysql username (#8364)
  deploy/config/settings-staging-us-east-1.ejson
Owners: none

[FD-45186] changing article meta properties updated draft update column (#8255)
  app/models/solution/draft.rb
Owners: none

[Bug] FD-50845, skip account state checking filter for index_html action. (#8330)
  app/controllers/home_controller.rb
  test/api/functional/ember/attachments_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/integration/flows/private_api_flows_test.rb
Owners: none

[User Story] FD-46929 - Add selectable feature for using twilight api (#8059)
  app/models/account/constants.rb
  config/features/features.yml
Owners: none

[Bug] FD-51075 Plan features list fix (#8373)
  app/helpers/subscriptions_helper.rb
  app/views/subscriptions/_select_new_plans.html.erb
  config/feature_description_keys.yml
  config/features/plan_features.yml
  config/locales/mint_translations/en.yml
  lib/freshcaller/agent_util.rb
  lib/freshchat/agent_util.rb
  public/src/page/admin/_billing.scss
Owners: none

[Bug] FD-51075 Plan features list fix (#8373)
  app/helpers/subscriptions_helper.rb
  app/views/subscriptions/_select_new_plans.html.erb
  config/feature_description_keys.yml
  config/features/plan_features.yml
  config/locales/mint_translations/en.yml
  lib/freshcaller/agent_util.rb
  lib/freshchat/agent_util.rb
  public/src/page/admin/_billing.scss
Owners: none

Revert "FD-37502 - Valid HTML tags <area> and <map> getting stripped during t… (#6598)" (#8369)
  lib/sanitize/config/html_relaxed.rb
  lib/sanitize/config/image_relaxed.rb
  test/api/unit/html_sanitizer_test.rb
Owners: @thanashyam, @hrishikesh-p

Revert "FD-37502 - Valid HTML tags <area> and <map> getting stripped during t… (#6598)" (#8369)
  lib/sanitize/config/html_relaxed.rb
  lib/sanitize/config/image_relaxed.rb
  test/api/unit/html_sanitizer_test.rb
Owners: @thanashyam, @hrishikesh-p

FD-49674 trim ebay replies (#8301)
  lib/ecommerce/ebay/processor.rb
Owners: none

[Technical Story] [FD-49435] Summary changes for service task automations (#8257)
  api/app/controllers/constants/admin/automation_constants.rb
  app/models/va_rule.rb
  config/locales/mint_translations/en.yml
  lib/admin/automation/automation_summary.rb
  test/api/functional/admin/automations_controller_test.rb
  test/api/helpers/automations_test_helper.rb
Owners: none

FD-50848 : Change Freshchat Config (#8326)
  deploy/config/settings-production-ap-south-1.ejson
Owners: none

[Technical Story] FD-49964 Add asset feature to helpkit and support enabling it in advanced ticket API (#8306)
  api/app/controllers/constants/advanced_ticketing_constants.rb
  app/models/account/constants.rb
  config/features/features.yml
  test/api/functional/ember/admin/advanced_ticketing_controller_test.rb
  test/api/helpers/advanced_ticketing_test_helper.rb
Owners: none

[L4 Bug] FD-31746-Avatar not reflecting immediately when changing from default (#8067)
  app/views/layouts/shared/_head.html.erb
  app/views/support/profiles/_form.html.erb
  public/javascripts/profile_avatar.js
  public/src/portal/lib/_falcon_profile.scss
  public/src/portal/lib/_profile.scss
Owners: none

FD-50153 Add ticket_type, source hash info in central ticket destroy payload (#8305)
  app/models/helpdesk/ticket/presenter.rb
  test/models/helpers/tickets_test_helper.rb
Owners: none

[Iteration Bug] [FD-50825]Shopify_order_url_bug_fix (#8362)
  lib/integration_services/services/shopify/shopify_order_resource.rb
  test/lib/helpers/shopify_helper.rb
  test/lib/integration_services/services/shopify_order_resource_test.rb
Owners: none

FD-50875 handle twitter ticket note creation exception (#8339)
  lib/channel_integrations/commands/services/twitter.rb
Owners: none

[Bug] [FD-50890] Caller widget loading fix (#8370)
  app/controllers/aloha/signup_controller.rb
  test/core/functional/aloha/signup_controller_test.rb
  test/core/helpers/aloha_signup_test_helper.rb
Owners: none

[Security Bug] [FD-50482] bumping the momentjs version to latest 2.24.0 (#8303)
  app/models/account/constants.rb
  app/models/account/features.rb
  app/views/layouts/support.html.erb
  public/javascripts/cdn/portal_bottom_v2.js
  public/javascripts/moment-2.24.0.js
Owners: none

[User Story] [FD-48466] CRUD Solution Templates (#8071)
  api/app/controllers/constants/ember/solutions/template_constants.rb
  api/app/controllers/constants/feature_constants.rb
  api/app/controllers/decorators/solutions/template_decorator.rb
  api/app/controllers/ember/solutions/templates_controller.rb
  api/app/controllers/validations/ember/solution_template_validation.rb
  api/app/delegators/ember/solutions/template_delegator.rb
  api/app/views/ember/solutions/templates/create.json.api
  api/app/views/ember/solutions/templates/default.json.api
  api/app/views/ember/solutions/templates/index.json.api
  api/app/views/ember/solutions/templates/show.json.api
  api/app/views/ember/solutions/templates/update.json.api
  app/helpers/admin/roles_helper.rb
  app/models/account/associations.rb
  app/models/account/features.rb
  app/models/solution/template.rb
  config/api_privileges.rb
  config/api_routes.rb
  config/features/features.yml
  config/privileges.yml
  db/migrate/20200325172227_create_solution_templates.rb
  db/schema.rb
  lib/helpdesk/roles.rb
  test/api/functional/ember/solutions/templates_controller_test.rb
  test/api/helpers/solutions_templates_test_helper.rb
Owners: @venkatesanmurali, @thanashyam

[L4 Bug] FD-48969-Language wrongly set (ja) when contact signs up via support portal (#8208)
  app/controllers/support/signups_controller.rb
  test/app/controllers/support/signups_controller_test.rb
Owners: none

[Security Bug] FD-50332 Allowing logged-in users to create tickets just on behalf of themselves and not others (#8268)
  app/models/account/constants.rb
  app/views/admin/portal/settings.html.erb
  app/views/support/shared/_requester.html.erb
  config/features/features.yml
  config/locales/mint_translations/en.yml
  lib/helpdesk/ticket_actions.rb
  lib/support_ticket_controller_methods.rb
  public/javascripts/app/admin/portal_settings.js
  public/javascripts/feedback_widget_form.js
  public/javascripts/portal/portal-app-actions.js
  public/src/page/admin/_customer_portal.scss
  test/app/controllers/support/tickets_controller_test.rb
Owners: none

[Security Bug] [FD-50573] Brakeman warning - SQL Injection (#8310)
  lib/cache/memcache/helpdesk/filters/custom_ticket_filter.rb
Owners: none

[Technical Story] [FD-50962] Access changes (#8344)
  app/models/admin/canned_responses/response.rb
  app/models/group.rb
  app/models/helpdesk/access.rb
  app/models/helpdesk/ticket_template.rb
  app/models/scenario_automation.rb
  app/models/user/associations.rb
  app/models/wf/filter.rb
Owners: none

[User Story] FD-50776:Prevent meta note event publish in ticket create action (#8316)
  app/models/helpdesk/ticket/callbacks.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/tickets_controller_test.rb
  test/api/functional/widget/tickets_controller_test.rb
Owners: none

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @thanashyam
db/migrate/*.rb @venkatesanmurali @thanashyam

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @prakash-chokalingam @rajasegar-c
api/lib/error_messages.yml @shankar-ganesh @akshayasrikanth

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p
