Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @arvindr, @thanashyam, @hrishikesh-p, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @akshayasrikanth, @shankar-ganesh, @paschalraj

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @arvindr @thanashyam
db/migrate/*.rb @venkatesanmurali @arvindr @thanashyam

Gemfile @venkatesanmurali @hrishikesh-p @arvindr @thanashyam
Gemfile.lock @venkatesanmurali @hrishikesh-p @arvindr @thanashyam

config/sidekiq*.yml @venkatesanmurali @hrishikesh-p

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @akshayasrikanth
api/lib/error_messages.yml @shankar-ganesh

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

FD-11324 Enabling Custom dashboard for new signup's (#2254)
  app/helpers/subscriptions_helper.rb
  app/models/account/constants.rb
  config/features/plans.yml
  config/locales/en.yml
  lib/saas/account_data_cleanup.rb
  lib/saas/subscription_event_actions.rb
Owners: @akshayasrikanth

FD-11324 Enabling Custom dashboard for new signup's - helpkit (#2255)
  app/helpers/subscriptions_helper.rb
  app/models/account/constants.rb
  config/features/plans.yml
  config/locales/en.yml
  lib/saas/account_data_cleanup.rb
  lib/saas/subscription_event_actions.rb
Owners: @akshayasrikanth

[FD-7515] Prevents recording survey response from email scanner (#2204)
  app/models/account/constants.rb
  app/models/account/features.rb
  app/views/support/custom_surveys/new.html.erb
  public/javascripts/survey/feedback.js
Owners: none

FD-7054 - Slack VA rules are not deleted when the integration is uninstalled (#2219)
  lib/integrations/integration_operations_handler.rb
Owners: none

FD-11520 Add index to survey_handles table (#2270)
  db/migrate/20180703170336_add_index_account_id_survey_id_created_at_to_survey_handles.rb
  db/schema.rb
Owners: @venkatesanmurali, @arvindr, @thanashyam

FD-7544 - mint - Remove launch party check for launched feature :link_tickets (#2123)
  api/app/controllers/helpers/associate_tickets_helper.rb
  api/app/controllers/validations/ticket_validation.rb
  app/controllers/helpdesk/bulk_ticket_actions_controller.rb
  app/controllers/helpdesk/tickets_controller.rb
  app/helpers/helpdesk/tickets_helper.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/helpdesk/ticket/presenter.rb
  app/views/helpdesk/shared/_ticket_toolbar.html.erb
  app/views/helpdesk/shared/expanded/_ticket.html.erb
  app/views/helpdesk/tickets/new.html.erb
  app/views/helpdesk/tickets/show.html.erb
  app/views/helpdesk/tickets/show/_new_conversation.html.erb
  app/views/helpdesk/tickets/show/_sidebar.html.erb
  app/views/helpdesk/tickets/show/_ticket_association.html.erb
  lib/ticket_constants.rb
  spec/controllers/helpdesk/merge_tickets_controller_spec.rb
  spec/controllers/helpdesk/tickets_controller_spec.rb
  spec/support/ticket_helper.rb
  test/core/helpers/tickets_test_helper.rb
  test/models/helpers/tickets_test_helper.rb
Owners: none

FD-7544 Remove launch party check for launched feature :link_tickets
  api/app/controllers/validations/ticket_validation.rb
  app/controllers/helpdesk/bulk_ticket_actions_controller.rb
  app/controllers/helpdesk/tickets_controller.rb
  app/helpers/helpdesk/tickets_helper.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/helpdesk/ticket/presenter.rb
  app/views/helpdesk/shared/_ticket_toolbar.html.erb
  app/views/helpdesk/shared/expanded/_ticket.html.erb
  app/views/helpdesk/tickets/new.html.erb
  app/views/helpdesk/tickets/show.html.erb
  app/views/helpdesk/tickets/show/_new_conversation.html.erb
  app/views/helpdesk/tickets/show/_sidebar.html.erb
  app/views/helpdesk/tickets/show/_ticket_association.html.erb
  lib/ticket_constants.rb
  spec/controllers/helpdesk/merge_tickets_controller_spec.rb
  spec/controllers/helpdesk/tickets_controller_spec.rb
  spec/support/ticket_helper.rb
  test/core/helpers/tickets_test_helper.rb
  test/models/helpers/tickets_test_helper.rb
Owners: none

FD-4755 - Email - Identify virus in attachment before save and added gem to request emailserv
  Gemfile
  app/controllers/helpdesk/attachments_controller.rb
  app/models/helpdesk/attachment.rb
  config/fd_email_service.yml
  config/helpdesk_initializers.yml
  config/locales/en.yml
  lib/helpdesk/initializers/emailserv_request.rb
  public/javascripts/plugins/fileupload/multifileupload.js
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth

FD-11567 Change in error response of email signup. (#2269)
  app/controllers/accounts_controller.rb
  app/models/signup.rb
Owners: none

FD-9577: Agents edit change
  app/views/agents/edit.html.erb
Owners: none

FD-7054 Slack VArules not deleted when uninstalled (#2221)
  lib/integrations/integration_operations_handler.rb
Owners: none

FD-2379 Performance issue - contact show and contact list APIs (old UI), old UI first (#2264)
  app/controllers/contacts_controller.rb
  app/views/contacts/_view_conversations_all.html.erb
  app/views/contacts/_view_conversations_archived_tickets.html.erb
  app/views/contacts/_view_conversations_forums.html.erb
  app/views/contacts/_view_conversations_tickets.html.erb
  app/views/contacts/show.html.erb
  config/privileges.rb
  config/routes.rb
  public/javascripts/app/contact_view.js
Owners: none

[FD-11521] Redirect to dashboard for agent/login and customer/login if already logged in (#2259)
  app/controllers/user_sessions_controller.rb
Owners: none

FD-7811 Fix for broken article links in helpnotes (#1977)
  app/views/accounts/_helpnote.html.erb
  app/views/admin/roles/_helpnote_without_tour.html.erb
  app/views/agents/_helpnote_without_tour.html.erb
  config/locales/en.yml
Owners: @akshayasrikanth

Hotfix agent branding (#2278)
  api/app/controllers/ember/portals_controller.rb
  app/models/portal.rb
Owners: none

Hotfix agent branding (#2278)
  api/app/controllers/ember/portals_controller.rb
  app/models/portal.rb
Owners: none

Hotfix agent branding (#2278)
  api/app/controllers/ember/portals_controller.rb
  app/models/portal.rb
Owners: none

FD-7098 Audit logs - Api to consume data from hypertrail (#1972)
  .rubocop_todo.yml
  api/app/controllers/api_application_controller.rb
  api/app/controllers/audit_logs_controller.rb
  api/app/controllers/constants/api_constants.rb
  api/app/controllers/constants/audit_log_constants.rb
  api/app/controllers/helpers/audit_log/agent_helper.rb
  api/app/controllers/helpers/audit_log/audit_log_helper.rb
  api/app/controllers/helpers/audit_log/automation_helper.rb
  api/app/controllers/helpers/audit_log/subscription_helper.rb
  api/app/controllers/validations/audit_log_validation.rb
  api/app/views/audit_logs/event_name.json.api
  api/app/views/audit_logs/filter.json.api
  api/lib/error_messages.yml
  app/controllers/application_controller.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/user/callbacks.rb
  app/views/accounts/edit.html.erb
  config/api_privileges.rb
  config/api_routes.rb
  config/helpdesk_initializers.yml
  config/hyper_trail.yml
  config/locales/en.yml
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  deploy/before_migrate.rb
  lib/central_constants.rb
  lib/helpdesk/initializers/hyper_trail.rb
  lib/hyper_trail/audit_log.rb
  lib/hyper_trail/base.rb
  lib/redis/redis_keys.rb
  test/api/functional/audit_logs_controller_test.rb
Owners: @shankar-ganesh, @akshayasrikanth, @venkatesanmurali, @hrishikesh-p

FD-7098 Audit logs - Tracking actor ip
  api/app/controllers/api_application_controller.rb
  app/controllers/application_controller.rb
Owners: none

Changing name of the stages (#2277)
  script/MultijobJenkinsfile
Owners: none

FD-11827 Gemfile change
  Gemfile
  Gemfile.lock
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

[FD-11824] Revert [FD-10168] Publish deleted/spammed tickets cleanup to search service (#2078) (#2287)
  lib/rabbit_mq/constants.rb
Owners: @sram2020

[FD-11824] Revert [FD-10168] Publish deleted/spammed tickets cleanup … (#2288)
  lib/rabbit_mq/constants.rb
Owners: @sram2020

[FD-11824] Revert [FD-10168] Publish deleted/spammed tickets cleanup to search service (#2078) (#2287)
  lib/rabbit_mq/constants.rb
Owners: @sram2020

[FD-11824] Revert [FD-10168] Publish deleted/spammed tickets cleanup … (#2288)
  lib/rabbit_mq/constants.rb
Owners: @sram2020

FD-683 Segments helpkit backend (#2294)
  app/helpers/admin/roles_helper.rb
  app/models/account/associations.rb
  app/models/account/features.rb
  app/models/company_field.rb
  app/models/company_field_choice.rb
  app/models/company_filter.rb
  app/models/contact_field.rb
  app/models/contact_field_choice.rb
  app/models/contact_filter.rb
  app/views/shared/_companyheader.html.erb
  app/workers/update_segment_filter.rb
  config/features/features.yml
  config/locales/en.yml
  config/privileges.yml
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  db/migrate/20171101072712_create_contact_filters.rb
  db/migrate/20180109110056_create_company_filters.rb
  db/schema.rb
  lib/freshdesk_core/model.rb
  lib/helpdesk/roles.rb
  lib/redis/redis_keys.rb
  lib/segments/es_filter.rb
  lib/segments/es_query_builder.rb
  lib/segments/es_query_constants.rb
  lib/segments/filter_data_constants.rb
  lib/segments/filter_data_validation.rb
  lib/segments/worker_constants.rb
  public/src/page/_customer.scss
Owners: @akshayasrikanth, @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam

FD-11546 Attachment in draft article cannot be removed (#2230)
  app/controllers/solution/drafts_controller.rb
  app/models/solution/draft.rb
  lib/community_helper.rb
Owners: none

FD-9516 SLA IDOR prevention (#2226)
  app/controllers/helpdesk/sla_policies_controller.rb
Owners: none

Revert "FD-11567 Change in error response of email signup. (#2269)" (#2300)
  app/controllers/accounts_controller.rb
  app/models/signup.rb
Owners: none

Revert "FD-5457 Block signup using temporary emails (#2200)" (#2301)
  Gemfile
  Gemfile.lock
  app/controllers/accounts_controller.rb
  app/models/signup.rb
  config/disposable_email_domains.yml
  config/helpdesk_initializers.yml
  config/locales/en.yml
  lib/domain_generator.rb
  lib/helpdesk/initializers/disposable_email_domains.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth

[FD-11548] Canned form admin preview fix (#2267)
  app/controllers/support/canned_forms_controller.rb
Owners: none

FD-11923 DB performance fix
  lib/helpdesk_reports/export/fields_helper.rb
Owners: none

FD-4544 Issue with code editor in solution articles
  public/javascripts/froala_editor/fd_plugins/code_insert.js
Owners: none

[FD-11927] Out going email jobs threaded with wrong portal info
  lib/helpdesk/email/incoming_email_handler.rb
Owners: none

FD-11432 Channel API - custom number field behaviour change fix (#2291)
  api/app/controllers/channel/tickets_controller.rb
  test/api/functional/channel/tickets_controller_test.rb
Owners: none

FD-4755 - launch party constant added for attachment virus check
  app/models/account/constants.rb
Owners: none

FD-5206 Forum activities page breaks after scrolling down (#2180)
  public/javascripts/app/discussions/discussions.js
Owners: none

FD-11611 - active since fix (#2276)
  app/models/agent.rb
Owners: none

FD-11611 - active since fix (#2318)
  app/models/agent.rb
Owners: none

FD-5457 security - Not to allow disposable emails for signup. (#2304)
  Gemfile
  Gemfile.lock
  app/controllers/accounts_controller.rb
  app/models/signup.rb
  config/disposable_email_domains.yml
  config/helpdesk_initializers.yml
  config/locales/en.yml
  lib/domain_generator.rb
  lib/helpdesk/initializers/disposable_email_domains.rb
Owners: @venkatesanmurali, @hrishikesh-p, @arvindr, @thanashyam, @akshayasrikanth
