Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @thanashyam, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @prakash-chokalingam, @shankar-ganesh, @akshayasrikanth, @paschalraj, @hrishikesh-p

[L4 Bug] FD-47321 Force exact search for Thai in portal (#8173)
  app/controllers/support/search_v2/spotlight_controller.rb
  lib/search_service/logger.rb
  test/app/controllers/support/search_v2/spotlight_controller_test.rb
Owners: none

[User Story] [FD-50790] - Falcon docker asset compilation (#7924)
  deploy/config/dynamic_config_util.rb
  deploy/config/erb/deploy.js.erb
  deploy/config/erb/stack-config.js.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-stagingn1stack-us-east-1.ejson
  deploy/config/test
Owners: none

[Technical Story] FD-48181 Shopify api upgrade (#8111)
  app/models/account/constants.rb
  app/models/account/features.rb
  lib/integration_services/services/shopify/shopify_customer_resource.rb
  lib/integration_services/services/shopify/shopify_generic_resource.rb
  lib/integration_services/services/shopify/shopify_order_resource.rb
  lib/integration_services/services/shopify/shopify_refund_resource.rb
  lib/integration_services/services/shopify/shopify_shop_resource.rb
Owners: none

[Technical Story] FD-47125 freshchat subscription update (#8280)
  app/controllers/billing/billing_controller.rb
  app/controllers/fdadmin/billing_controller.rb
  app/controllers/subscriptions_controller.rb
  app/workers/billing/freshcaller_subscription_update.rb
  app/workers/billing/freshchat_subscription_update.rb
  config/freshchat_subscription_config.yml
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  deploy/config/erb/freshchat_subscription_config.yml.erb
  deploy/config/erb/sidekiq_classification.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  deploy/config/sidekiq_config.rb
  lib/billing/omni_subscription_update_methods.rb
  lib/freshchat/util.rb
  lib/helpdesk/initializers/load_config.rb
  test/api/sidekiq/freshchat_subscription_update_test.rb
Owners: none

[Bug] [FD-49846] added missing i18n text and changes solution dashboard lan… (#8199)
  api/app/controllers/constants/api_dashboard_constants.rb
  config/locales/mint_translations/en.yml
Owners: none

[Technical Story] [FD-43257]: Omni Freshchat Agent Management (#7895)
  api/app/controllers/api_agents_controller.rb
  api/app/controllers/constants/agent_constants.rb
  api/app/controllers/decorators/agent_decorator.rb
  api/app/controllers/validations/agent_validation.rb
  api/app/views/api_agents/create.json.api
  api/app/views/api_agents/index.json.api
  api/app/views/api_agents/show.json.api
  api/app/views/api_agents/update.json.api
  app/controllers/agents_controller.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/agent.rb
  app/observers/agent_observer.rb
  config/freshchat.yml
  deploy/config/erb/freshchat.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/freshchat/agent_util.rb
  lib/freshchat/jwt_authentication.rb
  lib/sync/constants.rb
  spec/support/user_helper.rb
  swagger/definitions/request/agents/agent.yaml
  swagger/definitions/request/agents/agent_create.yaml
  swagger/definitions/resource/agent.yaml
  swagger/swagger.json
  test/api/functional/api_agents_controller_test.rb
  test/api/helpers/agents_test_helper.rb
  test/api/unit/freshchat/agent_util_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[Technical Story] FD-50219 - FSM for 2020 & lower plans in 2019 (#8307)
  app/helpers/subscriptions_helper.rb
  app/models/account/constants.rb
  config/features/plans.yml
  lib/admin/advanced_ticketing/field_service_management/util.rb
  lib/saas/drop_feature_data.rb
  lib/saas/subscription_event_actions.rb
  test/app/controllers/subscriptions_controller_test.rb
Owners: none

[FD-47083] Redirect freshchat v2 accounts to their domain (#8104)
  api/app/controllers/decorators/account_decorator.rb
  test/api/helpers/bootstrap_test_helper.rb
Owners: none

FD-50646 Cloudfront US Ejson fix (#8314)
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
Owners: none

[Technical Story] [FD-43122] - Publish tag delete to subscribers (#7593)
  Gemfile
  app/controllers/helpdesk/tags_controller.rb
  app/models/helpdesk/tag.rb
  app/workers/tag_uses_cleaner.rb
  app/workers/update_all_publisher.rb
  lib/rabbit_mq/constants.rb
  test/api/helpers/test_class_methods.rb
  test/app/controllers/helpdesk/tags_controller_test.rb
Owners: @sram2020

Revert "[Technical Story] [FD-43122] - Publish tag delete to subscribers (#7593)" (#8317)
  Gemfile
  app/controllers/helpdesk/tags_controller.rb
  app/models/helpdesk/tag.rb
  app/workers/tag_uses_cleaner.rb
  app/workers/update_all_publisher.rb
  lib/rabbit_mq/constants.rb
  test/api/helpers/test_class_methods.rb
  test/app/controllers/helpdesk/tags_controller_test.rb
Owners: @sram2020

[Technical Story] FD-50547 Answeriq emailbot (#8210)
  .rubocop_rails.yml
  api/app/controllers/channel/v2/tickets_controller.rb
  app/models/account/features.rb
  app/models/helpdesk/ticket/presenter.rb
  config/features/features.yml
  lib/channel_authentication.rb
  lib/helpdesk/dispatcher.rb
  public/javascripts/portal/email-bot.js
  test/api/functional/channel/v2/tickets_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
Owners: none

[User Story] FD-50760 feature flagging for agent assist (#8262)
  api/app/controllers/ember/agent_assist_controller.rb
  app/models/account/features.rb
  config/addons.yml
  config/channel_api_keys.yml
  config/features/features.yml
  config/features/plans.yml
  config/freddy_skills_config.yml
  db/fixtures/global/002_subscription_plans.rb
  db/migrate/20200421140142_add_freddy_ultimate_to_addons.rb
  deploy/config/erb/freddy_skills_config.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/agent_assist/util.rb
  lib/saas/add_feature_data.rb
  lib/saas/drop_feature_data.rb
  test/api/functional/ember/agent_assist_controller_test.rb
Owners: @venkatesanmurali, @thanashyam

FD-47125 config change (#8318)
  deploy/before_migrate.rb
Owners: none

FD-47125 config change
  deploy/before_migrate.rb
Owners: none

agent assist feature flaging commit
  api/app/controllers/ember/agent_assist_controller.rb
  app/models/account/features.rb
  config/addons.yml
  config/channel_api_keys.yml
  config/features/features.yml
  config/features/plans.yml
  config/freddy_skills_config.yml
  db/fixtures/global/002_subscription_plans.rb
  db/migrate/20200421140142_add_freddy_ultimate_to_addons.rb
  deploy/config/erb/freddy_skills_config.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/agent_assist/util.rb
  lib/saas/add_feature_data.rb
  lib/saas/drop_feature_data.rb
  test/api/functional/ember/agent_assist_controller_test.rb
Owners: @venkatesanmurali, @thanashyam

moving bot feature from estate to forest
  config/features/plans.yml
Owners: none

autofaq feature move from estate to forest (#8320)
  config/features/plans.yml
Owners: none

FD-47125 chat config change
  deploy/config/erb/freshcaller_subscription_config.yml.erb
  deploy/config/erb/freshchat_subscription_config.yml.erb
  lib/billing/omni_subscription_update_methods.rb
  lib/freshchat/util.rb
Owners: none

[Technical Story] [FD-50855] Shopify test fix (#8322)
  test/api/functional/ember/installed_applications_controller_test.rb
Owners: none

FD-50849 - Stringify Org ID while generating JWT token (#8328)
  api/app/controllers/channel/v2/iam/authentication_controller.rb
Owners: none

[Technical Story] FD-47094 Adding keys for trial_widget API (#8290)
  config/account_setup_keys.yml
  test/api/helpers/admin/ticket_fields/section_mapping_test_cases.rb
Owners: none

[Technical Story] FD-47125 chat config change (#8331)
  deploy/config/erb/freshcaller_subscription_config.yml.erb
  deploy/config/erb/freshchat_subscription_config.yml.erb
  deploy/config/settings-staging-us-east-1.ejson
  lib/billing/omni_subscription_update_methods.rb
  lib/freshchat/util.rb
Owners: none

[User Story] FD-50766 : Freshid SSO Enable or Disable (#8323)
  app/controllers/fdadmin/accounts_controller.rb
Owners: none

[Technical Story] FD-49683 Modify the FSM API settings to new namespace (#8226)
  api/app/controllers/field_service_management_controller.rb
  api/app/controllers/settings/helpdesk/field_service_controller.rb
  api/app/controllers/validations/settings/helpdesk/field_service_validation.rb
  api/app/views/settings/helpdesk/field_service/show_settings.json.api
  config/api_privileges.rb
  config/api_routes.rb
  swagger/definitions/index.yaml
  swagger/definitions/request/field_service/save_settings.yaml
  swagger/paths/field_service/save_settings.yaml
  swagger/paths/index.yaml
  test/api/functional/field_service_management_controller_test.rb
  test/api/functional/settings/field_service_controller_test.rb
  test/api/unit/field_service_validation_test.rb
Owners: none

[L4 Bug] FD-34355 - Quoted text timezone and language (#8212)
  app/controllers/concerns/application_view_concern.rb
  app/controllers/concerns/tickets_view_concern.rb
  config/locales/mint_translations/en.yml
  spec/support/user_helper.rb
  swagger/definitions/index.yaml
  swagger/definitions/response/meta.yaml
  swagger/definitions/response/tickets/vault_meta_token.yaml
  swagger/paths/conversations/reply.yaml
  swagger/paths/tickets/crud.yaml
  swagger/swagger.json
  test/api/functional/ember/conversations_controller_test.rb
  test/core/helpers/users_test_helper.rb
  test/models/helpers/users_test_helper.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[L4 Bug] [FD-48746] cld_bug_fix (#8298)
  app/workers/users/detect_language.rb
  test/api/sidekiq/detect_user_language_test.rb
Owners: none

[Bug] [FD-50106] initial_commit (#8242)
  api/app/delegators/channel/v2/ticket_filter_delegator.rb
  app/models/wf/filter.rb
Owners: none

[L4 Bug] [FD-35605] : Quoted text parsing bug (#8296)
  lib/helpdesk/email/incoming_email_handler.rb
  test/api/unit/incoming_email_handler_test.rb
Owners: none

[Technical Story] FD-50881 Answeriq canned article (#8336)
  app/models/account/features.rb
  config/features/features.yml
Owners: none

[User Story] [FD-50614]: Adding signups changes for emberize agent form (#8327)
  app/models/account/callbacks.rb
  app/models/account/constants.rb
  lib/redis/keys/others.rb
  test/api/unit/freshcaller/agent_util_test.rb
  test/api/unit/freshchat/agent_util_test.rb
Owners: none

[L4 Bug] [FD-50615] Seed ticket_statuses with position on creating a new account (#8313)
  api/app/controllers/builders/status_choice_builder.rb
  db/fixtures/foreground/035_ticket_statuses.rb
  test/api/functional/admin/ticket_fields_controller_test.rb
Owners: none

FD-47125 org id change (#8348)
  lib/billing/omni_subscription_update_methods.rb
Owners: none

FD-47125 org id change (#8348)
  lib/billing/omni_subscription_update_methods.rb
Owners: none

[User Story] [FD-50614]: Adding signups changes for emberize agent form (#8327)
  app/models/account/callbacks.rb
  app/models/account/constants.rb
  lib/redis/keys/others.rb
  test/api/unit/freshcaller/agent_util_test.rb
  test/api/unit/freshchat/agent_util_test.rb
Owners: none

[User Story] [FD-48340] Admin freshchat UI omni version (#8324)
  app/controllers/admin/freshchat_controller.rb
  app/helpers/chat_helper.rb
  app/views/admin/freshchat/_omnichannel_chat.html.erb
  app/views/admin/freshchat/index.html.erb
  app/views/admin/freshchat/signup_error.html.erb
  config/locales/mint_translations/en.yml
  public/images/freshchat/freshchat-sync-error.svg
  public/src/falcon/falcon-common.scss
  public/src/page/admin/_home.scss
  test/api/sidekiq/freshchat_subscription_update_test.rb
Owners: none

[User Story] [FD-48340] Admin freshchat UI omni version (#8324)
  app/controllers/admin/freshchat_controller.rb
  app/helpers/chat_helper.rb
  app/views/admin/freshchat/_omnichannel_chat.html.erb
  app/views/admin/freshchat/index.html.erb
  app/views/admin/freshchat/signup_error.html.erb
  config/locales/mint_translations/en.yml
  public/images/freshchat/freshchat-sync-error.svg
  public/src/falcon/falcon-common.scss
  public/src/page/admin/_home.scss
  test/api/sidekiq/freshchat_subscription_update_test.rb
Owners: none

[User Story] FD-50766 : Freshid SSO Enable or Disable (#8323)
  app/controllers/fdadmin/accounts_controller.rb
Owners: none

[Technical Story] FD-47094 Adding keys for trial_widget API (#8290)
  config/account_setup_keys.yml
  test/api/helpers/admin/ticket_fields/section_mapping_test_cases.rb
Owners: none

[Technical Story] FD-46097 Freshdesk aloha callback apis (#8334)
  Gemfile
  Gemfile.lock
  app/controllers/aloha/signup_controller.rb
  config/aloha_config.yml
  config/routes.rb
  deploy/config/erb/aloha_config.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/aloha/constants.rb
  lib/aloha/util.rb
  lib/aloha/validations.rb
  test/core/functional/aloha/signup_controller_test.rb
  test/core/helpers/aloha_signup_test_helper.rb
Owners: none

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @thanashyam
db/migrate/*.rb @venkatesanmurali @thanashyam

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @prakash-chokalingam @rajasegar-c
api/lib/error_messages.yml @shankar-ganesh @akshayasrikanth

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p
