Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @thanashyam, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @prakash-chokalingam, @shankar-ganesh, @akshayasrikanth, @paschalraj, @hrishikesh-p

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @thanashyam
db/migrate/*.rb @venkatesanmurali @thanashyam

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @prakash-chokalingam @rajasegar-c
api/lib/error_messages.yml @shankar-ganesh @akshayasrikanth

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

[Technical Story] FD-46846 : hide secure field in Account data export, central changes (#7823)
  api/app/controllers/constants/admin/ticket_field_constants.rb
  app/models/helpdesk/ticket.rb
  app/models/helpdesk/ticket/presenter.rb
  lib/central_constants.rb
  test/models/helpdesk/ticket_model_test.rb
  test/models/presenters/helpdesk/ticket_test.rb
Owners: none

[Technical Story] [FD-45806]: theme_text color, button_text color change (#7727)
  api/app/controllers/constants/help_widget_constants.rb
  api/app/controllers/validations/help_widget_validation.rb
  app/models/help_widget/constants.rb
  test/api/functional/help_widgets_controller_test.rb
  test/api/helpers/help_widgets_test_helper.rb
  test/api/unit/help_widgets_validation_test.rb
Owners: none

[User Story] FD-44205, plan migration feature loss optimisation (#7618)
  app/helpers/subscriptions_helper.rb
  app/models/subscription_plan.rb
  app/views/subscriptions/_downgrade_feature_loss.html.erb
  app/views/subscriptions/_select_new_plans.html.erb
  app/views/subscriptions/_submit_plan.html.erb
  config/feature_description_keys.yml
  lib/helpdesk/initializers/load_config.rb
Owners: none

[User Story] FD-43178 : Capturing Account URL in Chargebee: (#7693)
  app/models/account/callbacks.rb
Owners: none

[User Story] FD-46053 PCI in Support portal. (#7765)
  api/app/controllers/constants/pci_constants.rb
  api/lib/tickets_validation_helper.rb
  app/controllers/support/tickets_controller.rb
  app/helpers/support_helper.rb
  app/models/portal.rb
  app/views/support/archive_tickets/_archive_ticket_details.html.erb
  app/views/support/shared/_secure_field.html.erb
  app/views/support/tickets/_request_form.html.erb
  app/views/support/tickets/_ticket_details.html.erb
  lib/support_ticket_controller_methods.rb
  public/javascripts/cdn/portal_bottom.js
  public/javascripts/helpdesk/secure_field.js
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/tickets_controller_test.rb
  test/app/controllers/support/tickets_controller_test.rb
Owners: none

[User Story] [FD-47019]-Adding the keys for SLA reminders for 2020 pricing (#7818)
  app/models/account/features.rb
  config/features/features.yml
  config/features/plans.yml
  test/app/controllers/subscriptions_controller_test.rb
Owners: none

FD-47531 Remove envoy egress for email outbound (#7881)
  deploy/config/erb/fd_email_service.yml.erb
Owners: none

FD-46847 : make pci_compliance_field feature to bitmap
  api/app/controllers/tickets_controller.rb
  api/app/delegators/ticket_delegator.rb
  app/controllers/ticket_fields_controller.rb
  app/helpers/admin/roles_helper.rb
  app/models/account/features.rb
  config/features/features.yml
  test/api/functional/admin/ticket_fields_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/tickets_controller_test.rb
Owners: none

[FD-47531] Remove envoy egress for email outbound (#7880)
  deploy/config/erb/fd_email_service.yml.erb
Owners: none

[Technical Story] FD-47575 : Beamer launch party (#7779)
  app/models/account/features.rb
Owners: none

[User Story] FD-46604 - Remove Garden Omni plan from 2020 plans (#7866)
  app/helpers/subscriptions_helper.rb
  app/models/subscription.rb
  app/models/subscription_plan.rb
  app/views/subscriptions/_calculate_amount.html.erb
  app/views/subscriptions/_select_new_plans.html.erb
  app/views/subscriptions/features/toggle-box/_ocr_toggle.html.erb
  app/views/subscriptions/state/_trial.html.erb
  config/features/plan_features.yml
  db/fixtures/global/002_subscription_plans.rb
  db/migrate/20200227103617_remove_garden_omni_from2020_plans.rb
Owners: @venkatesanmurali, @thanashyam

[Technical Story] FD-44613 - add write_access column to agent_groups (#7811)
  db/migrate/20200228063609_add_write_access_to_agent_groups.rb
  db/schema.rb
Owners: @venkatesanmurali, @thanashyam

FD-46847 : remove LP feature
  app/models/account/features.rb
Owners: none

FD-46847 : test cases correction
  test/api/functional/admin/ticket_fields_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/tickets_controller_test.rb
Owners: none

Update features.rb
  app/models/account/features.rb
Owners: none

[Technical Story] [FD-46041]: Remove login support launch party (#7785)
  api/app/controllers/widget/attachments_controller.rb
  api/app/controllers/widget/bootstrap_controller.rb
  api/app/controllers/widget/tickets_controller.rb
  app/models/account/features.rb
  app/views/admin/security/index.html.erb
  lib/widget_authentication.rb
  test/api/functional/admin/security_keys_controller_test.rb
  test/api/functional/widget/attachments_controller_test.rb
  test/api/functional/widget/bootstrap_controller_test.rb
  test/api/functional/widget/search/solutions_controller_test.rb
  test/api/functional/widget/solutions/articles_controller_test.rb
  test/api/functional/widget/ticket_fields_controller_test.rb
  test/api/functional/widget/tickets_controller_test.rb
  test/api/helpers/help_widgets_test_helper.rb
Owners: none

[Technical Story] FD-47330 - Adding more logs for Salesforce Sync (#7856)
  lib/integration_services/services/cloud_elements/hub/crm/freshdesk_ticket_object_resource.rb
Owners: none

Retry Emails for too many login attempts error (#7877)
  lib/email/mailbox/constants.rb
  lib/helpdesk/initializers/mail_message_patch.rb
Owners: none

[Technical Story] FD-46828 Add authz service related config in helpkit (#7814)
  config/authz_config.yml
  deploy/before_migrate.rb
  deploy/config/erb/authz_config.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  lib/authz/constants.rb
  lib/helpdesk/initializers/load_config.rb
Owners: none

[User Story] FD-44852 limit increase in sar (#7743)
  api/app/controllers/constants/help_widgets/suggested_article_rules_constants.rb
  api/app/controllers/help_widgets/suggested_article_rules_controller.rb
  api/app/controllers/widget/solutions/articles_controller.rb
  app/models/help_widget.rb
  lib/help_widget/rule_matcher.rb
  lib/memcache_keys.rb
  test/api/functional/help_widgets/suggested_article_rules_controller_test.rb
Owners: none

[User Story] FD-35244 - Article interlinking changes (#7788)
  api/app/controllers/validations/solution_article_filter_validation.rb
  app/models/account/features.rb
  config/features/features.yml
  config/features/plans.yml
  test/api/functional/ember/solutions/articles_controller_test.rb
Owners: none

[User Story] FD-45912 Search API changes for contact form enhancement (#7745)
  api/app/views/api_search/contacts/index.json.api
  lib/helpdesk/initializers/freshquery.rb
  test/api/functional/api_search/contacts_controller_test.rb
  test/api/helpers/search_test_helper.rb
  test/api/helpers/users_test_helper.rb
Owners: none

[Bug] FD-46213 Article feedback count mismatch in ticket list page (#7845)
  app/models/helpdesk/filters/custom_ticket_filter.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/helpers/tickets_test_helper.rb
Owners: none

FD-46536 : Ignore Replication Lags for Sandbox (#7742)
  lib/utils/freno.rb
Owners: none

Revert "[User Story] FD-43178 : Capturing Account URL in Chargebee: (#7693)" (#7904)
  app/models/account/callbacks.rb
Owners: none

Revert "[User Story] FD-43178 : Capturing Account URL in Chargebee: (#7693)"
  app/models/account/callbacks.rb
Owners: none

[Technical Story] FD-43958: Handling plan downgrade and associating feature to plan (#7376)
  config/features/features.yml
  config/features/plans.yml
  lib/saas/account_data_cleanup.rb
  lib/saas/subscription_event_actions.rb
  test/models/presenters/facebook_ad_posts_test.rb
  vendor/gems/facebook/app/models/social/facebook_page.rb
Owners: none

[Technical Story] [FD-46627]- Adding service task automation lp and manage_service_task_automation_rules privilege (#7899)
  app/models/account/constants.rb
  app/models/account/features.rb
  config/privileges.yml
Owners: none

[User Story] FD-45917- Update trf fields when note is created (#7755)
  api/app/controllers/validations/channel/v2/contact_validation.rb
  api/lib/error_messages.yml
  app/models/contact_field.rb
  app/models/user.rb
  app/models/user/associations.rb
  lib/channel_integrations/commands/services/twitter.rb
  swagger/definitions/resource/contact.yaml
  swagger/swagger.json
  test/api/functional/channel/api_contacts_controller_test.rb
  test/api/shoryuken/channel_message_poller_test.rb
  test/core/helpers/twitter_test_helper.rb
Owners: @shankar-ganesh, @akshayasrikanth, @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[User Story] FD-45337 Increasing attachment size limit (#7730)
  api/app/controllers/decorators/account_decorator.rb
  api/app/controllers/decorators/solutions/article_decorator.rb
  api/app/delegators/api_solutions/article_delegator.rb
  app/helpers/solution_helper.rb
  app/models/account/features.rb
  config/features/features.yml
  lib/cloud_files_helper.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
  test/api/helpers/solutions_test_helper.rb
Owners: none

[User Story] FD-47177 : proxy sql changes (#7859)
  deploy/config/erb/database_cluster.yml.erb
  deploy/config/settings-staging-us-east-1.ejson
Owners: none

[Technical Story] FD-46629 : Adding german translation keys (#7761)
  config/locales/de.yml
Owners: none

FD-36388: Salesforce ticket update bug fix (#7810)
  lib/integration_services/services/cloud_elements/hub/crm/freshdesk_ticket_object_resource.rb
Owners: none

FD-47433, Changes to accept GET, POST and DELETE calls. (#7875)
  api/app/controllers/channel/v2/iam/authentication_controller.rb
  api/app/views/channel/v2/iam/authentication/authenticate.json.api
  config/api_routes.rb
  test/api/functional/channel/v2/iam/authentication_controller_test.rb
Owners: none

FD-45254 - Support FB message_echoes realtime webhook events (#7720)
  app/models/account/constants.rb
  app/models/account/features.rb
  config/locales/mint_translations/en.yml
  test/api/helpers/facebook_test_helper.rb
  test/api/shoryuken/facebook_message_realtime_test.rb
  vendor/gems/facebook/lib/facebook/constants.rb
  vendor/gems/facebook/lib/facebook/koala_wrapper/real_time_message.rb
  vendor/gems/facebook/lib/facebook/ticket_actions/real_time_message.rb
  vendor/gems/facebook/lib/facebook/util.rb
Owners: none

[Technical Story] FD-44604: Ooo shift automations (#7734)
  Gemfile
  api/app/controllers/constants/admin/automation_constants.rb
  api/app/controllers/constants/admin/condition/ticket_field_constants.rb
  api/app/controllers/constants/admin/condition_constants.rb
  api/app/controllers/constants/out_of_office_constants.rb
  api/app/controllers/helpers/admin/automation_helper.rb
  api/app/controllers/helpers/admin/condition_helper.rb
  app/models/agent.rb
  app/models/agent/constants.rb
  app/models/helpdesk/ticket/associations.rb
  app/models/user/associations.rb
  config/locales/en.yml
  config/va_rule_engine.yml
  lib/admin/automation/automation_summary.rb
  lib/admin/shift_helper.rb
  swagger/definitions/resource/automation_rule.yaml
  swagger/swagger.json
  test/api/helpers/automation/condition_validation_test_helper.rb
  test/api/sidekiq/admin/dispatcher_worker_test.rb
  test/api/sidekiq/admin/observer_worker_test.rb
  test/api/unit/admin/automation_rules/conditions/ticket_validation_test.rb
  test/models/helpers/agent_test_helper.rb
Owners: @prakash-chokalingam, @rajasegar-c, @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

FD-40963 Correcting german translation for Urgent (#7863)
  config/locales/de.yml
Owners: none

[Bug] FD-46732 : Parent child infra added to selectable_features (#7889)
  config/features/features.yml
  test/app/controllers/subscriptions_controller_test.rb
Owners: none

[Bug] [FD-46224] Incoming FB/twitter tickets are failing when FSM groups is… (#7843)
  app/helpers/admin/social/streams_helper.rb
  app/views/admin/social/twitter_streams/_convert_dm.html.erb
  app/views/admin/social/twitter_streams/_smart_filter_header.html.erb
  app/views/admin/social/twitter_streams/_ticket_rule_form.html.erb
  app/views/admin/social/twitter_streams/edit.html.erb
  vendor/gems/facebook/app/views/admin/social/facebook_streams/_convert_dm.html.erb
  vendor/gems/facebook/app/views/admin/social/facebook_streams/_ticket_rules.html.erb
  vendor/gems/facebook/app/views/admin/social/facebook_streams/_ticket_rules_new.html.erb
  vendor/gems/facebook/app/views/admin/social/facebook_streams/edit.html.erb
Owners: none

[Iteration Bug] [FD-45835]: Agents Api Manage Users Privilege Fix (#7770)
  api/app/controllers/decorators/agent_decorator.rb
  api/app/controllers/decorators/contact_decorator.rb
  test/api/functional/ember/agents_controller_test.rb
Owners: none
