Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @venkatesanmurali, @thanashyam, @sram2020, @abinaya21, @ksashikumar, @rajasegar-c, @parsurv, @vishnubalajikm, @prakash-chokalingam, @shankar-ganesh, @akshayasrikanth, @paschalraj, @hrishikesh-p

.github/CODEOWNERS:

db/schema.rb @venkatesanmurali @thanashyam
db/migrate/*.rb @venkatesanmurali @thanashyam

lib/rabbit_mq/* @sram2020

swagger/* @thanashyam @venkatesanmurali @abinaya21 @ksashikumar

public/* @rajasegar-c @parsurv @vishnubalajikm
config/locales/en.yml @prakash-chokalingam @rajasegar-c
api/lib/error_messages.yml @shankar-ganesh @akshayasrikanth

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p

[User Story] FD-47856 ticket field delete when feature rollback (#8009)
  app/workers/vault/account_worker.rb
  test/api/sidekiq/vault/account_worker_test.rb
Owners: none

[Bug] FD-46595 Fix for status update issue in sprout plan. (#7789)
  api/app/controllers/helpers/admin/picklist_value_helper.rb
  api/app/controllers/helpers/admin/ticket_field_helper.rb
  api/app/controllers/validations/admin/ticket_fields_validation.rb
  test/api/functional/admin/ticket_fields_controller_test.rb
  test/api/helpers/admin/section_helper.rb
  test/api/helpers/admin/ticket_fields/section_mapping_test_cases.rb
Owners: none

FD-48378 vault service url change in us pod (#8025)
  deploy/config/settings-production-us-east-1.ejson
Owners: none

[Bug] FD-41973 Updating companies in folder visibility are not indexing (#7915)
  app/models/solution/folder_meta.rb
  test/api/functional/api_solutions/folders_controller_test.rb
Owners: none

[Bug] FD-48209: Fix user id of note to_emails - central publisher (#7996)
  app/models/helpdesk/note/presenter.rb
  lib/central_constants.rb
  test/models/helpers/notes_test_helper.rb
Owners: none

FD-37027-Article hyper links are not coming in blue links at support portals (#7998)
  public/src/portal/lib/_content.scss
  public/src/portal/lib/_falcon_content.scss
Owners: none

[Technical Story] FD-48375 value change stack settings for agent_assist (#8030)
  config/channel_api_keys.yml
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
Owners: none

[Task] [FD-46563] Suppress Error to avoid marking Build Unstable if Sonarqube Analysis failed (#8034)
  script/Jenkinsfile
Owners: none

[Technical Story] [FD-48392] Pre Rails6: Controller compatibility changes (#8032)
  .gitignore.rails2
  api/app/controllers/admin/canned_forms_controller.rb
  api/app/controllers/api_company_imports_controller.rb
  api/app/controllers/api_contact_imports_controller.rb
  api/app/controllers/api_customer_imports_controller.rb
  api/app/controllers/api_roles_controller.rb
  api/app/controllers/ember/companies_controller.rb
  api/app/controllers/ember/contacts_controller.rb
  api/app/controllers/ember/ticket_filters_controller.rb
  api/app/controllers/helpers/audit_log/translators/automation_rule.rb
  api/app/controllers/ticket_summary_controller.rb
  app/controllers/application_controller.rb.rails2
  config/compass.rb.rails2
  config/database.yml.rails2
  config/environment.rb.rails2
  config/environments/development.rb.rails2
  config/environments/production.rb.rails2
  config/environments/staging.rb.rails2
  config/fontcustom.yml.rails2
  config/routes.rb.rails2
  doc/README_FOR_APP.rails2
  lib/helpdesk/initializers/rails3_patches.rb
Owners: none

[Bug] FD-46618 : FSM section data corruption issue fix (#7986)
  lib/admin/advanced_ticketing/field_service_management/util.rb
Owners: none

[Bug] FD-46318 : Update ticket is failing when file field have random data. (#7949)
  api/app/controllers/decorators/ticket_decorator.rb
  app/models/helpdesk/ticket/callbacks.rb
  test/api/functional/ember/tickets_controller_test.rb
Owners: none

[L4 Bug] FD-42728 Fix cc email caps issue (#7993)
  app/models/helpdesk/ticket.rb
Owners: none

[Bug] FD-44006 Custom fields values in user time zone (#8014)
  lib/export/ticket.rb
  test/api/functional/ember/tickets_controller_test.rb
Owners: none

[Technical Story] FD-46403: Rubocop custom checks for rails deprecated methods (#7721)
  .pronto.yml
  .rubocop_rails.yml
  .rubocop_todo.yml
  Gemfile
  Gemfile.lock
  script/Jenkinsfile
  script/rubocop/cop/gem/aws_global_var.rb
  script/rubocop/cop/gem/aws_s3.rb
  script/rubocop/cop/gem/aws_v1.rb
  script/rubocop/cop/gem/will_paginate.rb
  script/rubocop/cop/rails/finder_method.rb
  script/rubocop/cop/rails/json_generate.rb
  script/rubocop/cop/rails/match_route.rb
  script/rubocop/cop/rails/query_args.rb
  script/rubocop/cop/rails/update_all_query.rb
  script/rubocop/cop/readme.md
Owners: none

FD-48561 : Replacing enable_beamer check (#8055)
  app/models/account/features.rb
Owners: none

[User Story] [FD-45452, FD-45450] - Dashboard translation summary, article performance API. (#7778)
  api/app/controllers/constants/dashboard_constants.rb
  api/app/controllers/ember/dashboard/solutions_controller.rb
  api/app/controllers/validations/solution_dashboard_validation.rb
  api/app/delegators/solution_dashboard_delegator.rb
  api/app/views/ember/dashboard/solutions/article_performance.json.api
  api/app/views/ember/dashboard/solutions/translation_summary.json.api
  config/api_privileges.rb
  config/api_routes.rb
  lib/solution/portal_language_filter.rb
  swagger/definitions/index.yaml
  swagger/definitions/response/dashboard/article_performance.yaml
  swagger/definitions/response/dashboard/translation_summary.yaml
  swagger/paths/dashboard/article_performance.yaml
  swagger/paths/dashboard/translation_summary.yaml
  swagger/paths/index.yaml
  swagger/swagger.json
  test/api/functional/ember/dashboard/solutions_controller_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[Technical Story] [FD-48302] Enabling new ticket fields for signups (#8010)
  app/models/account/constants.rb
Owners: none

[Bug] [FD-48447] Fixing validation error issue for nested_fields. (#8042)
  api/app/controllers/helpers/admin/picklist_value_helper.rb
  app/models/helpdesk/ticket_field.rb
Owners: none

[L4 Bug] FD-47693 help_widget ip whitelisting (#7941)
  lib/middleware/trusted_ip.rb
  test/api/integration/flows/private_api_flows_test.rb
  test/api/integration/flows/widget_api_flows_test.rb
  test/api/suites/all_tests.rb
  test/lib/all_tests/constants.rb
Owners: none

[User Story] FD-46844, FD-46845 - Cleanup Vault Data on Ticket close/delete (#7903)
  api/lib/ticket_merge.rb
  app/helpers/support_helper.rb
  app/models/helpdesk/ticket.rb
  app/models/helpdesk/ticket/callbacks.rb
  app/models/helpdesk/ticket_field.rb
  app/workers/tickets/bulk_ticket_actions.rb
  app/workers/tickets/clear_tickets/base_worker.rb
  app/workers/tickets/vault_data_cleanup_worker.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  deploy/config/erb/sidekiq_classification.yml.erb
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/sidekiq_config.rb
  lib/helpdesk/ticket_bulk_actions.rb
  lib/jwt/secure_service_jwe_factory.rb
  lib/vault/client.rb
  test/api/functional/ember/tickets/bulk_actions_controller_test.rb
  test/api/functional/ember/tickets/merge_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/sidekiq/tickets/clear_tickets/base_worker_test.rb
Owners: none

[User Story] [FD-45448] Solution dashboard (#7830)
  api/app/controllers/concerns/dashboard_concern.rb
  api/app/controllers/constants/api_dashboard_constants.rb
  api/app/controllers/ember/dashboard_controller.rb
  api/app/controllers/ember/solutions/home_controller.rb
  api/app/controllers/validations/dashboard_validation.rb
  api/app/views/ember/solutions/home/quick_views.json.api
  app/models/account/constants.rb
  app/models/account/features.rb
  lib/solution/portal_language_filter.rb
  test/api/functional/ember/dashboard_controller_test.rb
  test/api/helpers/solutions_test_helper.rb
Owners: none

[Technical Story] [FD-46349] Service task automations CRUD (#7865)
  api/app/controllers/admin/automations_controller.rb
  api/app/controllers/constants/admin/automation_constants.rb
  api/app/controllers/helpers/admin/condition_validation_helper.rb
  app/helpers/admin/roles_helper.rb
  app/models/account/associations.rb
  app/models/va_rule.rb
  app/models/va_rule/esv2_methods.rb
  config/locales/mint_translations/en.yml
  lib/helpdesk/initializers/virtual_agent.rb
  lib/helpdesk/roles.rb
  test/api/functional/admin/automations_controller_test.rb
  test/api/helpers/automations_test_helper.rb
  test/lib/helpers/va_rules_test_helper.rb
Owners: none

Unit Test | Updated Jenkinsfile to run all tests in containers instead of Process (#8041)
  script/ContainerizedJenkinsfile
  sonar-project.properties
  test/helpers/simple_cov_setup.rb
  test/prepare_test_suite.rb
Owners: none

[User Story] FD-45117 -Configure automation with trf fields (#7902)
  api/app/controllers/constants/admin/automation_constants.rb
  api/app/controllers/constants/admin/condition/contact_field_constants.rb
  api/app/controllers/helpers/admin/condition_validation_helper.rb
  api/app/controllers/validations/admin/automation_rules/conditions/contact_validation.rb
  app/controllers/admin/va_rules_controller.rb
  app/models/account/features.rb
  config/features/features.yml
  config/features/plans.yml
  config/locales/en.yml
  config/va_rule_engine.yml
  config/virtual_agent.yml
  test/api/functional/admin/automations_controller_test.rb
  test/app/controllers/subscriptions_controller_test.rb
  test/lib/helpers/va_rules_test_helper.rb
Owners: @prakash-chokalingam, @rajasegar-c

[Technical Story] FD-48052 Archive Sidekiq, shoryuken Config, sidekiq multiple reroute configs (#7920)
  config/sidekiq_classification.yml
  deploy/config/erb/sqs.yml.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  deploy/config/sidekiq_config.rb
  lib/account/sidekiq_control/config.rb
  lib/account/sidekiq_control/route_drop.rb
  lib/middleware/sidekiq/server/route_or_drop.rb
Owners: none

[Technical Story] FD-48558: Feature check for rabbitmq iris publish (#8054)
  app/models/account/features.rb
  lib/rabbit_mq/subscribers/accounts/iris.rb
  lib/rabbit_mq/subscribers/archive_tickets/iris.rb
  lib/rabbit_mq/subscribers/notes/iris.rb
  lib/rabbit_mq/subscribers/tickets/iris.rb
  lib/rabbit_mq/subscribers/users/iris.rb
Owners: none

[Bug] FD-48521 PCI field error in section field (#8029)
  app/views/support/tickets/_ticket_details.html.erb
  public/javascripts/helpdesk/secure_field.js
Owners: none

[L4 Bug] FD-48754 support emoji in custom streams reply (#8015)
  app/workers/social/twitter_reply_worker.rb
  lib/conversations/twitter.rb
  test/api/sidekiq/social/twitter_reply_worker_test.rb
Owners: none

[User Story] FD-43998 bulk agent create via channel api (#7992)
  api/app/controllers/api_agents_controller.rb
  api/app/controllers/api_application_controller.rb
  api/app/controllers/bulk_api_jobs_controller.rb
  api/app/controllers/constants/agent_constants.rb
  api/app/controllers/ember/agents_controller.rb
  api/app/controllers/helpers/bulk_api_jobs_helper.rb
  api/app/views/agents/create.json.api
  api/app/views/api_agents/create_multiple.json.api
  api/app/views/ember/agents/create_multiple.json.api
  app/models/account.rb
  app/models/agent.rb
  app/workers/bulk_api_jobs/agent.rb
  app/workers/bulk_api_jobs/worker.rb
  config/api_privileges.rb
  config/api_routes.rb
  config/channel_v2_privileges.rb
  config/privileges.rb
  swagger/paths/agents/create_multiple.yaml
  swagger/paths/agents/update_multiple.yaml
  swagger/swagger.json
  test/api/functional/api_agents_controller_test.rb
  test/api/functional/ember/agents_controller_test.rb
Owners: @thanashyam, @venkatesanmurali, @abinaya21, @ksashikumar

[User Story] FD-44124 : Added new freshchat and freshcaller plan mapping (#7609)
  app/controllers/admin/freshchat_controller.rb
  app/models/account.rb
  app/models/subscription.rb
  app/views/subscriptions/features/toggle-box/_ocr_toggle.html.erb
  app/views/subscriptions/state/_active.html.erb
  app/views/subscriptions/state/_trial.html.erb
  config/product_plan_mapping.yml
  lib/helpdesk/initializers/load_config.rb
Owners: none

[FD-46954] :bug: No index /hits (#8018)
  app/views/support/robots.txt.erb
Owners: none

[L4 Bug] FD-37321 observer race condition fix (#7657)
  app/models/account/features.rb
  app/models/agent.rb
  app/models/helpdesk/ticket.rb
  app/models/helpdesk/ticket/callbacks.rb
  app/models/va_rule.rb
  app/workers/tickets/observer_worker.rb
  lib/cache/memcache/account.rb
  lib/cache/memcache/va_rule.rb
  lib/memcache_keys.rb
  lib/va/constants.rb
  lib/va/observer/util.rb
  test/api/sidekiq/admin/dispatcher_worker_test.rb
  test/api/sidekiq/admin/observer_worker_test.rb
  test/core/helpers/automation_rules_test_helper.rb
Owners: none

[User Story] [FD-44068] Marketplace native apps installation deletion (#8036)
  app/controllers/admin/marketplace/apps_controller.rb
  app/controllers/integrations/applications_controller.rb
  app/controllers/integrations/marketplace_apps_controller.rb
  app/views/integrations/applications/index.html.erb
  app/views/integrations/applications/show.html.erb
  lib/marketplace/gallery_constants.rb
  test/app/controllers/integrations/marketplace_apps_controller_test.rb
Owners: none

[User Story] FD-48339 API response changes for contact merge enhancement (#8016)
  api/app/controllers/decorators/contact_decorator.rb
  api/app/views/api_search/contacts/index.json.api
  test/api/functional/api_search/contacts_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/helpers/search_test_helper.rb
  test/api/helpers/tickets_test_helper.rb
  test/api/helpers/users_test_helper.rb
Owners: none

FD-48308 - Filter timeline activities based on object only for ticket and posts (#8023)
  lib/hyper_trail/data_transformer/activity_data_transformer.rb
  lib/hyper_trail/response.rb
  test/api/functional/ember/contacts_controller_test.rb
  test/api/helpers/timeline_test_helper.rb
Owners: none

[User Story] FD-44927 Handle KB visibility on the portal side based on segments (#7756)
  api/app/controllers/api_solutions/folders_controller.rb
  api/app/controllers/constants/solution_constants.rb
  api/app/controllers/decorators/solutions/folder_decorator.rb
  api/app/controllers/validations/api_solutions/folder_validation.rb
  api/app/delegators/api_solutions/folder_delegator.rb
  api/lib/error_messages.yml
  app/controllers/support/search_v2/spotlight_controller.rb
  app/models/account/associations.rb
  app/models/company_filter.rb
  app/models/contact_filter.rb
  app/models/solution/article/esv2_methods.rb
  app/models/solution/folder.rb
  app/models/solution/folder_meta.rb
  app/models/solution/folder_visibility_mapping.rb
  app/models/user.rb
  db/migrate/20200324150156_folder_visibility_mapping.rb
  db/schema.rb
  lib/saas/drop_feature_data.rb
  lib/saas/subscription_event_actions.rb
  lib/solution/constants.rb
  lib/solution/object.rb
  spec/support/user_helper.rb
  test/api/functional/api_solutions/folders_controller_test.rb
  test/api/helpers/segment_filters_test_helper.rb
  test/api/helpers/solutions_test_helper.rb
  test/app/controllers/support/home_controller_test.rb
  test/lib/helpers/company_segments_test_helper.rb
  test/lib/helpers/contact_segments_test_helper.rb
Owners: @shankar-ganesh, @akshayasrikanth, @venkatesanmurali, @thanashyam

[Technical Story] FD-48791 Agent Assist Key change in all pods (#8073)
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
Owners: none

[User Story] FD-47069 help widget pagination (#7999)
  api/app/controllers/help_widgets_controller.rb
  test/api/functional/help_widgets_controller_test.rb
Owners: none

FD-48559 Enable optar_cache for all PODs (#8053)
  app/models/account/features.rb
  lib/cache/memcache/account.rb
Owners: none

FD-48552 Fix for adding missing IP in application log (#8051)
  lib/middleware/application_logger.rb
Owners: none
