Repository Ramesh-Veeriaperumal/freshconsult, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prakash-chokalingam, @rajasegar-c, @paschalraj, @thanashyam, @hrishikesh-p, @ramesh-naidu-e2605-fw

.github/CODEOWNERS:

config/locales/en.yml @prakash-chokalingam @rajasegar-c

lib/sanitize/config/html_relaxed.rb  @paschalraj
lib/sanitize/config/image_relaxed.rb @paschalraj
lib/sanitize/config/* @thanashyam @hrishikesh-p @ramesh-naidu-e2605-fw

[Technical Story] FD-51545 - Up prometheus exporter (#8427)
  Gemfile
  Gemfile.lock
Owners: none

adding service_task_dispatcher queue to sidekiq_classification.yml.erb (#8436)
  deploy/config/erb/sidekiq_classification.yml.erb
Owners: none

[Technical Story, Task] [FD-50913][FD-50914][FD-50912] : Custom source swagger (#8437)
  swagger/definitions/resource/archive_ticket.yaml
  swagger/definitions/resource/ticket.yaml
  swagger/definitions/response/ticket_templates/show.yaml
  swagger/definitions/response/tickets/associated_ticket.yaml
  swagger/help_widget/definitions/resource/ticket.yaml
  swagger/help_widget/swagger.json
  swagger/swagger.json
Owners: none

[Bug] FD-51559 Send article_ticket_destroy payload on archive_ticket delete (#8433)
  app/models/article_ticket/presenter.rb
  app/models/helpdesk/archive_ticket.rb
  test/models/helpers/solutions_test_helper.rb
Owners: none

[L4 Bug] FD-51558 need to pass bot portal Id (#8429)
  lib/freddy/util.rb
  lib/ml/bot.rb
Owners: none

[Technical Story] FD-50179, code cleanup (#8266)
  app/models/account/constants.rb
  app/models/account/features.rb
  lib/saas/subscription_event_actions.rb
  test/app/mailers/report_export_mailer_test.rb
  test/app/mailers/subscription_notifier_test.rb
  test/lib/unit/proxy_feature_test.rb
Owners: none

FD-51410 moving agent articles suggest to forest (#8402)
  config/features/plans.yml
Owners: none

[Technical Story] [FD-48918] Split and combine different access types in canned response folders (#8088)
  api/app/controllers/canned_response_folders_controller.rb
  app/models/helpdesk/access.rb
  lib/helpdesk_access_methods.rb
  test/api/functional/canned_response_folders_controller_test.rb
Owners: none

[L4 Bug] FD-37363 : mail attachments with line having characters more than 990… (#8358)
  app/mailers/helpdesk/ticket_notifier.rb
  app/models/account/features.rb
  lib/helpdesk/initializers/mail_message_patch.rb
Owners: none

FD-51395 increase ryuken worker count for archive (#8399)
  deploy/config/shoryuken_config.rb
Owners: none

FD-38562:add null check for note user while rendering old UI (#8455)
  app/views/helpdesk/tickets/show/_note.html.erb
Owners: none

[User Story] FD-50274 - Show loyalty discount popup. (#8274)
  app/models/subscription.rb
Owners: none

FD-48811 Removing surveys_central_publish feature (#8356)
  app/models/account/features.rb
  lib/surveys/presenter_helper.rb
  test/models/presenters/custom_survey/survey_handle_test.rb
  test/models/presenters/custom_survey/survey_question_choice_test.rb
  test/models/presenters/custom_survey/survey_question_test.rb
  test/models/presenters/custom_survey/survey_result_test.rb
  test/models/presenters/custom_survey/survey_test.rb
  test/models/presenters/survey_handle_test.rb
  test/models/presenters/survey_result_test.rb
  test/models/presenters/survey_test.rb
Owners: none

[Bug] FD-48106 Restricting base64 content in article description (#8270)
  api/app/controllers/api_solutions/articles_controller.rb
  api/app/delegators/api_solutions/article_delegator.rb
  api/app/delegators/api_solutions/draft_delegator.rb
  api/lib/error_messages.yml
  app/helpers/solution_helper.rb
  lib/sanitize/config/article_whitelist.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
  test/api/functional/ember/solutions/drafts_controller_test.rb
  test/api/helpers/solutions_test_helper.rb
Owners: @thanashyam, @hrishikesh-p, @ramesh-naidu-e2605-fw

[Technical Story] FD-48813 Redis picklist id cleanup (#8293)
  app/models/account.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/helpdesk/picklist_value.rb
  lib/saas/subscription_event_actions.rb
  test/api/functional/admin/custom_translations/download_controller_test.rb
  test/api/functional/admin/custom_translations/upload_controller_test.rb
  test/api/functional/admin/custom_translations_controller_test.rb
  test/api/functional/ember/ticket_fields_controller_test.rb
  test/lib/helpdesk/ticketfields/picklist_value_transformer/string_to_id_test.rb
  test/models/helpdesk/picklist_value_test.rb
Owners: none

[User Story] FD-49026 Sending approvers in es_params (#8459)
  lib/solution/article_filters.rb
  test/api/functional/ember/solutions/articles_controller_test.rb
Owners: none

[Bug] FD-51547 Fix Slave lag issue in DeleteSolutionMetaWorker (#8426)
  app/workers/delete_solution_meta_worker.rb
  test/api/helpers/solutions_articles_test_helper.rb
  test/api/sidekiq/delete_solution_meta_worker_test.rb
Owners: none

[Bug] FD-51118 adding agentassist features in subscription event actions (#8371)
  lib/saas/subscription_event_actions.rb
Owners: none

[Bug] [FD-51702] Fix manage_templates option visibility (#8451)
  app/helpers/admin/roles_helper.rb
Owners: none

[Technical Story] FD-49717 - Social dynamo DB client migration and make the tables on demand (#8190)
  Gemfile
  Gemfile.lock
  app/workers/cron_webhooks/social_create_dynamodb_tables.rb
  app/workers/cron_webhooks/social_increase_dynamodb_capacity.rb
  app/workers/cron_webhooks/social_reduce_dynamodb_capacity.rb
  config/sidekiq_classification.yml
  config/sidekiq_client.yml
  deploy/config/erb/sidekiq_classification.yml.erb
  deploy/config/sidekiq_config.rb
  lib/cron_webhooks/constants.rb
  lib/social/dynamo/exception_handler.rb
  lib/social/dynamo/facebook.rb
  lib/social/dynamo/feed/base.rb
  lib/social/dynamo/feed/facebook.rb
  lib/social/dynamo/feed/twitter.rb
  lib/social/dynamo/interaction.rb
  lib/social/dynamo/twitter.rb
  lib/social/dynamo/unprocessed_feed.rb
  lib/social/dynamo_helper.rb
  lib/social/stream/feed.rb
  lib/social/stream/interaction.rb
  lib/social/stream/twitter_feed.rb
  lib/social/stream/util.rb
  lib/tasks/social.rake
  spec/support/dynamo_helper.rb
  spec/support/twitter_helper.rb
  test/api/sidekiq/cron_webhook/social_dynamodb_tables_test.rb
  test/api/sidekiq/facebook_delta_worker_test.rb
  test/app/controllers/social/twitter_controller_test.rb
  test/lib/all_tests/constants.rb
  test/lib/unit/social/social_dynamo_methods_test.rb
Owners: none

FD-50588 - API to fetch mobile auth token to support seamless mobile onboarding (#8351)
  app/controllers/user_sessions_controller.rb
  config/routes.rb
  test/app/controllers/user_sessions_controller_test.rb
Owners: none

[FD-51757] change the us region endpoint (#8462)
  deploy/config/settings-production-us-east-1.ejson
Owners: none

[L4 Bug] FD-44652 updated (#8384)
  api/app/controllers/validations/contact_validation.rb
  api/app/controllers/validations/conversation_validation.rb
  api/app/controllers/validations/ticket_validation.rb
  app/mailers/helpdesk/ticket_notifier.rb
  app/models/account/features.rb
  app/views/widgets/feedback_widgets/new.html.erb
  lib/account_constants.rb
  lib/email_parser.rb
  lib/parser_util.rb
  test/api/functional/conversations_controller_test.rb
  test/api/functional/ember/contacts_controller_test.rb
  test/api/functional/ember/conversations_controller_test.rb
  test/api/functional/ember/tickets_controller_test.rb
  test/api/functional/tickets_controller_test.rb
  test/api/unit/conversation_validation_test.rb
  test/api/unit/parser_util_test.rb
  test/app/controllers/contacts_controller_test.rb
  test/app/controllers/support/tickets_controller_test.rb
  test/lib/unit/email_regex_validator_test.rb
Owners: none

FD-48814 - Cleanup launch party key:freshvisual_configsb (#8365)
  app/models/account/callbacks.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  test/api/unit/reports/pricing_api_test.rb
Owners: none

Subscription update changes (#8467)
  app/controllers/billing/billing_controller.rb
  app/controllers/fdadmin/billing_controller.rb
Owners: none

[Technical Story] FD-51238 - adding version_key (#8380)
  app/models/account.rb
  app/models/account/features.rb
  app/models/helpdesk/note/presenter.rb
  app/models/helpdesk/ticket/presenter.rb
  app/models/helpdesk/time_sheet/presenter.rb
  lib/central_constants.rb
  lib/rabbit_mq/subscribers/notes/activities.rb
  lib/rabbit_mq/subscribers/subscriptions/activities.rb
  lib/rabbit_mq/subscribers/ticket_old_bodies/activities.rb
  lib/rabbit_mq/subscribers/tickets/activities.rb
  lib/rabbit_mq/subscribers/time_sheets/activities.rb
  test/models/helpers/notes_test_helper.rb
  test/models/helpers/tickets_test_helper.rb
  test/models/helpers/time_sheets_test_helper.rb
  test/models/presenters/helpdesk/note_test.rb
  test/models/presenters/helpdesk/ticket_test.rb
  test/models/presenters/helpdesk/time_sheet_test.rb
Owners: none

FD-50947 : Custom sources - Plan based feature (#8414)
  app/models/account/features.rb
  config/features/features.yml
  config/features/plans.yml
Owners: none

FD-50971 Dropdown creation fail for a ticket field (#8349)
  app/models/helpdesk/ticket_field.rb
Owners: none

[Technical Story] FD-44570 - Add new column agent_type to roles table (#7493)
  app/models/account.rb
  app/models/agent_type.rb
  app/models/signup.rb
  db/migrate/20200128052648_add_agent_type_to_roles.rb
  db/schema.rb
  lib/admin/advanced_ticketing/field_service_management/util.rb
  lib/cache/memcache/account.rb
  lib/helpdesk/roles.rb
  test/api/unit/agent_type_test.rb
Owners: none

FD-50302 : Adding beamer configs (#8405)
  deploy/config/erb/stack-config.js.erb
  deploy/config/settings-production-ap-south-1.ejson
  deploy/config/settings-production-ap-southeast-2.ejson
  deploy/config/settings-production-eu-central-1.ejson
  deploy/config/settings-production-us-east-1.ejson
  deploy/config/settings-staging-us-east-1.ejson
  deploy/config/settings-stagingn1stack-us-east-1.ejson
Owners: none

[L4 Bug] [FD-35901]:Changing shopify scope (#8411)
  config/oauth_config.yml
  deploy/config/erb/oauth_config.yml.erb
  lib/omniauth/strategies/shopify.rb
Owners: none

fixing disable fsm error (#8464)
  lib/admin/advanced_ticketing/field_service_management/util.rb
Owners: none

[Exception] Added log to debug FD-51608 (#8438)
  api/lib/base_error.rb
  test/api/unit/bad_request_error_test.rb
Owners: none

[Technical Story] FD-48736-Twitter Requester Fields launch party clean up (#8074)
  api/app/controllers/channel/api_contacts_controller.rb
  api/app/controllers/decorators/account_decorator.rb
  api/app/controllers/decorators/contact_decorator.rb
  api/app/controllers/validations/admin/automation_rules/conditions/contact_validation.rb
  api/app/controllers/validations/channel/v2/contact_validation.rb
  api/app/views/api_contacts/create.json.api
  api/app/views/api_contacts/index.json.api
  api/app/views/api_contacts/show.json.api
  api/app/views/api_contacts/update.json.api
  app/controllers/admin/va_rules_controller.rb
  app/helpers/contacts_helper.rb
  app/models/account.rb
  app/models/account/constants.rb
  app/models/account/features.rb
  app/models/contact_form.rb
  app/models/user.rb
  db/fixtures/background/012b_contact_fields.rb
  lib/channel_integrations/commands/services/twitter.rb
  lib/export_csv_util.rb
  lib/import_csv_util.rb
  lib/redis/keys/others.rb
  test/api/functional/admin/automations_controller_test.rb
  test/api/functional/channel/api_contacts_controller_test.rb
  test/api/functional/ember/contact_fields_controller_test.rb
  test/api/helpers/users_test_helper.rb
  test/api/shoryuken/channel_message_poller_test.rb
  test/app/controllers/accounts_controller_test.rb
  test/core/helpers/twitter_test_helper.rb
Owners: none

[Bug] [FD-51523]Fix ticket filters central publish during signups (#8428)
  app/models/helpdesk/filters/ticket_filter_transformation_constants.rb
  app/models/helpdesk/filters/transform_ticket_filter.rb
  test/models/presenters/helpdesk/ticket_filter_transformation_test.rb
Owners: none

Moved proactive keys to mint yml file (#8452)
  config/locales/en.yml
  config/locales/mint_translations/en.yml
Owners: @prakash-chokalingam, @rajasegar-c

[Technical Story] FD-51388 : FreshOps Admin FreshID Migration Changes (#8397)
  app/controllers/fdadmin/accounts_controller.rb
  lib/redis/keys/others.rb
Owners: none

[Technical Story] [FD-51332] name field will show when user enter a valid email address (#8391)
  app/views/admin/portal/settings.html.erb
  app/views/support/shared/_requester.html.erb
  app/views/support/tickets/_request_form.html.erb
  public/javascripts/app/admin/portal_settings.js
Owners: none

[L4 Bug] FD-49653 Support for images in OG Meta tags and twitter cards (#8363)
  app/controllers/support/solutions/articles_controller.rb
  app/controllers/support_controller.rb
  lib/portal/helpers/article.rb
  test/app/controllers/support/home_controller_test.rb
Owners: none

[Security Bug] FD-51592 - Unauthorised access to other company tickets bug fix (#8477)
  app/models/user/constants.rb
Owners: none
